footer .poweredby {
  float: right;
  margin: 33px 10px 0 0;
}
footer .poweredby img {
  width: 120px;
}
body {
  padding-top: 70px;
}
.browse {
  font-size: 1em !important;
}
.browse td:nth-child(2),
.browse td:nth-child(3),
.browse td:nth-child(4) {
  font-family: "Junicode", Georgia, "Times New Roman", serif;
}
.browse td:nth-child(5) {
  width: 180px;
  text-align: right;
}
@media (min-width: 768px) {
  .toc {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0 20px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background: #fafafa url(../images/body-bg.png) top left repeat;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
  }
  .toc ul {
    padding-left: 20px;
  }
}
.navbar-default {
  margin-bottom: 0;
}
.main {
  margin-top: 50px;
}
#content-inner {
  font-family: Junicode, Georgia, Times, serif;
  font-size: 16px;
}
.content h1 {
  font-size: 2.441em;
}
.content h2 {
  font-size: 1.953em;
}
.content h3 {
  font-size: 1.563em;
}
.content h4 {
  font-size: 1.25em;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-family: Junicode, Georgia, Times, serif;
  line-height: 1.2;
}
.content > * > section {
  border-top: 1px solid #777;
  margin: 2.5em 0;
  padding-top: 2em;
}
#content-container {
  -webkit-animation-duration: 400ms;
  -moz-animation-duration: 400ms;
  animation-duration: 400ms;
  overflow: auto;
}
@media (min-width: 769px) {
  #content-container {
    margin-left: 60px;
    margin-right: 60px;
  }
}
.margin-right {
  margin-right: 200px;
  position: relative;
}
.code1 {
  font-family: "Ubuntu Mono", Menlo, Consolas, Courier, monospace;
}
.alternate {
  cursor: pointer;
  color: #7777FF;
}
.alternate .altcontent {
  display: none;
}
/*.alternate:hover .altcontent {*/
/*    display: inline;*/
/*    color: red;*/
/*}*/
.note,
.popover {
  font-size: 13px;
}
.note {
  vertical-align: super;
  cursor: pointer;
  margin-left: .25em;
}
.margin-note-ref {
  font-size: small;
  vertical-align: super;
  color: #777;
  margin-right: 4px;
}
.margin-note {
  background: #F8F8FF;
  /*border: 1px solid #CACACA;*/
  display: block;
  font-size: small;
  margin-right: -200px;
  margin-bottom: 5px;
  padding: 5px;
  float: right;
  clear: both;
  /* position: absolute;*/
  /*right: 0;*/
  /*top: auto;*/
  width: 190px;
}
.margin-note .n {
  color: #777;
}
@media (max-width: 768px) {
  .margin-note {
    display: none;
  }
  .margin-right {
    margin-right: 0;
  }
}
.pb,
.pb2 {
  /*background: #eeeeee;*/
  /*display: block;*/
  /*text-align: center;*/
  font-size: small;
  float: none !important;
  display: inline !important;
  margin: 0 !important;
  color: #eeeeee;
  /*margin-right: -200px;*/
  /*padding: 5px;*/
  /*position: absolute;*/
  /*right: 0;*/
  /*top: auto;*/
  /*width: 190px;*/
  /*overflow: visible;*/
}
.pb:before {
  content: '[p. ' !important;
}
.label:not(.note) {
  font-weight: bold;
  font-size: inherit;
  color: inherit;
  padding: inherit;
  margin: inherit;
}
/* Page by page navigation */
#content-inner {
  min-height: 450px;
}
.page-nav {
  width: 30px;
  font-size: 20px;
}
@media (min-width: 769px) {
  .page-nav {
    position: fixed;
    margin: 0;
    width: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 40px;
    text-align: center;
  }
  .nav-next {
    right: 10px;
  }
  .nav-prev {
    left: 10px;
  }
}
.page-nav:link,
.page-nav,
.page-nav:active {
  text-decoration: none;
  color: #ccc;
}
.navigation-top {
  margin-bottom: 1em;
  border-bottom: 2px solid #CCC;
}
.navigation-top h5 {
  text-align: center;
  font-family: "Junicode", Georgia, "Times New Roman", serif;
  font-size: 16px;
  padding: 10px 10px 10px 0;
  margin-left: 60px;
  margin-right: 60px;
}
@media (max-width: 768px) {
  .navigation-top h5 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .nav-next {
    float: right;
    margin-top: 10px;
    margin-bottom: auto;
  }
  .nav-prev {
    float: left;
    margin-top: 10px;
  }
}
.actions {
  margin-bottom: 10px;
}
.btn-group .hidden-xs {
  margin-left: .5em;
}
.btn-group .hidden-xs + span {
  margin-left: .5em;
}
.documents td:nth-child(3) {
  text-align: right;
  width: 320px;
}
@media (max-width: 768px) {
  .documents {
    table-layout: fixed;
  }
  .documents td:nth-child(1) {
    white-space: pre-line;
    word-wrap: break-word;
  }
  .documents th:nth-child(3) {
    width: 160px;
  }
}
.result-count {
  font-size: .666em;
  margin-left: 1em;
}
#results {
  font-size: 1em;
  table-layout: fixed;
}
#results .following,
#results .previous,
#results .hi {
  /*white-space: pre-wrap;*/
  /* css-3 */
  /*white-space: -moz-pre-wrap;*/
  /* Mozilla, since 1999 */
  /*white-space: -pre-wrap;*/
  /* Opera 4-6 */
  /*white-space: -o-pre-wrap;*/
  /* Opera 7 */
  word-wrap: break-word;
}
#results .previous {
  text-align: right;
}
#results .hi {
  width: 10em;
  text-align: center;
}
#results .reference .number {
  margin-right: 1em;
}
