.navbarBackgroundImage {
  background-size: auto 100%;
}
.logo {
  background-size: auto 100%;
}
a,
a:hover,
a:focus {
  color: #303f9f;
}
.main {
  margin-top: 50px;
  margin-bottom: 20px;
}
#content-inner {
  font-family: "Junicode", Georgia, "Times New Roman", serif;
  font-size: 16px;
}
.content h1 {
  font-size: 2.441em;
}
.content h2 {
  font-size: 1.953em;
}
.content h3 {
  font-size: 1.563em;
}
.content h4 {
  font-size: 1.25em;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-family: "Junicode", Georgia, "Times New Roman", serif;
  line-height: 1.2;
}
.content > * > section {
  border-top: 1px solid #777;
  margin: 2.5em 0;
  padding-top: 2em;
}
.content mark {
  background-color: #FFEB3B;
}
.content .code1 {
  font-family: "Ubuntu Mono", Menlo, Consolas, Courier, monospace;
}
.content .alternate {
  cursor: pointer;
  color: #7777FF;
}
.content .alternate .altcontent {
  display: none;
}
.content .note,
.content .popover {
  font-size: 13px;
}
.content .note {
  vertical-align: super;
  cursor: pointer;
  margin-left: .25em;
}
.content .margin-note-ref {
  font-size: small;
  vertical-align: super;
  color: #777;
  margin-right: 4px;
}
.content .margin-note {
  background: #b6b6b6;
  /*border: 1px solid #CACACA;*/
  display: block;
  font-size: small;
  margin-right: -200px;
  margin-bottom: 5px;
  padding: 5px;
  float: right;
  clear: both;
  /* position: absolute;*/
  /*right: 0;*/
  /*top: auto;*/
  width: 190px;
}
.content .margin-note .n {
  color: #777;
}
@media (max-width: 768px) {
  .content .margin-note {
    display: none;
  }
  .content .margin-right {
    margin-right: 0;
  }
}
.content .pb,
.content .pb2 {
  /*background: #eeeeee;*/
  /*display: block;*/
  /*text-align: center;*/
  font-size: small;
  float: none !important;
  display: inline !important;
  margin: 0 !important;
  color: #eeeeee;
  /*margin-right: -200px;*/
  /*padding: 5px;*/
  /*position: absolute;*/
  /*right: 0;*/
  /*top: auto;*/
  /*width: 190px;*/
  /*overflow: visible;*/
}
.content .pb:before {
  content: '[p. ' !important;
}
.content .label:not(.note) {
  font-weight: bold;
  font-size: inherit;
  color: inherit;
  padding: inherit;
  margin: inherit;
}
#content-container {
  -webkit-animation-duration: 400ms;
  -moz-animation-duration: 400ms;
  animation-duration: 400ms;
  overflow: auto;
}
@media (min-width: 769px) {
  #content-container {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media (max-width: 768px) {
  #content-container {
    margin-bottom: 5em;
  }
}
.margin-right {
  margin-right: 200px;
  position: relative;
}
/* Page by page navigation */
#content-inner {
  min-height: 450px;
}
@media (min-width: 769px) {
  .navigation-top {
    margin-bottom: 1em;
    border-bottom: 2px solid #CCC;
  }
}
.navigation-top h5 {
  text-align: center;
  font-family: "Junicode", Georgia, "Times New Roman", serif;
  font-size: 16px;
  padding: 10px 10px 10px 0;
}
@media (max-width: 768px) {
  .navigation-top .nav-next {
    right: 10px;
  }
}
.page-nav,
.page-nav:link,
.page-nav:active {
  background-color: #607d8b !important;
}
@media (min-width: 769px) {
  .page-nav,
  .page-nav:link,
  .page-nav:active {
    position: fixed;
    top: 50%;
  }
}
@media (max-width: 768px) {
  .page-nav,
  .page-nav:link,
  .page-nav:active {
    position: fixed;
    bottom: 20px;
  }
}
.actions {
  margin-bottom: 10px;
  margin-top: 61px;
}
.btn-group .hidden-xs {
  margin-left: .5em;
}
.btn-group .hidden-xs + span {
  margin-left: .5em;
}
.documents h5 {
  font-family: "Junicode", Georgia, "Times New Roman", serif;
  font-size: 16px;
}
.documents .toolbar {
  float: right;
  margin-top: 0;
}
.documents > li {
  list-style: none;
  border-bottom: 1px solid #C0C0C0;
  margin-bottom: 15px;
}
.documents .clear {
  clear: both;
}
.documents .header-short h1 {
  font-family: "Junicode", Georgia, "Times New Roman", serif;
  font-size: 20px;
}
.browse {
  font-size: 1em !important;
}
.browse td:nth-child(2),
.browse td:nth-child(3),
.browse td:nth-child(4) {
  font-family: "Junicode", Georgia, "Times New Roman", serif;
}
.browse td:nth-child(5) {
  width: 180px;
  text-align: right;
}
@media (min-width: 768px) {
  .toc {
    position: fixed;
    top: 61px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0 20px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background: #fafafa url(../images/body-bg.png) top left repeat;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
  }
  .toc ul {
    padding-left: 20px;
  }
}
.navbar-default {
  margin-bottom: 0;
  background-color: #3f51b5 !important;
  background-size: auto 100%;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  background-size: auto 100%;
}
.top {
  margin-top: 61px;
}
.panel.panel-primary > .panel-heading {
  background-color: #C5CAE9;
}
.panel.panel-info > .panel-heading {
  background-color: #607D8B;
}
.search {
  margin-top: 81px;
}
#results {
  font-family: "Junicode", Georgia, "Times New Roman", serif;
}
#results td {
  border: 0;
}
#results .reference {
  border-top: 1px solid #ddd;
}
#results .reference .number,
#results .reference .headings {
  display: table-cell;
}
#results .reference .number {
  padding-right: 1em;
}
#msg-progress {
  display: none;
  font-weight: bold;
  margin-left: 2em;
  animation: blinker 1.2s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
footer .poweredby {
  float: right;
  margin: 33px 10px 0 0;
}
footer .poweredby img {
  width: 120px;
}
