// main: style.less

body {
  font-family:      @font-sans-serif;
  font-size:        @font-size-body-default;
  background-color: @color-body-bg;
  color:            @color-body-text-default;
}

a {
  color: @color-link;
  &:hover,
  &:focus {
    color: @color-link-hover;
  }
}
