// main: style.less

// the application logo to be shown top left in the navigation bar
.logo {
  background-image: url('../images/tei-publisher-logo-contrast-color.svg');
  background-repeat: no-repeat;
  padding-left: 220px;

  @media (max-width: 1199px) {
    background-position: 5px 5px;
    background-size: auto 40px;
  }

  @media (min-width: 1200px) {
    background-position: 7px 7px;
    background-size: auto 46px;
  }

  span {
    margin-left: 60px;
    display: none;
  }
}

.navbar-default {
  margin-bottom: 0;
  background-color: #35424b !important;

  .navbar-brand, .navbar-brand:focus, .navbar-brand:hover {
    .logo();
  }
}

.navigation-top {
  @media (min-width: 769px) {
    margin-bottom: 1em;
    border-bottom: 2px solid #CCC;
  }

  h5 {
    text-align: center;
    font-family: @serifFont;
    font-size: 16px;
    padding: 10px 10px 10px 0;
  }

  @media (max-width: 768px) {
    .nav-next {
      right: 10px;
    }
  }
}
