// main: style.less


//
@serifFont: "Junicode", Georgia, "Times New Roman", serif;
@sansserifFont: Trebuchet, Verdana, "Helvetica", sans-serif;
@monospaceFont: "Ubuntu Mono", Menlo, Consolas, Courier, monospace;

// Margins right and left
@margin-right-content-inner:  200px; // Swap values for right to left direction of text
@margin-left-content-inner:   0;
