<?xml version="1.0" encoding="UTF-8"?>
<footer class="tp-footer-nav" xmlns:i18n="http://exist-db.org/xquery/i18n">
    <nav data-template="pages:navigation">
        <!-- Page navigation: <prev || next> -->
        <a data-template="pages:navigation-link" data-template-direction="previous" class="nav-prev page-nav btn btn-primary">
            <i class="material-icons">navigate_before</i>
        </a>
        <a data-template="pages:navigation-link" data-template-direction="next" class="nav-next page-nav btn btn-primary">
            <i class="material-icons">navigate_next</i>
        </a>
    </nav>
</footer>
