<app-toolbar class="menubar">
    <a href="${app}/index.html" class="logo" data-template="pages:parse-params"></a>
    <pb-media-query query="min-width: 1024px">
        <a href="${app}/index.html" data-template="pages:parse-params">Start</a>
        <paper-menu-button id="download-button">
            <a slot="dropdown-trigger" data-i18n="[title]menu.download.title" title="i18n(download)">
                <pb-i18n key="menu.download.title">Download</pb-i18n>
            </a>
            <paper-listbox slot="dropdown-content" data-template="lib:parse-params">
                <paper-item data-template="pages:if-supported" data-template-media="print">
                    <a href="${app}/print/${doc}" target="_new">Print CSS</a>
                </paper-item>
                <paper-item data-template="pages:if-supported" data-template-media="latex">
                    <pb-download type="tex" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)">
                        <pb-i18n key="menu.download.pdf-latex">Download</pb-i18n>
                    </pb-download>
                </paper-item>
                <paper-item data-template="pages:if-supported" data-template-media="latex">
                    <pb-download type="tex" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)" source="source">
                        <pb-i18n key="menu.download.latex-source"></pb-i18n>
                    </pb-download>
                </paper-item>
                <paper-item data-template="pages:if-supported" data-template-media="fo">
                    <pb-download type="pdf" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-fo" title="i18n(pdf-fo)">
                        <pb-i18n key="menu.download.pdf-fo"></pb-i18n>
                    </pb-download>
                </paper-item>
                <paper-item data-template="pages:if-supported" data-template-media="fo">
                    <pb-download type="pdf" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.fo-source" title="pdf-fo" source="source">
                        <pb-i18n key="menu.download.fo-source"></pb-i18n>
                    </pb-download>
                </paper-item>
                <paper-item data-template="pages:if-supported" data-template-media="epub">
                    <pb-download type="epub" src="document1" dialog="downloadDialog">
                        ePUB
                    </pb-download>
                </paper-item>
                <paper-item>
                    <pb-edit-xml src="document1" data-i18n="[title]menu.download.view-tei" title="view-tei">
                        XML
                    </pb-edit-xml>
                </paper-item>
            </paper-listbox>
        </paper-menu-button>
        <pb-restricted login="login">
            <paper-menu-button>
                <a href="#" slot="dropdown-trigger"><pb-i18n key="menu.admin.title">Admin</pb-i18n></a>
                <paper-listbox slot="dropdown-content">
                    <paper-item data-template="pages:edit-odd-list"></paper-item>
                    <paper-item>
                        <pb-download url="api/apps/download">
                            <pb-i18n key="appgen.xar-download">Download App as .xar</pb-i18n>
                        </pb-download>
                    </paper-item>
                    <paper-item>
                        <a href="${app}/api.html" data-template="lib:parse-params" target="_blank">API Documentation</a>
                    </paper-item>
                    <paper-item>
                        <a href="https://cdn.tei-publisher.com/" target="_blank">Webcomponents API</a>
                    </paper-item>
                </paper-listbox>
            </paper-menu-button>
        </pb-restricted>
   </pb-media-query>

    <!-- Search input -->
    <pb-search action="${app}/search.html" data-template="pages:parse-params" value="${query}"
       redirect="redirect"></pb-search>
    <pb-media-query query="min-width: 1024px">
       <pb-lang name="lang" data-template="pages:languages"/>
       <pb-login id="login" group="tei"/>
    </pb-media-query>
    
    <pb-media-query query="(max-width: 1023px)">
        <paper-icon-button icon="icons:menu" drawer-toggle="drawer-toggle"></paper-icon-button>
    </pb-media-query>
    
    <paper-dialog id="downloadDialog">
        <h2>
            <pb-i18n key="dialogs.generatingFile">Generating file ...</pb-i18n>
        </h2>
        <paper-dialog-scrollable>
            <pb-i18n key="dialogs.downloadMessage"></pb-i18n>
        </paper-dialog-scrollable>
        <div class="buttons">
            <paper-button dialog-confirm="dialog-confirm" autofocus="autofocus">
                <pb-i18n key="dialogs.close">Close</pb-i18n>
            </paper-button>
        </div>
    </paper-dialog>
</app-toolbar>
