<app-toolbar class="toolbar" sticky="sticky">
    <div id="toolbar-before" style="display: none"></div>
    <paper-icon-button id="tocToggle" class="toc-toggle" icon="icons:view-list"/>
    <a id="toolbar-parent" href="${app}/index.html?collection=${collection}" data-i18n="[title]browse.${collection}.title" title=""
        data-template="lib:parse-params">
        <paper-icon-button icon="icons:folder-open"></paper-icon-button>
    </a>
    <div id="toolbar-start" style="display: none"></div>
    <pb-restricted login="login">
        <pb-ajax subscribe="transcription" emit="transcription" url="api/odd" method="post" 
            data-template="lib:parse-params" event="pb-refresh"
            title="Recompile ODD" data-i18n="[title]menu.admin.recompile">
            <h3 slot="title"><pb-i18n key="menu.admin.recompile"></pb-i18n></h3>
            <paper-icon-button icon="icons:refresh"></paper-icon-button>
        </pb-ajax>
    </pb-restricted>
    <pb-zoom emit="transcription" direction="in" icon="icons:zoom-in"/>
    <pb-zoom emit="transcription" direction="out" icon="icons:zoom-out"/>
    <pb-navigation emit="transcription" keyboard="left"
        subscribe="transcription" direction="backward" unit="page">
        <paper-icon-button icon="icons:chevron-left"/>
    </pb-navigation>
    <pb-navigation emit="transcription" keyboard="right"
        subscribe="transcription" direction="forward" unit="page">
        <paper-icon-button icon="icons:chevron-right"/>
    </pb-navigation>
    <paper-icon-button icon="icons:menu" drawer-toggle="drawer-toggle"/>
    <pb-progress subscribe="transcription" indeterminate="indeterminate" bottom-item="bottom-item"/>
</app-toolbar>
