<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!--
<link rel="import" href="../bower_components/paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="odd-code-editor.html">
<link rel="import" href="code-mirror-styles.html">
-->


<!--
    todo: just ported 'statically' - needs functional integration and testing
-->

<dom-module id="odd-parameter">
    <template>
        <style include="code-mirror-styles">
            :host {
                display: block;
            }

            odd-code-editor {
                height: 3rem;
            }

            .wrapper{
                display:grid;
                grid-template-columns: 100px auto 20px;
                grid-column-gap: 10px;
            }
            .actions{
                align-self: end;
                text-align: right;
            }

        </style>

        <div class="wrapper">
            <paper-autocomplete id="combo" text="{{name}}" placeholder="[Param name]" label="Name"
                                source="[]"></paper-autocomplete>
            <paper-input id="textarea" on-change="_handleChange" value="{{value}}" label="value"></paper-input>
                <!--<textarea id="textarea" on-change="_handleChange"></textarea>-->
            <div class="actions">
                <paper-icon-button on-click="delete" icon="delete"></paper-icon-button>
            </div>
        </div>

    </template>

    <script>
        /**
         * `odd-parameter`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class OddParameter extends Polymer.Element {
            static get is() {
                return 'odd-parameter';
            }

            static get properties() {
                return {
                    name: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    value: {
                        type: String,
                        value: '',
                        notify: true,
                        reflectToAttribute: true,
                        observer: '_valueChanged'
                    }
                };
            }

            constructor() {
                super();

                const parameters = {
                    alternate: ["content", "default", "alternate"],
                    anchor: ["content", "id"],
                    block: ["content"],
                    body: ["content"],
                    break: ["content", "type"],
                    cell: ["content"],
                    cit: ["content", "source"],
                    "document": ["content"],
                    figure: ["content", "title"],
                    graphic: ["content", "url", "width", "height", "scale", "title"],
                    heading: ["content", "level"],
                    inline: ["content"],
                    link: ["content", "link"],
                    list: ["content"],
                    listItem: ["content"],
                    metadata: ["content"],
                    note: ["content", "place", "label"],
                    omit: ["content"],
                    paragraph: ["content"],
                    row: ["content"],
                    section: ["content"],
                    table: ["content"],
                    text: ["content"],
                    title: ["content"]
                };

            }

            connectedCallback() {
                super.connectedCallback();
            }

            updateList() {
                var autocomplete = [];
                var values = parameters[this.parent.getBehaviour()] || [];

                values.forEach(function (val) {
                    autocomplete.push({
                        text: val, value: val
                    });
                });
                this.$.combo.source = autocomplete;
            }

            delete(ev) {
                console.log('parameter delete ', ev);
                ev.preventDefault();
                this.dispatchEvent(new CustomEvent('parameter-remove', {}));
            }

            getData() {
                return {
                    name: this.$.combo.text,
                    value: this.$.value.get()
                };
            }

            show() {
                this.$.value.initCodeEditor();
            }

            _handleChange() {
                this.value = this.$.textarea.value;
            }

            _valueChanged() {
                this.$.textarea.value = this.value;
            }

        }

        window.customElements.define(OddParameter.is, OddParameter);
    </script>
</dom-module>
