<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="odd-message">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <slot></slot>
    </template>

    <script>
        /**
         * `OddMessage`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class OddMessage extends Polymer.Element {
            static get is() {
                return 'odd-message';
            }

            static get properties() {
                return {
                    prop1:{
                        type: String
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            show (text) {
                console.log('show', text)
            }

            set (title, text) {
                console.log('set', title, text)
            }
        }

        window.customElements.define(OddMessage.is, OddMessage);
    </script>
</dom-module>
