<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../pb-collapse.html">
<link rel="import" href="odd-edit-source.html">
<link rel="import" href="odd-element-spec.html">
<link rel="import" href="odd-message.html">
<link rel="import" href="../pb-common-styles.html">

<dom-module id="odd-editor">
    <template>
        <style include="pb-common-styles">
            :host {
                display: flex;
                /*margin: 30px 20px;*/

                --paper-input-container: {
                    padding: 0;
                };

                --paper-dialog-title: {
                    margin-top: 0;
                    padding: 12px;
                    background-color: #607D8B;
                    color: #F0F0F0;
                };

                --pb-view-height: calc(100vh - 94px);
                --app-drawer-width:400px;


            }

            aside{
                flex-grow:1;
                margin-right:20px;
                max-width:400px;
            }
            section{
                flex-grow:3;
            }

            paper-card{
                display: flex;
                flex-direction:column;
                --paper-card-header: {
                    background-color: #607D8B;
                };

                --paper-card-header-text: {
                    font-family: "Oswald",Verdana,"Helvetica",sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    color: #F0F0F0;
                };

            }

            paper-card#drawercard h3{
                /*background-color: var(--paper-card-header_-_background-color);*/

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

            }


            /* ported over but not checked yet */

            .specs {
                flex: 3 0;
                /*height: var(--pb-view-height);*/
                overflow: auto;
                position: relative;
                max-width: 800px;
                padding:6px;
            }

            .metadata {
                display: block;
                width: 100%;

                --pb-collapse-trigger: {
                    background-color: #d1dae0;
                    padding-left: 10px;
                }
            }

            .metadata div {
                padding: 0 16px 16px;
            }

            .metadata paper-input {
                margin-bottom: 10px;
            }

            #jump-to {
                margin-top: 1em;
            }

            odd-model {
                border-bottom: 1px solid #E0E0E0;
            }
            odd-model h4 {
                margin-top: 15px;
                padding-top: 5px;
                border-top: 1px solid #E0E0E0;
            }
            .renditions {
                margin-top: 10px;
            }
            .CodeMirror {
                height: auto;
                margin-left: 10px;
                padding-bottom: 7px;
                margin-bottom: 7px;
                border-bottom: 1px solid #E0E0E0;
            }
            .CodeMirror-empty {
                color: #C0C0C0;
            }
            .icons{
                display:inline-block;
                white-space: nowrap;
            }

            /* todo: this doesn't work - should refactor to have the complete trigger exposed here (move out of pb-collapse) */
            pb-collapse#meta ::slotted(.collapse-trigger){
                /*height:56px;*/
            }

            iron-collapse{
                --iron-collapse-transition-duration:0.8s;
            }

        </style>

        <iron-ajax id="loadContent" url="../modules/editor.xql"
                handle-as="json" content-type="application/x-www-form-urlencoded"
                method="GET"></iron-ajax>

        <iron-ajax id="saveOdd" url="../modules/editor.xql"
                handle-as="json" content-type="application/x-www-form-urlencoded"
                method="POST"></iron-ajax>

        <aside>
            <paper-card id="drawercard" heading="Visual ODD Editor">
                <div class="card-content">
                    <slot id="slot"></slot>
                    <h3>
                        <span>[[odd]]</span>

                        <span class="icons">
                            <odd-edit-source id="editSource"><paper-icon-button icon="code" title="ODD Source"></paper-icon-button></odd-edit-source>
                            <paper-icon-button on-click="_reload" icon="refresh" title="Refresh"></paper-icon-button>
                            <paper-icon-button on-click="save" icon="save" title="Save"></paper-icon-button>
                        </span>
                    </h3>
                    <div id="new-element" class="input-group">
                        <paper-input id="identNew" label="Add Element" always-float-label="always-float-label">
                            <paper-icon-button slot="suffix" on-click="addElementSpec" icon="add"></paper-icon-button>
                        </paper-input>
                    </div>

                    <div id="jump-to">
                        <paper-autocomplete id="jumpTo" label="Jump to ..." always-float-label="always-float-label"></paper-autocomplete>
                    </div>
                </div>
            </paper-card>
        </aside>

        <section class="specs" id="specs">

            <paper-card class="metadata">
                <pb-collapse id="meta">
                    <h4 slot="collapse-trigger" class="panel-title">
                        [[ _computedTitle(title, shortTitle, odd) ]]
                    </h4>
                    <div slot="collapse-content">
                        <paper-input id="title" name="title" value="{{title}}" label="Title"
                                     placeholder="[Title of the ODD]"></paper-input>
                        <paper-input id="titleShort" name="short-title" value="{{titleShort}}" label="Short title"
                                     placeholder="[Short title for display]"></paper-input>
                        <paper-input id="source" name="source" value="{{source}}" label="Source ODD"
                                     placeholder="[ODD to inherit from]"></paper-input>

                        <paper-input id="namespace" name="namespace" value="{{namespace}}" label="Namespace"
                                     placeholder="[Default namespace URI (if not TEI)]">
                            <paper-checkbox slot="prefix" id="useNamespace"
                                            title="Check for using a different namespace than TEI"></paper-checkbox>
                        </paper-input>
                    </div>
                </pb-collapse>
            </paper-card>

            <template id="specList" is="dom-repeat" items="{{elementSpecs}}" as="item">
                <odd-element-spec id="es_{{item.ident}}" ident="{{item.ident}}"
                        mode="{{item.mode}}" models="{{item.models}}"
                        on-element-spec-connected="elementSpecConnectedHandler"
                        on-element-spec-removed="removeElementSpec"
                        on-element-spec-toggled="handleElementSpecToggle"
                        on-click="_setCurrentSelection"
                        on-item-toggled="_setCurrentSelection"></odd-element-spec>
            </template>
        </section>
        <odd-message id="dialog" hidden></odd-message>

    </template>

    <script>
        /**
         * `odd-editor`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class OddEditor extends Polymer.Element {
            static get is() {
                return 'odd-editor';
            }

            static get properties() {
                return {
                    ident:{
                        type: String
                    },
                    mode:{
                        type: String
                    },
                    models:{
                        type: Array
                    },
                    odd: {
                        type: String,
                        observer: 'load',
                        reflectToAttribute:true
                    },
                    elementSpecs: {
                        type: Array,
                        value: () => [],
                    },
                    source: {
                        type: String,
                        value: null
                    },
                    title: {
                        type: String,
                        value: null
                    },
                    titleShort: {
                        type: String,
                        value: null
                    },
                    namespace: {
                        type: String
                    },
                    rootPath:{
                        type: String
                    },
                    currentItem: {
                        type: Object,
                        value: null
                    },
                    loading: {
                      type: Boolean,
                      value: false
                    },
                    indentString: {
                        type: String,
                        value: '    '
                    },
                    outputPrefix: {
                        type: String,
                        value: ''
                    },
                    outputRoot: {
                        type: String,
                        value: ''
                    },
                    currentSelection:{
                        type: Object
                    }
                };
            }

            // Observe changes to the users array
            static get observers() {
              return [
                '_specObserver(elementSpecs.splices)'
              ]
            }

            connectedCallback() {
                super.connectedCallback();
//                console.log(this, ' connected');
                console.log('connected root ', this.rootPath );

                if(this.odd){
//                    console.log('selector ', this.querySelector('odd-selector'));
//                    console.log('selector ', document.getElementById('selector'));

//                    console.log('selector ', this.children);
//                    this.children[0].setAttribute('selected',this.odd);
                }

                /*
                                self.refs.useNamespace.addEventListener('change', function() {
                                    self.refs.namespace.disabled = !this.checked;
                                });

                                self.refs.jumpTo.addEventListener('autocomplete-selected', self.jumpTo.bind(self));

                                CodeMirror.registerHelper("lint", "xquery", self.lintXQuery.bind(self));
                */


                this.$.useNamespace.addEventListener('change', function () {
                    this.$.namespace.disabled = !this.$.useNamespace.checked;
                });
                this.$.jumpTo.addEventListener('autocomplete-selected', this.jumpTo.bind(this));

                //propagate odd prop to odd-selector
                console.log("odd prop: ", this.odd);
                if(this.odd){
                    const selector = this.querySelector('odd-selector');
                    console.log('selector: ', selector);
                    selector.selected =  this.odd;
                }

                this.addEventListener('current-changed', this._changeSelection);
                this.addEventListener('copy', e => this._copy(e));
                this.addEventListener('paste', e => this._paste(e));

                this.focus();
            }

            elementSpecConnectedHandler (ev) {
              if (this.loading) { return; }
              console.log('set new connected odd-element-spec as currentItem', ev)
              this.setCurrentItem(ev.detail.target)
            }

            jumpTo () {
              const id = '#es_' + this.$.jumpTo.text;
              const target = this.shadowRoot.querySelector(id);

              if (!target) { return }
              this.$.jumpTo.clear();
              this.setCurrentItem(target)
            }

            _computedTitle (title, titleShort, odd) {
                if(!this.odd){
                    return ''
                }
              return title || titleShort || odd || 'Loading ...'
            }

            _copy(e){
                console.log('odd-editor._copy ', e);
                this.clipboard = e.detail.model;
//                console.log('odd-editor._copy clone', e.detail.model);
//                console.log('odd-editor._copy json stringified', JSON.stringify(e.detail.model));
//                console.log('odd-editor._copy json parsed', JSON.parse(JSON.stringify(e.detail.model)));
//                const clone = e.detail.model;
                const clone = JSON.parse(JSON.stringify(e.detail.model));
//                console.log('cloned ', clone);

                this.clipboard = clone;
//                console.log('odd-editor clipboard ', this.clipboard);
            }

            _paste(e){
//                console.log('odd-editor._paste ', e);
//                console.log('odd-editor._paste target', e.detail.target);
//                console.log('odd-editor._paste clipboard', this.clipboard);
                if (this.clipboard=={}) return;
                const targetElement = e.detail.target;
                targetElement.addModel(this.clipboard);
                targetElement.render();

//                console.log('odd-editor._paste clipboard', this.clipboard);
//                console.log('odd-editor._paste clipboard', this.$.specList.itemForElement(this.clipboard));
//                this.unshift('elementSpecs',this.clipboard);

            }

            _specMapper (spec) {
               return {
                 text: spec.ident,
                 value: spec.ident
               };
            }

            _specObserver (changeRecord) {
                console.log('_specObserver', changeRecord)
                // if (!changeRecord) { return; }
                const source = this.elementSpecs.map(this._specMapper);
                this.$.jumpTo.set('source', source);
            }

            lintXQuery(text) {
/*
                if (!text) {
                    return [];
                }
                return new Promise(function(resolve, reject) {
                    var params = {
                        action: "lint",
                        code: text
                    };
                    this.refs.loadContent.params = null;
                    this.refs.loadContent.body = params;
                    var request = this.refs.loadContent.generateRequest();
                    request.completes.then(function(req) {
                        const data = req.response;
                        if (data.status === 'fail') {
                            resolve([{
                                message: data.message,
                                severity: "error",
                                from: CodeMirror.Pos(data.line - 1, data.column),
                                to: CodeMirror.Pos(data.line - 1, data.column + 1)
                            }]);
                        } else {
                            resolve([]);
                        }
                    }.bind(this));
                }.bind(this));
*/
            }

            load() {
                if (this.loading) { return; }
                this.loading = true;
                this.set('elementSpecs', [])
                document.dispatchEvent(new CustomEvent('pb-start-update'));

                this.$.editSource.setPath(this.rootPath + '/' + this.odd);
                const params = { odd: this.odd, root: this.rootPath };
                this.$.loadContent.params = params;
                let request = this.$.loadContent.generateRequest();
                request.completes.then(function(req) {
                    const data = req.response;
                    this.source = data.source;
                    this.title = data.title;
                    this.titleShort = data.titleShort;

                    this.namespace = data.namespace;
                    if (this.namespace == null) {
                        this.$.useNamespace.checked = false;
                        this.$.namespace.disabled = true;
                    }
                    else {
                        this.$.useNamespace.checked = true;
                        this.$.namespace.disabled = false;
                    }

                    this.set('elementSpecs', data.elementSpecs);
                    console.log("element specs: %s", this.elementSpecs.length);
                    this.$.specList.render()

                    this.loading = false
                    document.dispatchEvent(new CustomEvent('pb-end-update'));

                    //init current selection
                    this.currentSelection = this.shadowRoot.querySelector('odd-element-spec');
                    this.currentSelection.setAttribute('currentselection',true);


                }.bind(this));
            }

            addElementSpec(ev) {
              const ident = this.$.identNew.value;
              if (!ident || ident.length === 0) {
                  return;
              }
              const params = {
                  action: "find",
                  odd: this.odd,
                  root: this.rootPath,
                  ident: ident
              };
              this.$.loadContent.params = params;

              let request = this.$.loadContent.generateRequest();
              request.completes.then(this._handleElementSpecResponse.bind(this))
            }


            _handleElementSpecResponse(req) {
                const data = req.response;
                const ident = this.$.identNew.value
                const mode = (data.status === 'not-found' ? 'add' : 'change');
                const models = data.models || [];
                const newSpec = {
                    ident: ident,
                    mode: mode,
                    models: models,
                    show: true
                };

                this.push('elementSpecs', newSpec);
                // trigger update of autocomplete list in jumpTo
                this.$.identNew.value = '';
            }

            removeElementSpec(ev) {
              const index = this.$.specList.indexForElement(ev.detail.target)
              this.splice('elementSpecs', index, 1);
            }

            handleElementSpecToggle(ev) {
              if (ev.detail.target === this.currentItem) { return; }
              this.setCurrentItem(ev.detail.target)
            }

            setCurrentItem(element) {
              if (this.currentItem) {
                this.currentItem.collapseModels();
              }

              this.set('currentItem', element)
              console.log(this.currentItem)
              this.currentItem.showModels()
              this.currentItem.scrollIntoView();
            }

            serialize() {
              const useNamespace = this.$.useNamespace.checked;
              const elementSpecElements = Array.from(this.shadowRoot.querySelectorAll('odd-element-spec'));
              const serializedElementSpecs = elementSpecElements.map(elementSpecElement => elementSpecElement.serialize(this.indentString))
              const ns = useNamespace ? ` ns="${this.namespace}"` : '';
              const source = this.source ? ` source="${this.source}"` : '';

              let schemaSpec = `<schemaSpec xmlns="http://www.tei-c.org/ns/1.0"${ns}${source}>\n`
              schemaSpec += `${this.indentString}<title>${this.title}</title>\n`
              schemaSpec += `${this.indentString}<title type="short">${this.titleShort}</title>\n`
              schemaSpec += serializedElementSpecs.join('\n')
              schemaSpec += `</schemaSpec>\n`;
              return schemaSpec
            }

            save () {
              document.dispatchEvent(new CustomEvent('pb-start-update'));
              console.log(this.serialize())

              this.$.dialog.show("Saving ...");

              this.$.saveOdd.params = null;
              this.$.saveOdd.body = {
                  action: "save",
                  root: '',
                  "output-prefix": this.outputPrefix,
                  "output-root": this.outputRoot,
                  odd: this.odd,
                  data: this.serialize()
              };
              const request = this.$.saveOdd.generateRequest();
              request.completes
                  .then(this.handleSaveComplete.bind(this))
                  .catch(this.handleSaveError.bind(this));
            }

            _renderReport (report) {
                if (report.error) {
                    return `
                        <div class="list-group-item-danger">
                          <h4 class="list-group-item-heading">${report.file}</h4>
                          <h5 class="list-group-item-heading">Compilation error on line ${report.line}:</h5>
                          <pre class="list-group-item-text">${report.error}</pre>
                          <pre class="list-group-item-text">${report.message}</pre>
                        </div>
                    `;
                }
                return `
                    <div class="list-group-item-success">
                      <p class="list-group-item-text">Generated ${report.file}</p>
                    </div>
                `;
            }

            handleSaveComplete (req) {
                const data = req.response;
                const report = data.report.map(this._renderReport);
                const msg = `<div class="list-group">${report.join('')}</div>`;
                this.$.dialog.set("Saved", msg);
                document.dispatchEvent(new CustomEvent('pb-end-update'));
            }

            handleSaveError (rejected) {
                this.$.dialog.set("Error", rejected.error);
                document.dispatchEvent(new CustomEvent('pb-end-update'));
            }

            _reload(e){
                //todo: or should just the odd be loaded again?
                window.location.href=window.location.href;
            }

            _setCurrentSelection(e){
                console.log('editor._setCurrentSelection: ', e.target);
                this.currentSelection.removeAttribute('currentselection');
                this.currentSelection = e.target;
                this.currentSelection.setAttribute('currentselection','true');
            }

            _changeSelection(e){
                console.log('odd-editor._changeSelection ', e);

                if(e.detail.target == this) return;

                e.preventDefault();
                e.stopPropagation();
                    console.log('current-changed received ', e.detail.target);
                    console.log('current-changed received current', this.currentSelection);
                this.currentSelection.removeAttribute('currentselection');
                const newSelection = e.detail.target;
                newSelection.setAttribute('currentselection','true');
//                    console.log('newSelection ', newSelection);
                this.currentSelection = newSelection;
            }

        }

        window.customElements.define(OddEditor.is, OddEditor);
    </script>
</dom-module>
