<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/effects/material.html">

<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="odd-code-editor.html">
<link rel="import" href="code-mirror-styles.html">

<dom-module id="odd-rendition">
    <template include="code-mirror-styles">
        <style>
            :host {
                display: block;
            }

            odd-code-editor {
                height: 3rem;
            }

        </style>
        <paper-dropdown-menu label="Scope">
            <paper-listbox id="scopeList" slot="dropdown-content" selected="{{scope}}" attr-for-selected="value">
                <template id="specList" is="dom-repeat" items="{{scopes}}" as="scope">
                    <paper-item value="{{scope}}">{{scope}}</paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>
        <!--<textarea id="textarea" on-change="_handleChange"></textarea>-->
        <paper-textarea id="textarea" on-change="_handleChange">{{value}}</paper-textarea>

        <paper-icon-button on-click="_remove" icon="delete"></paper-icon-button>

        <!--
                <odd-code-editor id="css" mode="css" code="{{css}}"
                  placeholder="[CSS to apply]">

                </odd-code-editor>
        -->



        <slot></slot>
    </template>

    <script>
        /**
         * `odd-rendition`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class OddRendition extends Polymer.Element {
            static get is() {
                return 'odd-rendition';
            }


            static get properties() {
                return {
                    scopes: {
                        type: Array,
                        value: ["", "before", "after"]
                    },
                    css: {
                        type: String,
                        value: '',
                        notify: true,
                        reflectToAttribute: true,
                        observer: '_valueChanged'
                    },
                    scope:{
                        type: String,
                        value:'',
                        notify:true,
                        reflectToAttribute:true,
                        observer: '_scopeChanged'
                    }

                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            _getData() {
                return {
                    scope: this.scope,
                    css: this.$.css.get()
                };
/*
                return {
                    scope: this.$.scopeList.selected,
                    css: this.$.css.get()
                };
*/
            }

            escape(code) {
                var replaceChars = {
                    '"': '&quot;',
                    '&': '&amp;',
                    '<': '&lt;',
                    '>': '&gt;'
                };
                var regex = new RegExp(Object.keys(replaceChars).join("|"), "g");
                return code.replace(regex, function (match) {
                    return replaceChars[match];
                });
            }

            serialize(indent) {
                var css = this.$.css.get();
                if (!css) {
                    return '';
                }
                css = this.escape(css);

                var scope = this.scope;
                var xml = indent + '<outputRendition';
                if (scope) {
                    xml += ' scope="' + scope + '"';
                }
                xml += '>\n';
                xml += indent + '   ' + css;
                xml += '\n' + indent + '</outputRendition>\n';
                return xml;
            }

            show() {
                this.$.css.initCodeEditor();
            }

            _handleSelect(e){
                this.scope = this.$.scope.selected;
            }

            _remove(ev) {
//                console.log('_remove rendition: ', ev);
                ev.preventDefault();
                this.dispatchEvent(new CustomEvent('remove-rendition', {}));
            }

            _handleChange(){
                this.css = this.$.textarea.value;
            }

            _valueChanged(){
//                console.log('valueChanged');
                this.$.textarea.value = this.css;
            }

            _scopeChanged(){
//                console.log('scope changed ', this.$.scopeList.selected);
                this.scope = this.$.scopeList.selected;
            }


        }

        window.customElements.define(OddRendition.is, OddRendition);
    </script>
</dom-module>
