<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="odd-selector">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <paper-dropdown-menu label="Editing ODD:">
            <paper-listbox ref="select" name="odd" slot="dropdown-content" attr-for-selected="value">
                <slot></slot>
            </paper-listbox>
        </paper-dropdown-menu>

        <!--<slot></slot>-->
    </template>

    <script>
        /**
         * `odd-selector`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class OddSelector extends Polymer.Element {
            static get is() {
                return 'odd-selector';
            }

            static get properties() {
                return {
                    prop1:{
                        type: String
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }


        }

        window.customElements.define(OddSelector.is, OddSelector);
    </script>
</dom-module>
