<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!--
<link rel="import" href="bower_components/shadycss/apply-shim.html">

<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/paper-styles/shadow.html">

<link rel="import" href="odd-model.html">
<link rel="import" href="../pb-common-styles.html">
-->

<dom-module id="odd-element-spec">
    <template>
        <style include="pb-common-styles">
            :host {
                display: block;
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: "Oswald", Verdana, "Helvetica", sans-serif;
                font-weight: 400 !important;
            }

            input {
                vertical-align: middle;
            }

            .ident {
                display: inline-block;
                min-width: 180px;
            }

            /*
                        h3{
                            display:flex;
                            flex-direction: column;
                        }
            */



            :host([currentSelection]) > h3, :host([currentSelection]) > header{
                /*background-color:var(--paper-grey-300);*/
                /*outline: solid var(--paper-blue-grey-300);*/
                @apply --shadow-elevation-2dp;
            }

            h3{
                display:grid;
                grid-template-columns: 40px auto 200px;
            }
            h3 .controls{
                text-align: right;
                margin-right: 10px;
                display: none;
            }

            :host([currentSelection]) > h3 > .controls{
                display: inline-block;
            }

            #toggle{
                align-self:center;
            }

            h3 .ident{
                align-self: center;
             }

            paper-menu-button paper-icon-button{
                margin-left:-10px;
            }
            iron-collapse{
                --iron-collapse-transition-duration:0.6s;
            }
        </style>

        <h3>
            <paper-icon-button id="toggle" icon="[[toggleButtonIcon(show)]]" on-click="toggle"></paper-icon-button>
            <!--<paper-icon-button id="toggle" icon="[[toggleButtonIcon(show)]]"></paper-icon-button>-->
            <span class="ident">[[ ident ]]</span>

            <span class="controls">
                <paper-icon-button on-click="remove" icon="delete"></paper-icon-button>
                <paper-icon-button on-click="_paste" icon="content-paste"></paper-icon-button>
                <paper-menu-button>
                    <paper-icon-button icon="add" slot="dropdown-trigger"></paper-icon-button>
                    <paper-listbox id="addModel" slot="dropdown-content" on-iron-select="_addModel"
                                   attr-for-selected="value">
                        <paper-item value="model">model</paper-item>
                        <paper-item value="modelSequence">modelSequence</paper-item>
                        <paper-item value="modelGrp">modelGrp</paper-item>
                    </paper-listbox>
                </paper-menu-button>

            </span>
        </h3>

        <iron-collapse id="models" class="models" opened="{{show}}" id="elem-{{ident}}">
        <!--<iron-collapse id="models" class="models" id="elem-{{ident}}" on-opened-changed="_updateOpened">-->

                <template id="modelList" is="dom-repeat" items="{{models}}" as="model" mutable-data>
                    <template is="dom-if" if="{{show}}">

                    <odd-model behaviour="{{model.behaviour}}"
                               predicate="{{model.predicate}}"
                               type="{{model.type}}"
                               output="{{model.output}}"
                               css="{{model.css}}"
                               models="{{model.models}}"
                               parameters="{{model.parameters}}"
                               desc="{{model.desc}}"
                               sourcerend="{{model.sourcerend}}"
                               renditions="{{model.renditions}}"
                               show="{{model.show}}"
                               on-model-remove="removeModel"
                               on-model-move-up="moveModelUp"
                               on-model-move-down="moveModelDown"
                               on-click="_setCurrentSelection"
                               on-item-toggled="_setCurrentSelection"
                               parent-model="[[model]]">
                    </odd-model>
                </template>
            </template>

        </iron-collapse>

    </template>

    <script>
        /**
         * `odd-element-spec`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class OddElementSpec extends Polymer.Element {
            static get is() {
                return 'odd-element-spec';
            }

            static get properties() {
                return {
                    ident: {
                        type: String
                    },
                    mode: {
                        type: String
                    },
                    models: {
                        type: Array,
                        value: () => []
                    },
                    show: {
                        type: Boolean,
                        value: false
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();

//                this.addEventListener('click', e => this.toggle(e));
                this.dispatchEvent(new CustomEvent('element-spec-connected', {
                    detail: {target: this}
                }));

                this.$.models.addEventListener("opened-changed", function () {
                    this.set('show', this.$.models.opened)
                    if (!this.$.models.opened) {
                        return;
                    }

                    this.dispatchEvent(new CustomEvent('element-spec-toggled', {
                        detail: {target: this}
                    }));
                }.bind(this));

                if (this.models.length === 0) {
                    this._addModel()
                }


            }

            render(){
                this.$.modelList.render();
            }

            toggleButtonIcon(show) {
                return (show ? 'expand-less' : 'expand-more')
            }

            toggle(ev) {
                console.log('toggle ',ev);

                ev.preventDefault();
                this.$.models.toggle();
                this.dispatchEvent(new CustomEvent('item-toggled', {}));
            }

            showModels() {
                this.$.models.show();
            }

            collapseModels() {
                this.$.models.hide();
            }

            addModel(newModel){
                this.unshift('models', newModel);
            }

            _addModel(e) {
                this.$.models.show();

                const newModel =  {
                    behaviour: 'inline',
                    predicate: null,
                    type: this.$.addModel.selected,
                    output: null,
                    models: [],
                    parameters: [],
                    renditions: [],
                    sourcerend: false,
                    show: true,
                    current:true
                };
                this.unshift('models',newModel);
                const tmpl = this.$.modelList.querySelector('template');
                console.log('dom-if template ', tmpl);
                this.$.addModel.selected = null;

            }

            removeModel(ev) {
//                console.log('elementspec e: ', ev);
//                console.log('elementspec removeModel: ', this.models);
                const item = ev.currentTarget;
                const index = this.$.modelList.indexForElement(item);

                this.splice('models', index, 1);
            }

            moveModelUp(ev) {
                const item = ev.currentTarget;
                const index = this.$.modelList.indexForElement(item);
//              console.log('moveModelUp', item, index)

                if (index === 0) {
                    return;
                }
                const model = this.get(['models', index]);
                this.splice('models', index, 1);
                this.splice('models', index - 1, 0, model);
            }

            moveModelDown(ev) {
                const item = ev.currentTarget;
                const index = this.$.modelList.indexForElement(item);
//              console.log('moveModelDown', item, index)

                if (index === this.models.length) {
                    return;
                }
                const model = this.get(['models', index]);
                this.splice('models', index, 1);
                this.splice('models', index + 1, 0, model);
            }

            _remove(ev) {
                this.dispatchEvent(new CustomEvent('element-spec-removed', {
                    detail: {target: this}
                }));
            }


            _paste(ev) {
                console.log('elementspec _paste ',ev);
                const editor = document.querySelector('odd-editor');
                console.log('elementspec _paste editor clipboard',editor.clipboard);
                this.dispatchEvent(new CustomEvent('paste', {composed:true, bubbles:true, detail: {target: this}}));
            }

            _toggle(e){
                console.log('_toggle ',e);
//                this.$.models.toggle();
            }

            serialize(indent) {
                const mode = this.mode ? ` mode="${this.mode}"` : '';
                let xml = `${indent}<elementSpec ident="${this.ident}"${mode}>\n`;
                let indent2 = indent + '    '
                xml += Array.from(this.shadowRoot.querySelectorAll('odd-model')).map(item => item.serialize(indent2)).join('')
                xml += `${indent}</elementSpec>\n`;
                return xml;
            }

            _setCurrentSelection(e){
                console.log('element-spec._setCurrentSelection: ', e.target);
                e.preventDefault();
                e.stopPropagation();
                this.dispatchEvent(new CustomEvent('current-changed', {composed:true, bubbles:true, detail:{target: e.target}}));
            }

        }

        window.customElements.define(OddElementSpec.is, OddElementSpec);
    </script>
</dom-module>
