<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="odd-selector">
    <template>
        <style>
            :host {
                display: block;
                width: 100%;
            }

            paper-dropdown-menu{
                width:100%;
            }

            ::slotted(paper-item){
                width:100%;
            }
        </style>

        <paper-dropdown-menu label="Editing ODD:">
            <paper-listbox id="select" name="odd" slot="dropdown-content"
                attr-for-selected="value" on-iron-select="_selectOdd" selected="{{selected}}">
                <slot></slot>
            </paper-listbox>
        </paper-dropdown-menu>

    </template>

    <script>
        /**
         * `odd-selector`
         *
         *
         * @customElement
         * @polymer
         */
        class OddSelector extends Polymer.Element {
            static get is() {
                return 'odd-selector';
            }

            static get properties() {
                return {
                    selected:{
                        type: String
                    }
                };
            }

            _selectOdd() {
                this.dispatchEvent(new CustomEvent('odd-selected', {detail: {odd: this.$.select.selected}}))
            }

            connectedCallback() {
                super.connectedCallback();
            }


        }

        window.customElements.define(OddSelector.is, OddSelector);
    </script>
</dom-module>
