<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!--
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/effects/material.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="odd-code-editor.html">
<link rel="import" href="code-mirror-styles.html">
-->

<dom-module id="odd-rendition">
    <template strip-whitespace>
        <style>
            :host {
                display: block;
                width: 100%;
                height: 100%;
            }
            paper-dropdown-menu{
                margin-bottom:10px;
            }
            odd-code-editor{
                min-height:50px;
            }
        </style>
        <paper-dropdown-menu label="Scope">
            <paper-listbox id="scopeList" slot="dropdown-content" selected="{{scope}}" attr-for-selected="value">
                <template id="specList" is="dom-repeat" items="{{scopes}}" as="scope">
                    <paper-item value="{{scope}}">{{scope}}</paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>
        <!--<paper-textarea id="textarea" on-change="_handleChange" value="{{css}}">{{css}}</paper-textarea>-->

        <odd-code-editor
                id="editor"
                code="{{css}}"
                mode="css"
                on-change="_handleChange"></odd-code-editor>


        <paper-icon-button on-click="_remove" icon="delete"></paper-icon-button>

        <slot></slot>
    </template>

    <script>
        /**
         * `odd-rendition`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class OddRendition extends Polymer.Element {
            static get is() {
                return 'odd-rendition';
            }


            static get properties() {
                return {
                    scopes: {
                        type: Array,
                        value: ["", "before", "after"]
                    },
                    css: {
                        type: String,
                        value: '',
                        notify: true,
                        reflectToAttribute: true
                    },
                    scope:{
                        type: String,
                        value:'',
                        notify:true,
                        reflectToAttribute:true,
                        observer: '_scopeChanged'
                    }

                };
            }

            connectedCallback() {
                super.connectedCallback();
                this.css = this.css.trim();
                this.dispatchEvent(new CustomEvent('rendition-connected', {composed:true, bubbles:true, detail: {target: this}}));
            }

            ready(){
                super.ready();
                this.refreshEditor();
            }

            refreshEditor(){
                console.log('refreshEditor');
                this.$.editor.refresh();
            }


            /*
                        show() {
                            this.$.css.initCodeEditor();
                        }
            */

            _handleSelect(e){
                this.scope = this.$.scope.selected;
            }

            _remove(ev) {
                ev.preventDefault();
                this.dispatchEvent(new CustomEvent('remove-rendition', {}));
            }

            _handleChange() {
                this.css = this.$.editor.getSource();
            }

            _scopeChanged() {
                this.scope = this.$.scopeList.selected;
            }


        }

        window.customElements.define(OddRendition.is, OddRendition);
    </script>
</dom-module>
