<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="odd-model.html">
<link rel="import" href="../pb-common-styles.html">

<dom-module id="odd-element-spec">
    <template>
        <style include="pb-common-styles">
            :host {
                display: block;
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: "Oswald",Verdana,"Helvetica",sans-serif;
                font-weight: 400 !important;
            }

            input { vertical-align: middle; }

/*
            odd-model {
                margin-left: 50px;
                max-width: 800px;
            }
*/

        </style>

        <h3>
            <paper-icon-button id="toggle" icon="expand-more" hidden$="[[(models.length === 0)]]" on-click="toggle"></paper-icon-button>
            [[ ident ]]
            <paper-menu-button>
                <paper-icon-button icon="add" slot="dropdown-trigger"></paper-icon-button>
                <paper-listbox slot="dropdown-content" on-iron-select="_addModel">
                    <paper-item>model</paper-item>
                    <paper-item>modelSequence</paper-item>
                    <paper-item>modelGrp</paper-item>
                </paper-listbox>
            </paper-menu-button>

            <paper-icon-button on-click="remove" icon="delete"></paper-icon-button>
            <paper-icon-button on-click="paste" icon="content-paste"></paper-icon-button>
        </h3>

        <iron-collapse id="models" class="models" opened="{{show}}" id="elem-{{ident}}">

            <template id="modelList" is="dom-repeat" items="{{models}}" as="model">

              <odd-model behaviour="{{model.behaviour}}" predicate="{{model.predicate}}"
                type="{{model.type}}" output="{{model.output}}" css="{{model.css}}"
                models="{{model.models}}" parameters="{{model.parameters}}"
                desc="{{model.desc}}" sourcerend="{{model.sourcerend}}"
              parent="[[parentComp]]"></odd-model>

            </template>

        </iron-collapse>

    </template>

    <script>
        /**
         * `odd-element-spec`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class OddElementSpec extends Polymer.Element {
            static get is() {
                return 'odd-element-spec';
            }

            static get properties() {
                return {
                    ident:{
                      type: String
                    },
                    mode:{
                      type: String
                    },
                    models: {
                      type: Array,
                      value: () => []
                    },
                    show: {
                      type: Boolean,
                      value: false
                    },
                    currentItem: {
                      type: Object,
                      value: null
                    }
                };
            }



            connectedCallback() {
                super.connectedCallback();
                // TODO unklar was hier passieren soll
                this.$.models.addEventListener("opened-changed", function() {
                }.bind(this));

                this.parentComp = this;
                console.log('parent component: ', this.parentComp);
            }

            toggle(ev) {
                this.$.models.toggle();
                const opened = this.$.models.opened;
                const icon = opened ? 'expand-less' : 'expand-more';
                if (this.$.toggle) {
                    this.$.toggle.icon = icon;
                }
            }

            _collapse() {
                this.$.models.hide();
            }

            _collapseAll(current) {
                const models = Array.from(this.querySelectorAll('model'))
                models.forEach(model => {
                    if (model == current) { return; }
                    model.collapse();
                })
            }

            _addModel(ev) {
                ev.preventDefault();
                this.$.models.show();

                this.unshift('models', {
                    behaviour: 'inline',
                    predicate: null,
                    type: ev.target.innerText,
                    output: null,
                    models: [],
                    parameters: [],
                    renditions: [],
                    sourcerend: false,
                    show: true
                });
            }

            removeModel(item) {
                const index = this.models.indexOf(item);
                const removeModelHandler = () => {
                    this.splice('models', index, 1);
                };

                this.parentNode.$.dialog
                    .confirm('Delete?', 'Are you sure to delete the model?')
                    .then(removeModelHandler.bind(this));
            }

            _remove(ev) {
                this.parentNode.removeElementSpec(ev.item);
            }

            _paste(ev) {
                // TODO
                // var data = this.clipboard.paste();
                // if (data) {
                //     this.models = this.updateTag('model');
                //     this.refs.models.open();
                //     this.models.unshift(data);
                // }
            }

            getData() {
                return {
                    ident: this.ident,
                    mode: this.mode,
                    models: this.updateTag('model')
                };
            }

            serialize(indent) {
                var xml = indent + '<elementSpec ident="' + this.ident + '"';
                if (this.mode) {
                    xml += ' mode="' + this.mode + '"';
                }
                xml += '>\n';

                xml += this.serializeTag('model', indent + this.indentString);

                xml += indent + '</elementSpec>\n';
                return xml;
            }
        }

        window.customElements.define(OddElementSpec.is, OddElementSpec);
    </script>
</dom-module>
