<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="odd-parameter">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <slot></slot>
    </template>

    <script>
        /**
         * `odd-parameter`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class OddParameter extends Polymer.Element {
            static get is() {
                return 'odd-parameter';
            }

            static get properties() {
                return {
                    prop1:{
                        type: String
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }


        }

        window.customElements.define(OddParameter.is, OddParameter);
    </script>
</dom-module>
