<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="odd-edit-source">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <slot></slot>
    </template>

    <script>
        /**
         * `odd-edit-source`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class OddEditSource extends Polymer.Element {
            static get is() {
                return 'odd-edit-source';
            }

            static get properties() {
                return {
                    prop1:{
                        type: String
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready(){
                super.ready();
            }

        }

        window.customElements.define(OddEditSource.is, OddEditSource);
    </script>
</dom-module>
