<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="odd-code-editor.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<dom-module id="odd-rendition">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <paper-dropdown-menu label="Scope">
            <paper-listbox id="scope" slot="dropdown-content" selected="{{ scope }}" attr-for-selected="value">
                <template id="specList" is="dom-repeat" items="{{scopes}}" as="scope">
                    <paper-item value="{{scope}}">{{scope}}</paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>
        <paper-icon-button on-click="_remove" icon="delete"></paper-icon-button>
        <odd-code-editor id="css" mode="css" code="{{css}}"
          placeholder="[CSS to apply]"></odd-code-editor>

        <slot></slot>
    </template>

    <script>
        /**
         * `odd-rendition`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class OddRendition extends Polymer.Element {
            static get is() {
                return 'odd-rendition';
            }


            static get properties() {
                return {
                    scopes:{
                        type: Array,
                        value: ["", "before", "after"]
                    },
                    css: { type:String}

                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            _getData() {
                return {
                    scope: this.$.scope.selected,
                    css: this.$.css.get()
                };
            }

            escape(code) {
              var replaceChars = {
                  '"': '&quot;',
                  '&': '&amp;',
                  '<': '&lt;',
                  '>': '&gt;'
              };
                var regex = new RegExp(Object.keys(replaceChars).join("|"), "g");
                return code.replace(regex, function(match) {
                    return replaceChars[match];
                });
            }

            serialize(indent) {
                var css = this.$.css.get();
                if (!css) {
                    return '';
                }
                css = this.escape(css);

                var scope = this.$.scope.selected;
                var xml = indent + '<outputRendition';
                if (scope) {
                    xml += ' scope="' + scope + '"';
                }
                xml += '>\n';
                xml += indent + '   ' + css;
                xml += '\n' + indent + '</outputRendition>\n';
                return xml;
            }

            show() {
                this.$.css.initCodeEditor();
            }


            _remove(ev) {
                ev.preventDefault();
                var pathes = ev.composedPath();
                pathes.forEach(function (item) {
                    console.log("path: ", item);
                    if (item.nodeName.toLowerCase() == 'odd-model') {
                        item.removeRendition(this);
                    }
                });

            }


        }

        window.customElements.define(OddRendition.is, OddRendition);
    </script>
</dom-module>
