build
generated/
errorShots/
.*
!.gitignore
!.existdb.json
query-results
webtest/bin
webtest/reports
webtest/errorShots
webtest/node_modules
webtest/npm-debug.log
/node_modules/
bower_components
local.build.properties
resources/scripts/*.js
resources/scripts/*.map
resources/lib/
resources/css/leaflet/
resources/css/prismjs
resources/images/openseadragon
resources/images/leaflet
resources/i18n/common