<?xml version="1.0" encoding="UTF-8" ?>
<meta xmlns="http://exist-db.org/xquery/repo" commit-id="@commit-id@" commit-time="@commit-time@">
    <description>TEI Publisher Application</description>
    <author>Wolfgang Meier</author>
    <website>https://teipublisher.com</website>
    <status>stable</status>
    <license>GPLv3</license>
    <copyright>true</copyright>
    <type>application</type>
    <target>tei-publisher</target>
    <prepare>pre-install.xql</prepare>
    <finish>post-install.xql</finish>
    <changelog>
        <change version="5.0.2">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Enhanced docx to TEI import</li>
                <li>Fix whitespace issues around pb-popover</li>
                <li>Fixed login issue if user belongs to multiple groups</li>
            </ul>
        </change>
        <change version="5.0.1">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Improve performance of milestone-chunk functions to remove bottleneck in page-by-page display</li>
                <li>Extend pb-toggle-feature to support setting additional properties on the target</li>
                <li>Add component pb-select-feature: similar to pb-toggle-feature, but shows a list of values to select from</li>
                <li>Bugfix: generating an app based on teipublisher.odd or tei_simplePrint.odd failed</li>
                <li>Behaviour alternate now uses pb-popover to either show a tooltip on mouseover or a persistent popup on click</li>
                <li>ODD editor should save provided description for models as &lt;desc&gt; to ODD</li>
            </ul>
        </change>
        <change version="5.0.0">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Integrate sample facets for browsing and search</li>
                <li>Allow upload of DOCX documents, converted to TEI via ODD</li>
                <li>Update code for compliance with eXist 5.0.0</li>
                <li>For generated apps: add an admin menu entry to package the entire app as xar</li>
            </ul>
        </change>
        <change version="4.1.0">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>new correspondence example: Van Gogh letter with dynamic layout</li>
                <li>mechanism for aligning multiple texts</li>
                <li>Sort and filter documents by title, author or file name</li>
                <li>Autocomplete suggestions are now displayed for all search boxes</li>
                <li>Allow arbitrary footnote labels to be passed via the @n parameter of the note behaviour</li>
                <li>Support plain images to be displayed by pb-facsimile - if a IIIF server is not needed or available</li>
                <li>Fix uploads of files containing spaces in their names</li>
            </ul>
        </change>
        <change version="4.0.0">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>complete rewrite of TEI Publisher based on webcomponents</li>
            </ul>
        </change>
        <change version="3.0.1">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>add language selector</li>
                <li>exclude nested divs in search to get more correct search results</li>
                <li>fix wrong page displayed when viewing search results in paged view</li>
                <li>fix error when navigating back in browser history after search</li>
                <li>fix parsing of processing instruction: depth and fill should be numbers</li>
                <li>correct offset when scrolling to highlighted search result</li>
                <li>support copy&amp;paste in odd editor</li>
            </ul>
        </change>
        <change version="3.0.0">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>adds a visual editor for processing models</li>
                <li>support for formatting non-TEI documents (see the documentation, which is now in docbook)</li>
            </ul>
        </change>
        <change version="2.2.0">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Improved responsiveness: navigation and toc work on mobile viewer</li>
                <li>Drop /works prefix from document paths to simplify URLs</li>
                <li>Renditions defined in tei header were no longer applied</li>
                <li>Fix image resolving for generated apps</li>
                <li>Allow documents to be deleted via UI</li>
                <li>Include direct link to uploaded document</li>
            </ul>
        </change>
    </changelog>
    <permissions xmlns:repo="http://exist-db.org/xquery/repo" password="simple" user="tei" group="tei" mode="rw-r--r--" />
</meta>