<?xml version="1.0" encoding="UTF-8"?>
<html>
<head>
    <base href="${app}/" data-template="lib:parse-params"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

    <title data-template="config:app-title"/>
    <meta name="description" content="Annotation Editing"/>
    <meta name="pb-template" content="annotate.html"/>

    <link rel="stylesheet" href="resources/css/theme.css"/>
    <link rel="stylesheet" href="fore.css" data-template="pages:load-fore"/>
    <link rel="stylesheet" href="resources/css/annotate.css"/>

    <script type="module" src="fore.js" data-template="pages:load-fore"></script>

<!--
    <script type="module">
        import 'http:/localhost:8090/index.js';
    </script>
-->
    <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"></script>
    <script type="module" src="pb-leaflet-map.js" data-template="pages:load-components"></script>
    <script type="module" src="pb-code-editor.js" data-template="pages:load-components"></script>
    <script type="text/javascript" src="resources/scripts/annotations/review-dialog.js"></script>
    <script type="text/javascript" src="resources/scripts/annotations/annotations.js"></script>
</head>

<body>
<pb-page data-template="pages:pb-page" unresolved="unresolved" require-language="require-language" locales="resources/i18n/{{ns}}/{{lng}}.json">
    <pb-document id="document1" data-template="pages:pb-document"/>
    <div data-template="lib:include" data-template-path="templates/menu.html"></div>
    <header class="header-toolbar">
        <span class="icon-group">
            <a id="toolbar-parent" href="${app}/index.html?collection=${collection}" data-i18n="[title]browse.${collection}.title" title=""
                data-template="pages:parse-params">
                <paper-icon-button icon="icons:folder-open"></paper-icon-button>
            </a>
            <pb-zoom emit="transcription" direction="in" icon="icons:zoom-in"/>
            <pb-zoom emit="transcription" direction="out" icon="icons:zoom-out"/>
        </span>
        <span class="icon-group">
            <paper-icon-button class="annotation-action authority" data-i18n="[title]annotations.person" title="Person" data-type="person" data-shortcut="⌘+⇧+p,ctrl+⇧+p" icon="social:person" disabled="disabled"></paper-icon-button>
            <paper-icon-button class="annotation-action authority" data-i18n="[title]annotations.organisation" title="organization" data-type="organization" data-shortcut="⌘+⇧+o,ctrl+⇧+o" icon="social:people" disabled="disabled"></paper-icon-button>
            <paper-icon-button class="annotation-action authority" data-i18n="[title]annotations.place" title="Place" data-type="place" icon="maps:place" data-shortcut="⌘+⇧+q,ctrl+⇧+q" disabled="disabled"></paper-icon-button>
            <paper-icon-button class="annotation-action authority" data-i18n="[title]annotations.term" title="Term" data-type="term" icon="icons:bookmark" data-shortcut="⌘+⇧+t,ctrl+⇧+t" disabled="disabled"></paper-icon-button>
            <paper-icon-button class="annotation-action" data-i18n="[title]annotations.date" title="Date" data-type="date" icon="icons:today" data-shortcut="⌘+⇧+d,ctrl+⇧+d" disabled="disabled"></paper-icon-button>
            <paper-icon-button class="annotation-action" data-i18n="[title]annotations.ref" title="Reference" data-type="link" icon="icons:link" data-shortcut="⌘+⇧+l,ctrl+⇧+l" disabled="disabled"></paper-icon-button>
            <paper-icon-button class="annotation-action" data-i18n="[title]annotations.abbreviation" title="Abbreviation" data-type="abbreviation" icon="icons:translate" data-shortcut="⌘+⇧+b,ctrl+⇧+b" disabled="disabled"></paper-icon-button>
            <paper-icon-button class="annotation-action" title="Sic" data-type="sic" icon="editor:strikethrough-s" data-shortcut="⌘+⇧+e,ctrl+⇧+e" disabled="disabled"></paper-icon-button>
            <paper-icon-button class="annotation-action" data-i18n="[title]annotations.reg" title="Regularization" data-type="reg" icon="editor:wrap-text" data-shortcut="⌘+⇧+g,ctrl+⇧+g" disabled="disabled"></paper-icon-button>
            <paper-icon-button class="annotation-action" data-i18n="[title]annotations.app" title="Apparatus" data-type="app" icon="icons:visibility" data-shortcut="⌘+⇧+v,ctrl+⇧+v" disabled="disabled"></paper-icon-button>
            <paper-icon-button class="annotation-action" data-i18n="[title]annotations.hi" title="Highlight" data-type="hi" icon="editor:format-bold" data-shortcut="⌘+⇧+h,ctrl+⇧+h" disabled="disabled"></paper-icon-button>
            <paper-icon-button class="annotation-action before" data-i18n="[title]annotations.pb" title="Page break" data-type="pb" icon="editor:format-textdirection-r-to-l" data-shortcut="⌘+⇧+b,ctrl+⇧+b" disabled="disabled"></paper-icon-button>
            <paper-icon-button class="annotation-action after" data-i18n="[title]annotations.note" title="Note" data-type="note" icon="icons:speaker-notes" data-shortcut="⌘+⇧+f,ctrl+⇧+f" disabled="disabled"></paper-icon-button>
            <paper-icon-button class="annotation-action" data-i18n="[title]annotations.modify" title="Edit" data-type="edit" icon="editor:mode-edit" data-shortcut="⌘+⇧+m,ctrl+⇧+m" disabled="disabled"></paper-icon-button>
            <paper-icon-button id="ner-action" icon="social:group-add" data-i18n="[title]annotations.ner.title"></paper-icon-button>
        </span>
        <span class="icon-group">
            <paper-icon-button id="reload-all" icon="icons:restore" data-i18n="[title]annotations.reload"></paper-icon-button>
            <paper-icon-button id="document-save" icon="icons:save" data-i18n="[title]annotations.save" data-shortcut="⌘+⇧+s,ctrl+⇧+s"></paper-icon-button>
            <paper-icon-button id="document-download" icon="icons:cloud-download" data-i18n="[title]annotations.download" data-shortcut="⌘+⇧+d,ctrl+⇧+d"></paper-icon-button>
            <paper-icon-button id="undo-history" icon="icons:undo" data-i18n="[title]annotations.undo"></paper-icon-button>
            <paper-icon-button id="toggle-markup" icon="icons:visibility-off" data-i18n="[title]annotations.toggle"></paper-icon-button>
        </span>
        <pb-progress subscribe="transcription" indeterminate="indeterminate"/>
    </header>
        <div class="text">
            <pb-view id="title-view1" src="document1" xpath="//teiHeader/fileDesc/titleStmt/title" view="single">
                <pb-param name="header" value="short"/>
            </pb-view>
            <pb-view-annotate id="view1" src="document1" odd="annotations" key="ref"
                              append-footnotes="append-footnotes" suppress-highlight="suppress-highlight"
                              subscribe="transcription" emit="transcription">
                <pb-param name="track-ids" value="yes"/>
            </pb-view-annotate>
        </div>
        <aside class="preview edit-panel">
            <fx-fore ignore-expressions="pb-authority">
                <fx-model>
                    <fx-instance id="i-default">
                        <data>
                            <align-bottom></align-bottom>
                            <selected></selected>
                            <ref></ref>
                            <type></type>
                            <query></query>
                            <annotation>false</annotation>
                            <authority>false</authority>
                            <occurrences>false</occurrences>
                            <commit>false</commit>
                            <markup>true</markup>
                            <authority-editor></authority-editor>
                            <authority-forms>person, place</authority-forms>
                        </data>
                    </fx-instance>
                    <fx-instance id="i-commit">
                        <commit user="" status="feat" export="false">
                            <message></message>
                        </commit>
                    </fx-instance>
                    <fx-bind ref="annotation" relevant="boolean-from-string(.)"></fx-bind>
                    <fx-bind ref="authority" relevant="boolean-from-string(.)"></fx-bind>
                    <fx-bind ref="occurrences" relevant="boolean-from-string(.)"></fx-bind>
                    <fx-bind ref="markup" relevant="boolean-from-string(.)"></fx-bind>
                    <fx-bind ref="authority-editor" relevant="boolean-from-string(.)"></fx-bind>
                    <fx-bind ref="commit" relevant="boolean-from-string(.)"></fx-bind>

                    <fx-function signature="updateAnnotationDetails($ident as xs:string) as xs:boolean"
                                 type="text/javascript">
                            document.querySelector('iron-form paper-input').value=$ident;
                    </fx-function>

                    <fx-function signature="commit($msg as xs:string) as xs:boolean" type="text/javascript">
                        return testCallback($msg);
                    </fx-function>
                </fx-model>

                <fx-group ref="commit[.='true']" id="commit" track-history="">
                    <section>
                        <header>Revision Description</header>
                        <fx-control ref="instance('i-commit')/@user">
                            <label>User</label>
                        </fx-control>
                        <fx-control ref="instance('i-commit')/message">
                            <label>Change summary</label>
                            <textarea class="widget" placeholder="Optional short description"></textarea>
                        </fx-control>
                        <fx-control ref="instance('i-commit')/@status">
                            <label>Status</label>
                            <select class="widget">
                                <option value="feat">Enrichment</option>
                                <option value="fix">Correction</option>
                            </select>
                        </fx-control>
                        <fx-trigger>
                            <paper-icon-button icon="icons:save" data-i18n="[title]annotations.save"></paper-icon-button>
                            <!-- emit a pb-commit event to annotations.js -->
                            <fx-dispatch name="pb-commit" targetid="commit">
                                <fx-property name="message" expr="instance('i-commit')/message/string()"/>
                                <fx-property name="user" expr="instance('i-commit')/@user"/>
                                <fx-property name="export" expr="instance('i-commit')/@export"/>
                                <fx-property name="status" expr="instance('i-commit')/@status"/>
                            </fx-dispatch>
                            <fx-setvalue ref="commit">false</fx-setvalue>
                        </fx-trigger>
                    </section>
                </fx-group>

                <fx-group ref="annotation" id="annotation">
                    <section>
                        <header>Annotation Details</header>
                        <iron-form id="edit-form">
                            <form action="">
                                <div class="annotation-form person organization place term">
                                    <paper-input class="form-ref" name="ref" data-i18n="[label]annotations.reference" label="Reference"></paper-input>
                                    <div class="authority-info"><pb-i18n key="dialogs.loading">Loading ...</pb-i18n></div>
                                    <pb-restricted group="tei">
                                        <paper-icon-button icon="editor:mode-edit" id="edit-entity" data-i18n="[title]annotations.edit-entity"></paper-icon-button>
                                    </pb-restricted>
                                </div>
                                <div class="annotation-form date">
                                    <paper-input name="when" label="when" type="date"></paper-input>
                                    <paper-input name="from" label="from" type="date"></paper-input>
                                    <paper-input name="to" label="to" type="date"></paper-input>
                                </div>
                                <div class="annotation-form hi">
                                    <label>
                                        <input type="checkbox" name="rend" value="b"/> bold
                                    </label>
                                    <label>
                                        <input type="checkbox" name="rend" value="i"/> italicised
                                    </label>
                                    <paper-input name="rendition" label="rendition"></paper-input>
                                </div>
                                <div class="annotation-form link">
                                    <paper-input name="target" label="target"></paper-input>
                                </div>
                                <pb-repeat class="annotation-form app" initial="1">
                                    <template>
                                        <paper-input name="wit" label="wit"></paper-input>
                                        <paper-input name="rdg" label="rdg"></paper-input>
                                    </template>
                                </pb-repeat>
                                <paper-input class="annotation-form sic" name="corr" data-i18n="[label]annotations.correction" label="Correction"></paper-input>
                                <paper-input class="annotation-form abbreviation" name="expan" data-i18n="[label]annotations.expansion" label="Expansion"></paper-input>
                                <paper-input class="annotation-form reg" name="reg" data-i18n="[label]annotations.reg" label="Regularization"></paper-input>
                                <div class="annotation-form pb">
                                    <paper-input name="n" data-i18n="[label]annotations.pagenum"></paper-input>
                                    <paper-input name="facs" data-i18n="[label]annotations.facs"></paper-input>
                                </div>
                                <div class="annotation-form note">
                                    <jinn-xml-editor name="content" placeholder="[Inline text/markup or sequence of paragraphs]" schema="resources/scripts/annotations/tei.json" schema-root="note" namespace="http://www.tei-c.org/ns/1.0">
                                        <div slot="toolbar">
                                            <button data-command="selectElement" title="Select element around current cursor position">&lt;|&gt;</button>
                                            <button data-command="encloseWith" title="Enclose selection in new element">&lt;...&gt;</button>
                                            <button data-command="removeEnclosing" title="Remove enclosing tags" class="sep">&lt;X&gt;</button>
                                            <button data-command="snippet" data-params="&lt;placeName key=&#34;$|1|&#34;&gt;$|_|&lt;/placeName&gt;" title="Insert placeName">&lt;placeName&gt;</button>
                                            <button data-command="snippet" data-params="&lt;persName key=&#34;$|1|&#34;&gt;$|_|&lt;/persName&gt;" title="Insert persName">&lt;persName&gt;</button>
                                        </div>
                                    </jinn-xml-editor>
                                </div>
                                <div class="annotation-form edit">
                                    <p><pb-i18n key="annotations.modify-info"></pb-i18n></p>
                                    <paper-input name="content" data-i18n="[label]annotations.correction" label="Correction"></paper-input>
                                </div>
                                <paper-icon-button id="form-save" icon="icons:save" data-i18n="[label]annotations.apply"></paper-icon-button>
                            </form>
                        </iron-form>
                    </section>

                </fx-group>


                <fx-group ref="authority">
                    <header>
                        <label><pb-i18n key="annotations.edit-reference"></pb-i18n></label>
                        <div></div>
                    </header>
                    <div id="authority-editor"></div>

                    <pb-authority-lookup subscribe="transcription" emit="transcription">
                        <pb-authority connector="Custom" name="organization" edit="">
                            <pb-authority connector="GND" prefix="gnd"></pb-authority>
                        </pb-authority>
                        <!--pb-authority connector="GeoNames" name="place" user="existdb" prefix="geo"></pb-authority-->
                        <pb-authority connector="Custom" name="place" edit="">
                            <pb-authority connector="GeoNames" user="existdb" prefix="geo"></pb-authority>
                        </pb-authority>
                        <pb-authority connector="GND" name="term" prefix="gnd"></pb-authority>
                            <pb-authority connector="Custom" name="person" edit="">
                            <pb-authority connector="GND" prefix="gnd"></pb-authority>
                        </pb-authority>
                    </pb-authority-lookup>
                </fx-group>

                <fx-group ref="occurrences" class="occurrences">
                    <section id="occurrences">
                        <header>
                            <div><pb-i18n key="annotations.occurrences">Occurrences in text</pb-i18n></div>
                            <div>
                                <paper-icon-button id="mark-all" icon="icons:done-all" data-i18n="[title]annotations.apply-all" data-shortcut="⌘+option+a,ctrl+alt+a"></paper-icon-button>
                                <paper-icon-button id="search-collection" icon="icons:search" data-i18n="[title]annotations.search-other" data-shortcut="⌘+option+a,ctrl+alt+a"></paper-icon-button>
                                <paper-icon-button id="save-all" icon="icons:find-replace" data-i18n="[title]annotations.save-other"></paper-icon-button>
                            </div>
                        </header>
                        <p class="messages"></p>
                        <ul></ul>
                    </section>
                </fx-group>

                <fx-group id="markupPanel">
                    <section>
                        <pb-tabs>
                            <paper-tab slot="tab">HTML</paper-tab>
                            <paper-tab slot="tab">TEI</paper-tab>
                            <paper-tab slot="tab">JSON</paper-tab>
                            <paper-tab slot="tab"><pb-i18n key="annotations.changes">Changes</pb-i18n></paper-tab>
                            <iframe slot="page" id="html" src="about:blank"></iframe>
                            <pb-code-highlight slot="page" id="output" language="xml" theme="default"></pb-code-highlight>
                            <pre slot="page" id="json"></pre>
                            <div slot="page" id="changes"></div>
                        </pb-tabs>
                        <div class="preview-toolbar">
                            <pb-select-odd emit="preview" subscribe="nil" label="Select ODD for preview"></pb-select-odd>
                            <paper-icon-button id="reload-preview" icon="icons:refresh" data-i18n="[title]annotations.preview"></paper-icon-button>
                        </div>
                    </section>
                </fx-group>

                <fx-action id="reset-panels">
                    <fx-setvalue ref="annotation">false</fx-setvalue>
                    <fx-setvalue ref="authority">false</fx-setvalue>
                    <fx-setvalue ref="occurrences">false</fx-setvalue>
                    <fx-setvalue ref="commit">false</fx-setvalue>
                    <fx-setvalue ref="instance('i-commit')/message" value="''"></fx-setvalue>
                    <!-- ### if a custom form has been embedded before kick it out -->
                    <fx-load attach-to="#authority-editor">
                        <template>
                            <div></div>
                        </template>
                    </fx-load>
                    <!-- reset -->
                    <fx-setvalue ref="ref"></fx-setvalue>
                    <fx-update></fx-update>
                    <fx-refresh></fx-refresh>
                </fx-action>

                <!-- Show the revision description panel before sending the document to the server -->
                <fx-action event="pb-before-save" target="#document">
                    <fx-setvalue ref="commit">true</fx-setvalue>
                    <fx-setvalue ref="instance('i-commit')/@user" value="event('user')"></fx-setvalue>
                    <fx-setvalue ref="instance('i-commit')/@export" value="event('export')"></fx-setvalue>
                    <fx-setvalue ref="instance('i-commit')/message" value="''"></fx-setvalue>
                    <fx-update></fx-update>
                    <fx-refresh></fx-refresh>
                </fx-action>

                <fx-action event="pb-selection-changed" target="#document" if="event('hasContent')">
                    <fx-setvalue ref="selected" value="event('selected')"></fx-setvalue>
                    <fx-setvalue ref="instance()/query" value="instance()/selected"></fx-setvalue>
                    <!-- ### reset previously opened panels -->
                    <fx-call action="reset-panels"></fx-call>
                </fx-action>


                <!-- ###
                    receiving pb-authority-lookup event from pb-authority-lookup component which provides the
                    `type` of annotation and the selected text in `query`
                 -->
                <fx-action event="pb-authority-lookup" target="#document">
                    <!-- ### store the 'type' of annotation -->
                    <fx-setvalue ref="instance()/type" value="event('type')"></fx-setvalue>
                    <fx-setvalue ref="instance()/query" value="event('query')"></fx-setvalue>
                    <fx-call action="show-annotation"></fx-call>
                    <!-- ### show authority panel if it is in the static list of supported types -->
                    <fx-setvalue ref="authority">true</fx-setvalue>
                </fx-action>

                <fx-action event="pb-authority-new-entity" target="#document">
                    <fx-load url="templates/pages/annotation/{event('type')}-editor.html"
                             attach-to="#authority-editor"></fx-load>
                    <fx-setvalue ref="instance()/authority-editor" value="event('type')"></fx-setvalue>
                    <fx-message>Remember to close/save editor before continuing</fx-message>
                    <fx-dispatch name="pb-disable" targetid="view1"></fx-dispatch>
                </fx-action>

                <fx-action event="pb-authority-edit-entity" target="#document">
                    <fx-setvalue ref="authority">true</fx-setvalue>
                    <fx-setvalue ref="ref" value="event('id')"></fx-setvalue>
                    <fx-message>Remember to close/save editor before continuing</fx-message>
                    <fx-setvalue ref="instance()/authority-editor" value="event('type')"></fx-setvalue>
                    <fx-load url="templates/pages/annotation/{event('type')}-editor.html"
                             attach-to="#authority-editor"></fx-load>
                    <fx-dispatch name="pb-disable" targetid="view1"></fx-dispatch>
                </fx-action>

                <fx-action event="pb-authority-error" target="#document">
                    <fx-message if="event('status')='403'" level="sticky">Cannot save to local register. Please log in!</fx-message>
                    <fx-message if="event('status')!='403'" level="sticky">Cannot save to local register: {event('status')}</fx-message>
                </fx-action>

                <!-- ### show the annotation form and the authority search -->
                <fx-action id="show-annotation" event="show-annotation" target="#document">
                    <fx-call action="reset-panels"></fx-call>
                    <!-- ### show annotation details panel -->
                    <fx-setvalue ref="annotation">true</fx-setvalue>
                </fx-action>

                <!-- ### edit an existing annotation -->
                <fx-action event="annotation-edit" target="#document">
                    <fx-call action="reset-panels"></fx-call>
                    <fx-setvalue ref="annotation">true</fx-setvalue>
                    <fx-setvalue ref="ref" value="event('ref')"></fx-setvalue>

                    <!-- ### update the input in the iron-form with the text-selection we get from 'query' -->
                    <fx-call function="updateAnnotationDetails(event('ref'))"></fx-call>
                    <fx-update></fx-update>
                                    </fx-action>

                <!-- ### remove the custom authority editor form from DOM -->
                <fx-action event="hide-authority" target="#document">
                    <fx-load attach-to="#authority-editor">
                        <template><div></div></template>
                    </fx-load>
                    <fx-dispatch name="pb-enable" targetid="view1"></fx-dispatch>
                </fx-action>


                <!-- ### an authority has been created by an plugin authority form  -->
                <fx-action event="authority-created" target="#document">
                    <!--fx-call function="updateAnnotationDetails(event('ref'))"></fx-call-->
                    <fx-setvalue ref="authority">false</fx-setvalue>
                    <fx-setvalue ref="occurrences">true</fx-setvalue>
                    <fx-dispatch name="pb-enable" targetid="view1"></fx-dispatch>
                    <fx-load attach-to="#authority-editor">
                        <template>
                            <div></div>
                        </template>
                    </fx-load>
                </fx-action>

                <fx-action event="pb-authority-select" target="#document">
                    <fx-setvalue ref="authority">false</fx-setvalue>
                    <fx-setvalue ref="occurrences">true</fx-setvalue>
                </fx-action>

                <fx-action event="reset-panels" target="#document">
                    <fx-call action="reset-panels"></fx-call>
                </fx-action>
            </fx-fore>

        </aside>
    <paper-dialog id="ner-dialog">
        <paper-dialog-scrollable>
            <h2><pb-i18n key="annotations.ner.title">Named Entity Extraction</pb-i18n></h2>
            <p><pb-i18n key="annotations.ner.description">Try to automatically find named entities in the text and mark them as annotations.</pb-i18n></p>
            <paper-dropdown-menu data-i18n="[label]annotations.ner.model" label="Select a model">
                <paper-listbox slot="dropdown-content" selected="0"></paper-listbox>
            </paper-dropdown-menu>
            <!--p>OR</p>
            <paper-checkbox>Use rule-based matching</paper-checkbox>
            <paper-input id="lang" data-i18n="[label]ner.language"></paper-input-->
        </paper-dialog-scrollable>
        <div class="buttons">
            <paper-button id="ner-run" dialog-confirm="dialog-confirm" autofocus="autofocus">
                <pb-i18n key="annotations.ner.run">Find entities</pb-i18n>
            </paper-button>
            <paper-button dialog-confirm="dialog-confirm">
                <pb-i18n key="dialogs.close">Close</pb-i18n>
            </paper-button>
        </div>
    </paper-dialog>
    <pb-message id="restore-dialog" data-i18n="[title]annotations.confirm-restore-title;[message]annotations.restore"></pb-message>
    <pb-message id="confirm-reload-dialog" data-i18n="[title]annotations.confirm-reload-title;[message]annotations.confirm-reload"></pb-message>
    <pb-message id="permission-denied-dialog" data-i18n="[title]dialogs.error;[message]annotations.permission"></pb-message>
    <pb-message id="ner-denied-dialog" data-i18n="[title]dialogs.error;[message]annotations.ner.denied"></pb-message>
    <pb-message id="error-dialog" data-i18n="[title]dialogs.error;[message]dialogs.serverError"></pb-message>
    <pb-message id="runtime-error-dialog" data-i18n="[title]dialogs.error;[message]dialogs.serverError"></pb-message>
    <pb-message id="discard-review-dialog" data-i18n="[title]annotations.confirm-discard-title;[message]annotations.confirm-discard"></pb-message>
    <dialog id="d-review">
        <div class="dialog-content">
            <h3>
                <paper-icon-button class="close" dialog-confirm="dialog-confirm" icon="icons:close"
                    data-i18n="[title]dialogs.close"></paper-icon-button>
                [<pb-i18n key="annotations.doc-count" options='{"count": 0, "total": 0}'></pb-i18n>] 
                <a href="#" target="_blank" data-i18n="[title]annotations.hints.open-in-tab"></a>: <span class="count"></span>
            </h3>
            <header class="toolbar">
                <paper-icon-button icon="icons:chevron-left" class="previous"></paper-icon-button>
                <paper-icon-button class="save-current" icon="icons:save" data-i18n="[title]annotations.save"></paper-icon-button>
                <paper-icon-button icon="icons:chevron-right" class="next"></paper-icon-button>
            </header>
            <ul></ul>
            <footer>
                <mark class="modify">&#x2003;</mark> <pb-i18n key="annotations.hints.modify"></pb-i18n>;
                <mark class="incomplete">&#x2003;</mark> <pb-i18n key="annotations.hints.incomplete"></pb-i18n>;
                <mark>&#x2003;</mark> <pb-i18n key="annotations.hints.unmarked"></pb-i18n>
            </footer>
        </div>
    </dialog>
</pb-page>
<div class="splash"></div>
</body>
</html>
