/* overwrites */
#html {
    width: 100%;
    border: 0;

    --aside-width:24rem;
}
aside > fx-fore > fx-group{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.annotation-editor iron-form {
    padding: 0 8px;
}

#add-authority{
    /*
    position: absolute;
    right:1rem;
    */
}

#authority-info {
    font-size: .9rem;
    max-height: 25vh;
    overflow: auto;
}

#authority-editor{
    max-height: 50vh;
    position: relative;
    overflow: auto;
}
#authority-editor main,
#authority-editor button{
    font-size: 0.8rem;
}
#authority-editor main,
#authority-editor section,
#authority-editor fx-group{
    margin:0;
    padding: 0;
    position: relative;
}

#authority-editor main{
    max-height: 50vh;
    position: relative;
}
#authority-editor fx-fore > header{
    position: absolute;
    width: 20rem;
    z-index: 10;
    background: #efefef;
    padding: 0 1rem;
}

fx-group#general{
    padding-top:2.5rem;
}

#authority-editor input.widget{
    width: calc(100% - 2rem);
}

#changes pb-code-highlight {
    margin-bottom: 10px;
}

.fx-ready main {
    display: grid;
    grid-template-columns: 1fr 24rem;
    grid-template-rows: 100%;
    gap: 0 10px;
    height: calc(100vh - 150px);
    --pb-popover-min-width: 20vw;
    --pb-popover-max-width: 360px;
    --pb-annotation-stripes-light: #e0e0ef;
    --pb-annotation-stripes-dark: #50505f;
    margin-top:1rem;
    padding:0 1rem;
}
fx-fore fx-group > section{
    overflow:hidden;
}

fx-fore fx-group{
    display:grid;
    grid-template-rows:1fr;
    transition:grid-template-rows .4s;
    height:auto;
}
fx-fore fx-group[nonrelevant]{
    transition:grid-template-rows .4s;
    grid-template-rows:0fr;
    height:0;
}

#authority-editor fx-trigger{
    text-align: right;
}

.edit-panel{
}
.annotation-editor {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr;
}
.header-toolbar{
    position: relative;
}
.icon-group paper-icon-button{
    display: inline-block;
}

main .toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: var(--pb-color-inverse);
}



fx-group.search{
    max-height:30rem;
    overflow:auto;
}

fx-fore fx-group{
    padding:0.5rem;
    margin:0;
}

fx-fore > fx-group{
    border:thin solid #efefef;
    margin-bottom:1rem;
}

fx-fore header{
    font-size:1rem;
}

header h1{
    margin-block-start:0.5rem;
    margin-block-end:0.5rem;
}


header paper-icon-button{
    display: inline-block;
}


.text {
    height: 100%;
    display: flex;
    flex-direction: column;
}

pb-authority-lookup {
    min-height: 60vw;
    max-height: 80vh;
}

pb-authority-lookup::part(output) {
    font-size: 1rem;
}
pb-tabs {
    --paper-tabs-selection-bar-color: #607D8B;
    height: calc(100% - 40px);
}

pb-tabs::part(pages) {
    height: calc(100% - 62px);
}

pb-tabs [slot="page"] {
    height: 100%;
    overflow: auto;
}

pb-tabs pre {
    margin: 0;
}

.preview header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pb-color-inverse);
}

.preview header .toolbar {
    flex-wrap: nowrap;
}


#output, #changes {
    font-size: .75em;
    --pb-code-highlight-white-space: pre-wrap;
}


#view1 {
    overflow: auto;
}

#view1::part(content) {
    line-height: 2;
}

#form-save {
    float: right;
}

#view1::part(highlight) {
    border: 3px solid rgb(255, 174, 0);
    border-radius: 8px;
}

.occurrences {
    overflow: auto;
    margin-top: 16px;
    padding: 0 8px;
    font-size: .85rem;
}

.occurrences h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pb-color-inverse);
}

.occurrences ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.occurrences li {
    margin-bottom: 12px;
}

.occurrences .id-warning {
    border-bottom: 1px dotted #ff3333;
}

.occurrences mark {
    padding: 2px 4px;
}

.toc-toggle {
    display: none;
}

paper-icon-button[data-type="edit"] {
    background-color: var(--pb-toolbar-background-color);
}

#ner-action {
    display: none; /* Hide initially, show later if NER is available */
    margin-left: 40px;
}

[nonrelevant]{
    visibility:hidden;
    display:block;
}
