/* overwrites */
html {
    width: 100%;
    border: 0;

    --annotation-aside-width: 30rem;
}
body{
    overflow: hidden;
    min-width: 42rem;
    --annotate-color-modify: #dc3848;
}
aside > fx-fore > fx-group{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin:0.5rem;
    width:calc(100% - 2rem);
    background: white;
    padding:0;
}

.toastify.on {
    right: 0;
    left: auto;
}

/*
.fx-ready aside {
    position:fixed;
    right:2rem;
    width:22rem;
    margin-top:-1rem;
}
*/

.annotation-editor iron-form {
    padding: 0 8px;
}

#add-authority{
    /*
    position: absolute;
    right:1rem;
    */
}

#authority-info {
    font-size: .9rem;
    max-height: 25vh;
    overflow: auto;
}

#authority-editor{
    /*max-height: 50vh;*/
    position: relative;
    /*overflow: auto;*/
}
#authority-editor main,
#authority-editor button{
    font-size: 0.8rem;
}
#authority-editor main,
#authority-editor fx-group{
    margin:0 0 1rem 0;
    padding: 0;
    position: relative;
}


#authority-editor main{
    /*max-height: 50vh;*/
    position: relative;
    height: 50vh;
    padding:0.5rem;
    overflow: auto;
}
#authority-editor fx-fore > header {
    position: absolute;
    width: 100%;
    z-index: 10;
    background: #efefef;
    padding: 0;
}

fx-group#general{
    padding-top:2.5rem;
}

#authority-editor input.widget{
    width: calc(100% - 2rem);
}

#changes pb-code-highlight {
    margin-bottom: 10px;
}

/*
.fx-ready main {
    display: grid;
    grid-template-columns: 1fr 24rem;
    grid-template-rows: 100%;
    gap: 0 10px;
    height: calc(100vh - 128px);
    overflow: auto;
    --pb-popover-min-width: 20vw;
    --pb-popover-max-width: 360px;
    --pb-annotation-stripes-light: #e0e0ef;
    --pb-annotation-stripes-dark: #50505f;
    margin-top:1rem;
    padding:0 1rem;
}
*/
fx-fore fx-group > section{
    overflow:hidden;
    position: relative;
}

fx-fore fx-group{
    display:grid;
    grid-template-rows:1fr;
    height:auto;
    animation: grow .6s forwards;

}
fx-fore fx-group[nonrelevant]{
    /*
    transition:grid-template-rows 1.4s;
    grid-template-rows:0fr;
    height:0;
    */
    /*visibility: visible;*/
    animation: shrink .6s forwards;

}

/*
fx.fore > fx-group#authority[nonrelevant]{
    animation: shrink-authority .6s;
    visibility: visible;
}
*/

fx-group iron-form{
    padding:0.5rem;
}

#authority-editor fx-trigger{
    text-align: right;
}

fx-trigger.insert-auth-form{
    position: absolute;
    right: 0;
    top: 1.5rem;
}

.edit-panel{
}
.annotation-editor {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr;
}
.header-toolbar{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    /*position:fixed;*/
    width:100%;
    background:#efefef;
    padding:0;
    z-index:97;
}
.header-toolbar .icon-group{
    padding:0.5rem 1rem;
}
.header-toolbar a:link, .header-toolbar a:active {
    text-decoration: none;
}

.icon-group paper-icon-button{
    display: inline-block;
}

fx-group.search{
    /*max-height:30rem;*/
    overflow:auto;
}

fx-fore fx-group{
    padding:0.5rem;
    margin:0;
}

fx-fore > fx-group{
    border:thin solid #efefef;
    margin-bottom:1rem;
}

fx-fore header{
    font-size:1rem;
}

header h1{
    margin-block-start:0.5rem;
    margin-block-end:0.5rem;
}


header paper-icon-button{
    display: inline-block;
}
#markupPanel{
    visibility: hidden;
}
#markupPanel #html {
    margin: 0 20px;
    width: calc(100vw - 40px);
    border: 0;
}

#markupPanel.on{
    visibility: visible;
    position: fixed;
    left: -0.5rem;
    bottom: 0;
    height: 25vh;
    z-index: 10;
    background: white;
    margin-bottom: 0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    width: 100%;
}
#markupPanel.side{
    visibility: visible;
}
#markupPanel.side paper-icon-button{
    transform:rotate(270deg);
    margin-right:2rem;
}
#markupPanel.side paper-tabs{
    height: 100%;
}
fx-group[ref="authority"]{
    overflow: hidden;
}
fx-fore #markupPanel section,
fx-fore #markupPanel pb-tabs{
    height: 100%;
}


.text {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main .text {
    margin-top: 0;
}

pb-authority-lookup {
    max-height: 60vh;
    padding:0.5rem;
    position: relative;
    height: 100%;
    justify-content: flex-start;
}

pb-authority-lookup::part(output) {
    font-size: 1rem;

}
pb-authority-lookup::part(output) ul{
    list-style: none;
    padding:0;
}
pb-document{
    display: none;
}
pb-page{
    display: block;
    /*
    display: grid;
    grid-template-areas: "menu "
                         "toolbar"
                         "textview";
    grid-template-columns: auto 30rem;
    */
    position: relative;
}
/*
pb-page > app-toolbar.menubar{
    grid-area: menu;
    height: 4rem;
    position:fixed;
    width: 100%;
    top:0;
}
*/
pb-page > app-toolbar.menubar {
    grid-area: menu;
    height: 4rem;
    position: fixed;
    width: calc(100% - 1rem);
    top: 0;
    padding: 0 1rem;
    left: -0.5rem;
    z-index: 100;
}
pb-page > header.header-toolbar{
    grid-area: toolbar;
    position:fixed;
    top:4rem;
}

main .toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: var(--pb-color-inverse);
}
pb-page > main{
    grid-area:textview;
    height: 100vh;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr var(--annotation-aside-width);
    background: #ddd;
}

pb-page > main .text{
    /*min-width: 58rem;*/
    /*overflow: auto;*/
    margin-top:8rem;
    background: white;
}
pb-page aside{
    position: fixed;
    right: 0;
    top: 7.6rem;
    min-width: var(--annotation-aside-width);
    width: 35vw;
    background: #efefef;
    height: 100vh;
    border-top: solid 2px #ddd;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 1px 8px 0 rgba(0, 0, 0, 0.12),
    0 3px 3px -2px rgba(0, 0, 0, 0.4);
    z-index: 98;
    overflow: auto;
}

pb-progress{
    position: absolute;
    bottom: 0;
}
pb-tabs {
    --paper-tabs-selection-bar-color: #607D8B;
    height: calc(100% - 40px);
}

pb-tabs::part(pages) {
    height: calc(100% - 62px);
}

pb-tabs [slot="page"] {
    height: 100%;
    overflow: auto;
}

pb-tabs pre {
    margin: 0;
}

pb-view, pb-view-annotate{
    margin-left:2rem;
    width: auto;
}

.preview header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pb-color-inverse);
}

.preview header .toolbar {
    flex-wrap: nowrap;
}


#output, #changes {
    font-size: .75em;
    --pb-code-highlight-white-space: pre-wrap;
}


#view1::part(content) {
    line-height: 2;
    padding-right: 1rem;
}

#form-save {
    float: right;
}

#view1::part(highlight) {
    border: 3px solid rgb(255, 174, 0);
    border-radius: 8px;
}

.occurrences {
    overflow: auto;
    margin-top: 16px;
    font-size: .85rem;
}

.occurrences h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pb-color-inverse);
}


.occurrences ul {
    list-style: none;
    margin: 0;
}
.occurrences p,
.occurrences ul
{
    padding: 0.5rem;
}

.occurrences li {
    margin-bottom: 0.5rem;
}

.occurrences .id-warning {
    border-bottom: 1px dotted #ff3333;
}

mark {
    padding: 2px 4px;
}

mark.incomplete {
    background: repeating-linear-gradient(
        315deg,
        mark,
        mark 5px,
        var(--pb-annotation-stripes-light) 5px,
        var(--pb-annotation-stripes-light) 10px
    );
}

mark.modify, .occurrences .id-warning mark {
    background-color: var(--annotate-color-modify);
    color: var(--pb-color-inverse);
}

.toc-toggle {
    display: none;
}

paper-icon-button[data-type="edit"] {
    background-color: var(--pb-toolbar-background-color);
}

#ner-action {
    display: none; /* Hide initially, show later if NER is available */
    margin-left: 40px;
}

[nonrelevant]{
    visibility:hidden;
    display:block;
}

#d-review {
    position: fixed;
    top: 128px;
    bottom: 64px;
    left: 10vw;
    right: 10vw;
    height: auto;
    width: auto;
    z-index: 99;
}

#d-review div.dialog-content {
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100%;
}

#d-review h3 {
    margin: 0;
}

#d-review ul {
    overflow: auto;
}

#d-review .close {
    float: right;
}

#d-review ul li {
    display: flex;
}

/* ### authority editor */
fx-repeat{
    margin-right:1rem;
}
fx-fore .four-col fx-repeatitem{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 2rem;
    grid-gap:0;
    align-items:end;
}
fx-fore .two-col fx-repeatitem{
    display:grid;
    grid-template-columns:auto 2rem;
    align-items:center;
}

@media (max-width: 50rem) {

     pb-page aside{
        top:14.6rem;
    }
}
@media (max-width: 40rem) {

     pb-page aside{
        top:17rem;
    }
}

@keyframes grow {
    0% {
        grid-template-rows:0;
    }
    100% {
        grid-template-rows: 1fr;
    }
}
@keyframes shrink {
    0% {
        grid-template-rows:1fr;
    }
    100% {
        grid-template-rows: 0;
        height: 0;
        visibility: hidden;
    }
}
