<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <meta name="description" content="Default single text layout"/>
        <meta name="pb-template" content="view.html"/>

        <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap"/>
        <link rel="stylesheet" href="resources/css/theme.css"/>
        <link rel="stylesheet" href="templates/pages/annotate.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"></script>
        <script type="text/javascript" src="resources/scripts/annotations/annotations.js"></script>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved">
            <pb-document id="document1" data-template="pages:pb-document"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                        <app-toolbar data-template="lib:include" data-template-path="templates/toolbar.html"/>
                    </app-header>

                    <pb-drawer toggle="tocToggle" class="toc" emit="toc" subscribe="transcription">
                        <div class="drawer-content">
                            <h3>
                                <pb-i18n key="document.contents">Contents</pb-i18n>
                            </h3>
                            <pb-load id="toc" url="api/document/{doc}/contents?target=transcription&amp;icons=true" expand="expand" src="document1" subscribe="toc" load-once="load-once"><pb-i18n key="dialogs.loading">Loading</pb-i18n></pb-load>
                        </div>
                    </pb-drawer>
                    <main>
                        <aside class="annotation-editor">
                            <div class="toolbar">
                                <paper-icon-button id="clear-all" icon="icons:refresh"></paper-icon-button>
                                <paper-icon-button class="annotation-action authority" data-type="person" data-shortcut="command+shift+p" icon="social:person" disabled="disabled"></paper-icon-button>
                                <paper-icon-button class="annotation-action authority" data-type="organisation" data-shortcut="command+shift+o" icon="social:people" disabled="disabled"></paper-icon-button>
                                <paper-icon-button class="annotation-action authority" data-type="place" icon="maps:place" data-shortcut="command+shift+g" disabled="disabled"></paper-icon-button>
                                <paper-icon-button class="annotation-action authority" data-type="term" icon="icons:bookmark" data-shortcut="command+shift+t" disabled="disabled"></paper-icon-button>
                                <paper-icon-button class="annotation-action authority" data-type="date" icon="icons:today" data-shortcut="command+shift+d" disabled="disabled"></paper-icon-button>
                                <paper-icon-button class="annotation-action" data-type="note" icon="editor:insert-comment" data-shortcut="command+shift+c" disabled="disabled"></paper-icon-button>
                            </div>
                            <iron-form id="edit-form">
                                <form action="">
                                    <div class="annotation-form person organisation place term">
                                        <paper-input id="form-ref" name="ref" label="Reference">
                                            <paper-icon-button slot="prefix" icon="search"></paper-icon-button>
                                        </paper-input>
                                        <div id="authority-info"></div>
                                    </div>
                                    <div class="annotation-form note">
                                        <paper-textarea label="Note" name="note" height="10" rows="6"></paper-textarea>
                                    </div>
                                    <div class="annotation-form date">
                                        <paper-input name="when" label="When"></paper-input>
                                        <paper-input name="from" label="From"></paper-input>
                                        <paper-input name="to" label="To"></paper-input>
                                    </div>
                                    <paper-icon-button id="form-save" icon="icons:save"></paper-icon-button>
                                </form>
                            </iron-form>
                            <div id="occurrences">
                                <h4><div>Occurrences in text</div> <paper-icon-button id="mark-all" icon="icons:done-all"></paper-icon-button></h4>
                                <ul></ul>
                            </div>
                        </aside>
                        <div class="text">
                            <pb-view id="title-view1" src="document1" xpath="//teiHeader/fileDesc/titleStmt/title" view="single">
                                <pb-param name="header" value="short"/>
                            </pb-view>
                            <pb-view-annotate id="view1" src="document1"
                                column-separator=".tei-cb" append-footnotes="append-footnotes"
                                subscribe="transcription" emit="transcription">
                                <pb-param name="track-ids" value="yes"/>
                            </pb-view-annotate>
                        </div>
                        <pb-tabs>
                            <paper-tab slot="tab">HTML</paper-tab>
                            <paper-tab slot="tab">TEI</paper-tab>
                            <paper-tab slot="tab">JSON</paper-tab>
                            <iframe slot="page" id="html" src="about:blank"></iframe>
                            <div slot="page">
                                <pb-code-highlight id="output" language="xml" theme="default"></pb-code-highlight>
                            </div>
                            <div slot="page">
                                <pre id="json"></pre>
                            </div>
                        </pb-tabs>
                    </main>
                </app-header-layout>
            </app-drawer-layout>
            <paper-dialog id="authority-dialog">
                <paper-dialog-scrollable>
                    <pb-authority-lookup subscribe="transcription" emit="transcription">
                        <pb-authority connector="Airtable" name="person" 
                            api-key="keyFpBEqgkRWCNrfK" base="appcVM9MIZSxyvkCU"
                            table="People"
                            fields="Name"
                            label="${Name}"
                            detail="" info="&lt;h3>${Name}&lt;/h3>"
                            filter="find('${key}', lower({Name}))">
                            <pb-property name="ref" value="${id}"/>
                        </pb-authority>
                        <pb-authority connector="GeoNames" name="place" user="existdb">
                            <pb-property name="ref" value="geo:${id}"/>
                        </pb-authority>
                        <pb-authority connector="GND" name="term">
                            <pb-property name="ref" value="gnd:${id}"/>
                        </pb-authority>
                        <!--pb-authority connector="GND" name="person">
                            <pb-property name="ref" value="gnd:${id}"/>
                        </pb-authority-->
                        <pb-authority connector="Metagrid" name="organisation">
                            <pb-property name="ref" value="${provider}:${id}"/>
                        </pb-authority>
                    </pb-authority-lookup>
                </paper-dialog-scrollable>
                <div class="buttons">
                    <paper-button dialog-confirm="dialog-confirm" autofocus="autofocus">
                        <pb-i18n key="dialogs.close">Close</pb-i18n>
                    </paper-button>
                </div>
            </paper-dialog>
        </pb-page>
        <div class="splash"></div>
    </body>
</html>
