<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <meta name="description" content="Annotation Editing"/>
        <meta name="pb-template" content="annotate.html"/>

        <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap"/>
        <link rel="stylesheet" href="resources/css/theme.css"/>
        <link rel="stylesheet" href="templates/pages/annotate.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"></script>
        <script type="text/javascript" src="resources/scripts/annotations/annotations.js"></script>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" require-language="require-language">
            <pb-document id="document1" data-template="pages:pb-document"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                        <app-toolbar data-template="lib:include" data-template-path="templates/toolbar.html"/>
                    </app-header>

                    <main>
                        <aside class="annotation-editor">
                            <div class="toolbar">
                                <!--paper-icon-button id="clear-all" icon="icons:refresh"></paper-icon-button-->
                                <paper-icon-button class="annotation-action authority" data-i18n="[title]annotations.person" title="Person" data-type="person" data-shortcut="⌘+⇧+p,ctrl+⇧+p" icon="social:person" disabled="disabled"></paper-icon-button>
                                <paper-icon-button class="annotation-action authority" data-i18n="[title]annotations.organisation" title="organization" data-type="organization" data-shortcut="⌘+⇧+o,ctrl+⇧+o" icon="social:people" disabled="disabled"></paper-icon-button>
                                <paper-icon-button class="annotation-action authority" data-i18n="[title]annotations.place" title="Place" data-type="place" icon="maps:place" data-shortcut="⌘+⇧+q,ctrl+⇧+q" disabled="disabled"></paper-icon-button>
                                <paper-icon-button class="annotation-action authority" data-i18n="[title]annotations.term" title="Term" data-type="term" icon="icons:bookmark" data-shortcut="⌘+⇧+t,ctrl+⇧+t" disabled="disabled"></paper-icon-button>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.date" title="Date" data-type="date" icon="icons:today" data-shortcut="⌘+⇧+d,ctrl+⇧+d" disabled="disabled"></paper-icon-button>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.ref" title="Reference" data-type="link" icon="icons:link" data-shortcut="⌘+⇧+l,ctrl+⇧+l" disabled="disabled"></paper-icon-button>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.abbreviation" title="Abbreviation" data-type="abbreviation" icon="icons:translate" data-shortcut="⌘+⇧+b,ctrl+⇧+b" disabled="disabled"></paper-icon-button>
                                <paper-icon-button class="annotation-action" title="Sic" data-type="sic" icon="editor:strikethrough-s" data-shortcut="⌘+⇧+e,ctrl+⇧+e" disabled="disabled"></paper-icon-button>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.reg" title="Regularization" data-type="reg" icon="editor:wrap-text" data-shortcut="⌘+⇧+g,ctrl+⇧+g" disabled="disabled"></paper-icon-button>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.app" title="Apparatus" data-type="app" icon="icons:visibility" data-shortcut="⌘+⇧+v,ctrl+⇧+v" disabled="disabled"></paper-icon-button>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.hi" title="Highlight" data-type="hi" icon="editor:format-bold" data-shortcut="⌘+⇧+h,ctrl+⇧+h" disabled="disabled"></paper-icon-button>
                                <paper-icon-button class="annotation-action" data-i18n="[title]annotations.modify" title="Edit" data-type="edit" icon="editor:mode-edit" data-shortcut="⌘+⇧+m,ctrl+⇧+m" disabled="disabled"></paper-icon-button>
                            </div>
                            <iron-form id="edit-form">
                                <form action="">
                                    <div class="annotation-form person organization place term">
                                        <paper-input id="form-ref" name="ref" data-i18n="[label]annotations.reference" label="Reference">
                                            <paper-icon-button slot="prefix" icon="search" data-i18n="[label]annotations.lookup"></paper-icon-button>
                                        </paper-input>
                                        <div id="authority-info"><pb-i18n key="dialogs.loading">Loading ...</pb-i18n></div>
                                    </div>
                                    <div class="annotation-form date">
                                        <paper-input name="when" label="when"></paper-input>
                                        <paper-input name="from" label="from"></paper-input>
                                        <paper-input name="to" label="to"></paper-input>
                                    </div>
                                    <div class="annotation-form hi">
                                        <paper-input name="rend" label="rend"></paper-input>
                                        <paper-input name="rendition" label="rendition"></paper-input>
                                    </div>
                                    <div class="annotation-form link">
                                        <paper-input name="target" label="target"></paper-input>
                                    </div>
                                    <pb-repeat class="annotation-form app" initial="1">
                                        <template>
                                            <paper-input name="wit" label="wit"></paper-input>
                                            <paper-input name="rdg" label="rdg"></paper-input>
                                        </template>
                                    </pb-repeat>
                                    <paper-input class="annotation-form sic" name="corr" data-i18n="[label]annotations.correction" label="Correction"></paper-input>
                                    <paper-input class="annotation-form abbreviation" name="expan" data-i18n="[label]annotations.expansion" label="Expansion"></paper-input>
                                    <paper-input class="annotation-form reg" name="reg" data-i18n="[label]annotations.reg" label="Regularization"></paper-input>
                                    <div class="annotation-form edit">
                                        <p><pb-i18n key="annotations.modify-info"></pb-i18n></p>
                                        <paper-input name="content" data-i18n="[label]annotations.correction" label="Correction"></paper-input>
                                    </div>
                                    <paper-icon-button id="form-save" icon="icons:save" data-i18n="[label]annotations.apply"></paper-icon-button>
                                </form>
                            </iron-form>
                            <div id="occurrences">
                                <h4><div><pb-i18n key="annotations.occurrences">Occurrences in text</pb-i18n></div> <paper-icon-button id="mark-all" icon="icons:done-all" data-i18n="[label]annotations.apply-all" data-shortcut="⌘+option+a,ctrl+alt+a"></paper-icon-button></h4>
                                <ul></ul>
                            </div>
                        </aside>
                        <div class="text">
                            <pb-view id="title-view1" src="document1" xpath="//teiHeader/fileDesc/titleStmt/title" view="single">
                                <pb-param name="header" value="short"/>
                            </pb-view>
                            <pb-view-annotate id="view1" src="document1" odd="annotations"
                                append-footnotes="append-footnotes" suppress-highlight="suppress-highlight"
                                subscribe="transcription" emit="transcription">
                                <pb-param name="track-ids" value="yes"/>
                            </pb-view-annotate>
                        </div>
                        <aside class="preview">
                            <header>
                                <div class="toolbar">
                                    <paper-icon-button id="reload-all" icon="icons:restore" data-i18n="[title]annotations.reload"></paper-icon-button>
                                    <paper-icon-button id="document-save" icon="icons:save" data-i18n="[title]annotations.save" data-shortcut="⌘+⇧+s,ctrl+⇧+s"></paper-icon-button>
                                    <paper-icon-button id="document-download" icon="icons:cloud-download" data-i18n="[title]annotations.download" data-shortcut="⌘+⇧+d,ctrl+⇧+d"></paper-icon-button>
                                    <paper-icon-button id="undo-history" icon="icons:undo" data-i18n="[title]annotations.undo"></paper-icon-button>
                                    <paper-icon-button id="reload-preview" icon="icons:refresh" data-i18n="[title]annotations.preview"></paper-icon-button>
                                </div>
                                <pb-select-odd emit="preview"></pb-select-odd>
                            </header>
                            <pb-tabs>
                                <paper-tab slot="tab">HTML</paper-tab>
                                <paper-tab slot="tab">TEI</paper-tab>
                                <paper-tab slot="tab">JSON</paper-tab>
                                <paper-tab slot="tab"><pb-i18n key="annotations.changes">Changes</pb-i18n></paper-tab>
                                <iframe slot="page" id="html" src="about:blank"></iframe>
                                <pb-code-highlight slot="page" id="output" language="xml" theme="default"></pb-code-highlight>
                                <pre slot="page" id="json"></pre>
                                <div slot="page" id="changes"></div>
                            </pb-tabs>
                        </aside>
                    </main>
                </app-header-layout>
            </app-drawer-layout>
            <paper-dialog id="authority-dialog">
                <paper-dialog-scrollable>
                    <pb-authority-lookup subscribe="transcription" emit="transcription">
                        <pb-authority connector="Custom" name="organization">
                            <pb-authority connector="GND" prefix="gnd"></pb-authority>
                        </pb-authority>
                        <!--pb-authority connector="GeoNames" name="place" user="existdb" prefix="geo"></pb-authority-->
                        <pb-authority connector="Custom" name="place">
                            <pb-authority connector="GeoNames" user="existdb" prefix="geo"></pb-authority>
                        </pb-authority>
                        <pb-authority connector="Custom" name="term">
                            <pb-authority connector="GND" prefix="gnd"></pb-authority>
                        </pb-authority>
                        <pb-authority connector="Custom" name="person">
                            <pb-authority connector="GND" prefix="gnd"></pb-authority>
                        </pb-authority>
                    </pb-authority-lookup>
                </paper-dialog-scrollable>
                <div class="buttons">
                    <paper-button dialog-confirm="dialog-confirm" autofocus="autofocus">
                        <pb-i18n key="dialogs.close">Close</pb-i18n>
                    </paper-button>
                </div>
            </paper-dialog>
            <pb-message id="restore-dialog" data-i18n="[title]annotations.confirm-restore-title;[message]annotations.restore"></pb-message>
            <pb-message id="confirm-reload-dialog" data-i18n="[title]annotations.confirm-reload-title;[message]annotations.confirm-reload"></pb-message>
            <pb-message id="permission-denied-dialog" data-i18n="[title]dialogs.error;[message]annotations.permission"></pb-message>
            <pb-message id="error-dialog" data-i18n="[title]dialogs.error;[message]dialogs.serverError"></pb-message>
            <pb-message id="runtime-error-dialog" data-i18n="[title]dialogs.error;[message]dialogs.serverError"></pb-message>
        </pb-page>
        <div class="splash"></div>
    </body>
</html>
