<template>
    ---json
    {
        "templating": {
            "extends": "templates/pages/basic.html"
        },
        "styles": [
            "resources/css/documentation.css"
        ],
        "defaults": {
            "base": "doc/documentation.xml"
        },
        "urls": {
            "ignore": "odd,view,path,hash"
        },
        "features": {
            "toc": {
                "enabled": true,
                "collapse": false
            },
            "playground": {
                "enabled": false
            }
        }
    }
    ---
    [% template! breadcrumb %]
    <li>
        <pb-view class="breadcrumbs" src="document1" subscribe="transcription" disable-history="" on-update="">
            <pb-param name="mode" value="breadcrumb"/>
        </pb-view>
    </li>
    [% endtemplate %]
</template>