<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <base href="${base}" data-template="pages:parse-params"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <meta name="description" content="Documentation"/>
        <link rel="stylesheet" href="resources/css/theme.css"/>
        <link rel="stylesheet" href="templates/pages/documentation.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"></script>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" url-template="documentation/:id?" url-ignore="odd,view,path">
            <pb-document id="document1" data-template="pages:pb-document"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                        <!-- Overwrite toolbar to change navigation to parent button -->
                        <app-toolbar class="toolbar" sticky="sticky">
                            <paper-icon-button id="tocToggle" class="toc-toggle" icon="icons:view-list"/>
                            <a href="${app}/index.html" data-i18n="[title]browse.${collection}.title" title=""
                                data-template="pages:parse-params" data-target="toolbar-parent">
                                <paper-icon-button icon="icons:folder-open"></paper-icon-button>
                            </a>
                            <div id="toolbar-start" style="display: none"></div>
                            <pb-restricted login="login">
                                <pb-ajax subscribe="transcription" emit="transcription" url="api/odd" method="post" 
                                    data-template="pages:parse-params" event="pb-refresh"
                                    title="Recompile ODD" data-i18n="[title]menu.admin.recompile">
                                    <h3 slot="title"><pb-i18n key="menu.admin.recompile"></pb-i18n></h3>
                                    <paper-icon-button icon="icons:refresh"></paper-icon-button>
                                </pb-ajax>
                            </pb-restricted>
                            <pb-zoom emit="transcription" direction="in" icon="icons:zoom-in"/>
                            <pb-zoom emit="transcription" direction="out" icon="icons:zoom-out"/>
                            <paper-icon-button icon="icons:menu" drawer-toggle="drawer-toggle"/>
                            <pb-progress subscribe="transcription" indeterminate="indeterminate" bottom-item="bottom-item"/>
                        </app-toolbar>
                    </app-header>

                    <main>
                        <pb-drawer class="toc" toggle="tocToggle" emit="toc" subscribe="transcription" max-width="1024px">
                            <pb-load url="api/document/{doc}/contents?target=transcription&amp;icons=false" expand="expand" src="document1" auto="auto"><pb-i18n key="dialogs.loading">Loading</pb-i18n></pb-load>
                        </pb-drawer>
                        <pb-view class="breadcrumbs" src="document1" subscribe="transcription" disable-history="" on-update="">
                            <pb-param name="mode" value="breadcrumbs"/>
                        </pb-view>
                        <pb-view id="view1" src="document1" load-css="odd/docbook.css"
                            column-separator=".tei-cb" append-footnotes="append-footnotes"
                            subscribe="transcription" emit="transcription"
                            wait-for="toc"/>
                        <footer>
                            <!-- Navigate to next page -->
                            <pb-navigation direction="forward" keyboard="right" emit="transcription" subscribe="transcription">
                                <paper-button>
                                    <iron-icon icon="icons:chevron-right"></iron-icon>
                                </paper-button>
                            </pb-navigation>
                            <!-- Navigate to previous page -->
                            <pb-navigation direction="backward" keyboard="left" emit="transcription" subscribe="transcription">
                                <paper-button>
                                    <iron-icon icon="icons:chevron-left"></iron-icon>
                                </paper-button>
                            </pb-navigation>
                        </footer>
                    </main>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"></div>
    </body>
</html>
