<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <meta name="description" content="Template for markdown page"/>
        <meta name="pb-template" content="markdown.html"/>

        <link rel="stylesheet" href="resources/css/theme.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"></script>
        <style>
            .toolbar pb-navigation {
                display: none;
            }
            pb-markdown {
                max-width: 960px;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved">
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                        <app-toolbar data-template="lib:include" data-template-path="templates/toolbar.html"/>
                    </app-header>
                    <main class="content-body">
                        <pb-markdown data-template="pages:parse-params" url="api/document/${doc}"></pb-markdown>
                    </main>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"></div>
    </body>
</html>
