<?xml version="1.0" encoding="UTF-8"?>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" />
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico" />
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24" />
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64" />

    <title data-template="config:app-title" />
    <meta name="description" content="Van Gogh Letter" />
    <meta name="pb-template" content="vangogh.html" />

    <link rel="stylesheet" href="resources/css/theme.css" />
    <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"></script>
    <custom-style>
        <style include="pb-common-styles">
            body {
                --pb-view-height: calc(100vh - 192px);
                --pb-facsimile-height: calc(var(--pb-view-height) - 89px);
            }

            pb-facsimile {
                min-width: 480px;
                height: var(--pb-facsimile-height);
            }

            .facscaption {
                font-size: 75%;
                text-align: right;
            }

            .metadata {
                max-width: 20vw;
            }

            .content-body {
                position: relative;
                display: flex;
                justify-content: center;
                padding: 0 20px;
            }

            .content-body pb-view {
                flex: 1 1;
            }

            .toc-toggle {
                display: none;
            }

            .breadcrumbs {
                display: flex;
                justify-content: space-between;
                align-self: center;
            }
        </style>
    </custom-style>
</head>

<body>
    <pb-page data-template="pages:pb-page" unresolved="unresolved">
        <pb-document id="document1" data-template="pages:pb-document" />
        <app-drawer-layout force-narrow="force-narrow">
            <app-drawer data-template="lib:include" data-template-path="templates/drawer.html" />
            <app-header-layout>
                <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                    <app-toolbar data-template="lib:include" data-template-path="templates/menu.html" />
                    <app-toolbar data-template="lib:include" data-template-path="templates/toolbar.html" />
                </app-header>

                <section class="breadcrumbs">
                    <div>
                        <pb-view id="title-view1" src="document1" xpath="//teiHeader" view="single">
                            <pb-param name="header" value="letter" />
                        </pb-view>
                    </div>
                    <pb-grid-action action="add" class="grid-add" grid="#grid">
                        <paper-button>
                            <iron-icon icon="icons:view-carousel"></iron-icon> <pb-i18n key="document.add-panel">Add</pb-i18n>
                        </paper-button>
                    </pb-grid-action>
                </section>
                <main class="content-body">
                    <pb-grid id="grid" panels="[0]" subscribe="transcription" emit="transcription">
                        <template>
                            <!-- template used for adding a new column: user can choose between translation, facsimile and notes -->
                            <pb-panel emit="transcription">
                                <!-- Added to the toolbar -->
                                <pb-grid-action grid="#grid" slot="toolbar" action="remove">
                                    <paper-icon-button icon="icons:close"></paper-icon-button>
                                </pb-grid-action>
                                <template title="Translation">
                                    <pb-view src="document1" map="vg-translation" xpath="//div[@type='original']"
                                        subscribe="transcription" />
                                </template>
                                <template title="Facsimile">
                                    <pb-facsimile subscribe="transcription" type="image">
                                    </pb-facsimile>
                                    <div class="facscaption">Images hosted by <a href="http://vangoghletters.org">Van
                                            Gogh Museum, Amsterdam, Huygens ING, The Hague</a></div>
                                </template>
                                <template title="Notes">
                                    <pb-view src="document1" xpath="//div[@type='original']" subscribe="transcription">
                                        <pb-param name="view" value="notes" />
                                    </pb-view>
                                </template>
                            </pb-panel>
                        </template>
                        <!-- Metadata and transcription are always shown -->
                        <pb-view src="document1" xpath="//teiHeader" view="single" class="metadata"
                            subscribe="transcription" emit="transcription">
                            <pb-param name="view" value="metadata" />
                        </pb-view>
                        <!-- For the transcription, users can choose between diplomatic and normalized view -->
                        <pb-panel emit="transcription">
                            <template title="Original text">
                                <pb-view src="document1" class=".transcription" xpath="//div[@type='original']"
                                    subscribe="transcription" emit="transcription">
                                    <pb-param name="view" value="normalized" />
                                </pb-view>
                            </template>
                            <template title="Original text + line endings">
                                <pb-view src="document1" class=".transcription" xpath="//div[@type='original']"
                                    subscribe="transcription" emit="transcription" />
                            </template>
                        </pb-panel>
                    </pb-grid>
                </main>
            </app-header-layout>
        </app-drawer-layout>
    </pb-page>
    <div class="splash"></div>
</body>

</html>