<?xml version="1.0" encoding="UTF-8"?>
<html>
    <body>
        <tei-document id="document1" path="abc123.xml"/>
        <tei-document id="document2" path="abc456.xml"/>
        <existdb-row>
            <existdb-column>
                <h1>
                    <tei-view src="document1" odd="mishnah.odd" xpath="//teiHeader/titleStmt"/>
                </h1>
                <tei-view src="document1" odd="mishnah.odd" xpath="//text/body" view="page|column|opening|div">
                    <!-- Renders TEI document into HTML. tei-pb triggers facsimile view change, e.g.: -->
                    <p>Bla bla bla. <tei-pb facs="x638474"/></p>
                </tei-view>
                <tei-navigation target="document1" direction="forward" unit="page|div|chapter"/>
                <tei-navigation target="document1" direction="back" unit="page|div|chapter"/>
            </existdb-column>
            <existdb-column>
                <tei-facsimile src="document1" base-uri="http://apps.existsolutions.com/iiif"/>
            </existdb-column>
            <existdb-column>
                <tei-view id="commentary-view" src="document2" odd="mishnah.odd" xpath="//text/body[@type='commentary']" 
                    view="page|column|opening|div">
                    <tei-param name="mode" value="commentary"/>
                </tei-view>
                <tei-navigation target="document2" direction="forward" unit="page|div|chapter"/>
                <tei-navigation target="document2" direction="back" unit="page|div|chapter"/>
            </existdb-column>
            <existdb-column>
                <!-- Display notes from document 2 by receiving an update event from the commentary-view -->
                <tei-subview src="commentary-view" property="notes"/>
            </existdb-column> 
            <existdb-column>
                <tei-facsimile src="document2" base-uri="http://apps.existsolutions.com/iiif"/>
            </existdb-column>
        </existdb-row>
    </body>
</html>