<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>

        <title>pb-view Demo</title>
        <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
        <link rel="import" href="../dependencies-dev.html"/>
        <custom-style>
            <style is="custom-style" include="demo-pages-shared-styles">
                body {
                    --paper-fab-background: #35424b;
                }

                demo-snippet {
                    position: relative;
                }

                main {
                    display: flex;
                    justify-content: space-between;
                }

                pb-paginate {
                    margin-bottom: 10px;
                }
            </style>
        </custom-style>
    </head>

    <body>
        <demo-snippet>
            <template>
                <main>
                    <dts-client base-uri="https://teipublisher.com/exist/apps/vangogh/api/dts" emit="dts" subscribe="dts">
                        <pb-paginate slot="pagination" per-page="10" range="5" found-label="Found" subscribe="dts" emit="dts"></pb-paginate>
                    </dts-client>
                </main>
            </template>
        </demo-snippet>
    </body>
</html>
