<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>

    <title>existdb demo</title>

    <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="../dependencies-dev.html"/>


</head>
<body>
    <demo-snippet>
        <template>
            <odd-edit-source path="/db/apps/tei-publisher/odd/graves.odd">
                <paper-icon-button icon="code"
                                   title="ODD Source"
                                   role="button"
                                   tabindex="0"
                                   aria-disabled="false"></paper-icon-button>
            </odd-edit-source>
        </template>
    </demo-snippet>
</body>
</html>
