<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>

    <title>existdb-document demo</title>

    <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="../editor/odd-selector.html"/>


  </head>
  <body>
    <odd-selector selected="teipublisher.odd">
      <paper-item value="jats.odd" role="option" tabindex="-1" aria-disabled="false">JATS []</paper-item>
      <paper-item value="graves.odd" role="option" tabindex="-1" aria-disabled="false">Graves' Letters [2018-08-05+02:00]</paper-item>
      <paper-item value="docbook.odd" role="option" tabindex="-1" aria-disabled="false">Docbook v5 []</paper-item>
      <paper-item value="dta.odd" role="option" tabindex="-1" aria-disabled="false">Deutsches Textarchiv [2017-09-08]</paper-item>
      <paper-item value="tei_simplePrint.odd" role="option" tabindex="-1" aria-disabled="false">Standard Default [2016-11-17]</paper-item>
      <paper-item value="beamer.odd" role="option" tabindex="0" aria-disabled="false">Presentations [2017-09-08]</paper-item>
      <paper-item value="teipublisher.odd" role="option" tabindex="-1" aria-disabled="false">TEI Publisher Base [2017-09-08]</paper-item>
      <paper-item value="letter.odd" role="option" tabindex="-1" aria-disabled="false">Letters [2017-09-08]</paper-item>
      <paper-item value="myteisimple.odd" role="option" tabindex="-1" aria-disabled="false">Example ODD [2017-09-08]</paper-item>
    </odd-selector>


  </body>
</html>
