<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>

    <title>existdb-document demo</title>

    <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Oswald"/>

    <link rel="stylesheet" type="text/css" href="resources/css/vendor/codemirror.css"/>
    <link rel="stylesheet" type="text/css" href="resources/css/vendor/ttcn.css"/>
    <link rel="stylesheet" type="text/css" href="resources/css/vendor/lint.css"/>


    <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="../editor/editor-dependencies.html"/>

  </head>
  <body>
    <odd-editor root-path="/db/apps/tei-publisher/odd"
                output-path="/db/apps/tei-publisher/transform"
                output-prefix="transform"
                odd="graves.odd">
      <odd-selector id="selector">
        <paper-item value="jats.odd" role="option" tabindex="-1" aria-disabled="false">JATS []</paper-item>
        <paper-item value="graves.odd" role="option" tabindex="-1" aria-disabled="false">Graves' Letters [2018-08-05+02:00]</paper-item>
        <paper-item value="docbook.odd" role="option" tabindex="-1" aria-disabled="false">Docbook v5 []</paper-item>
        <paper-item value="dta.odd" role="option" tabindex="-1" aria-disabled="false">Deutsches Textarchiv [2017-09-08]</paper-item>
        <paper-item value="tei_simplePrint.odd" role="option" tabindex="-1" aria-disabled="false">Standard Default [2016-11-17]</paper-item>
        <paper-item value="beamer.odd" role="option" tabindex="0" aria-disabled="false">Presentations [2017-09-08]</paper-item>
        <paper-item value="teipublisher.odd" role="option" tabindex="-1" aria-disabled="false">TEI Publisher Base [2017-09-08]</paper-item>
        <paper-item value="letter.odd" role="option" tabindex="-1" aria-disabled="false">Letters [2017-09-08]</paper-item>
        <paper-item value="myteisimple.odd" role="option" tabindex="-1" aria-disabled="false">Example ODD [2017-09-08]</paper-item>
      </odd-selector>
    </odd-editor>



    <!--
        <script>
            window.addEventListener('WebComponentsReady', function(e){
                var editor = document.querySelector('odd-editor');
                console.log('editor ', editor);
                console.log('editor odd', editor.getAttribute('odd'));
                var selector = document.querySelector('odd-selector');
                console.log('selector ', selector);
                selector.setAttribute('selected', editor.getAttribute('odd'));

            });
        </script>
    -->
  </body>
</html>
