<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>

    <title>pb-facsimile-overlay</title>

    <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="../pb-annotation-overlay.html"/>
</head>
<body>
    <pb-annotation-overlay>
<!--
        <pb-annotation selector="">
            <pb-target type="svg">
                <svg></svg>
            </pb-target>
            <pb-body>
                content coming from app-specific annotation dialog‚
            </pb-body>
        </pb-annotation>
-->
    </pb-annotation-overlay>
</body>
</html>
