<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>existdb-document demo</title>

    <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../bower_components/iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../existdb-document.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
  </head>
  <body>

    <tp-document url="">

      <existdb-grid>
        <div select="title"></div>
        <div select="document-wrapper"></div>
      </existdb-grid>


    </tp-document>



  </body>
</html>
