<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>

    <title>existdb-document demo</title>

    <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="../dependencies-dev.html"/>
    <link rel="import" href="../bower_components/iron-demo-helpers/demo-pages-shared-styles.html"/>
    <link rel="import" href="../bower_components/iron-demo-helpers/demo-snippet.html"/>

    <style>
      pb-facsimile {
          flex: 1 0;
          min-width: 400px;
          height: 360px;
          margin-right: 20px;
      }
      div {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
      }
    </style>
  </head>
  <body>
      <demo-snippet>
          <template>
              <div>
                <pb-facsimile base-uri="http://apps.existsolutions.com/cantaloupe/iiif/2/"
                    facsimiles='["15929_000_IDL5772_BOss12034_IIIp79.jpg", "15929_000_IDL5772_BOss12034_IIIp80.jpg", "15929_000_IDL5772_BOss12034_IIIp81.jpg", "15929_000_IDL5772_BOss12034_IIIp82.jpg"]'
                    default-zoom-level="0" show-navigator="show-navigator"
                    show-navigation-control="show-navigation-control"></pb-facsimile>
                <ul>
                    <li><pb-facs-link facs="15929_000_IDL5772_BOss12034_IIIp79.jpg">Page 79</pb-facs-link></li>
                    <li><pb-facs-link facs="15929_000_IDL5772_BOss12034_IIIp80.jpg">Page 80</pb-facs-link></li>
                    <li><pb-facs-link facs="15929_000_IDL5772_BOss12034_IIIp81.jpg">Page 81</pb-facs-link></li>
                    <li><pb-facs-link facs="15929_000_IDL5772_BOss12034_IIIp82.jpg">Page 82</pb-facs-link></li>
                    <li><pb-facs-link facs="15929_000_IDL5772_BOss12034_IIIp82.jpg" coordinates="[59,1796,429,1027]">Fragment on page 82</pb-facs-link></li>
                </ul>
            </div>
        </template>
    </demo-snippet>
  </body>
</html>
