<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>

    <title>existdb-document demo</title>

    <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="../pb-facsimile.html"/>
    <style>
      pb-facsimile{
        /*width: 100%;*/
        /*height:auto;*/
        /*height: 500px;*/

      }
    </style>
  </head>
  <body>
      <pb-facsimile
              src="http://showcases.exist-db.org:8198/cantaloupe/iiif/2/axc0529-0.jpg/0,0,200,200/full/0/default.jpg"
              > </pb-facsimile>
  </body>
</html>
