<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>

        <title>pb-leaflet-map Demo</title>
        <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
        <link rel="import" href="../dependencies-dev.html"/>
        <link rel="import" href="../pb-leaflet-map.html"/>
        <link rel="import" href="../bower_components/iron-demo-helpers/demo-pages-shared-styles.html"/>
        <link rel="import" href="../bower_components/iron-demo-helpers/demo-snippet.html"/>
        <custom-style>
            <style is="custom-style" include="demo-pages-shared-styles">
                pb-leaflet-map {
                    width: 640px;
                    height: 480px;
                }

                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            </style>
        </custom-style>
    </head>

    <body>
        <demo-snippet>
            <template>
                <div>
                    <ul>
                        <li><pb-geolocation longitude="20.99761963" latitude="52.23621035" label="Warsaw">Warszawa</pb-geolocation></li>
                        <li><pb-geolocation longitude="13.33920479" latitude="52.50671377" label="Berlin">Berlin</pb-geolocation></li>
                        <li><pb-geolocation longitude="2.32003101" latitude="48.85881005" label="Paris">Paris</pb-geolocation></li>
                    </ul>
                    <pb-leaflet-map zoom="11"
                        access-token="pk.eyJ1Ijoid29sZmdhbmdtbSIsImEiOiJjam1kMjVpMnUwNm9wM3JwMzdsNGhhcnZ0In0.v65crewF-dkNsPF3o1Q4uw"/>
                </div>
            </template>
        </demo-snippet>
    </body>
</html>
