<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>

        <title>pb-view Demo</title>
        <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
        <link rel="import" href="../dependencies-dev.html"/>
        <custom-style>
            <style is="custom-style" include="demo-pages-shared-styles">
                body {
                    --paper-fab-background: #35424b;
                }

                demo-snippet {
                    position: relative;
                }

                main {
                    display: flex;
                    justify-content: space-between;
                }
            </style>
        </custom-style>
    </head>

    <body>
        <demo-snippet>
            <template>
                <pb-document id="document1" path="test/F-rom.xml" odd="shakespeare"></pb-document>

                <main>
                    <pb-view id="view1" src="document1" view="page"></pb-view>
                    <pb-load src="document1" url="demo/load-demo.xql" auto="auto"></pb-load>
                </main>
            </template>
        </demo-snippet>
    </body>
</html>
