<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

        <title>pb-select-odd Demo</title>
        <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
        <link rel="import" href="../dependencies-dev.html">
        <custom-style>
            <style is="custom-style" include="demo-pages-shared-styles">
                main {
                    display: flex;
                }
                
                ul {
                    flex: 1 0;
                    display: block;
                    margin-right: 10px;
                    padding-right: 10px;
                    border-right: 1px solid #333333;
                }
                
                pb-view {
                    flex: 3 0;
                }
            </style>
        </custom-style>
    </head>

    <body>
        <demo-snippet>
            <template>
                <pb-document id="document1" path="test/graves6.xml" odd="graves"></pb-document>
                <main>
                    <ul>
                        <li>
                            <pb-link path="test/graves6.xml" odd="graves">Graves' Letter</pb-link>
                        </li>
                        <li>
                            <pb-link path="test/kant_rvernunft_1781.TEI-P5.xml" xml-id="f0456" odd="dta">Kant chapter by xml:id</pb-link>
                        </li>
                        <li><pb-link path="doc/documentation.xml" odd="docbook">Documentation</pb-link></li>
                        <li><pb-link path="doc/documentation.xml" xml-id="pi-config" odd="docbook">Link by xml:id</pb-link></li>
                    </ul>
                    <pb-view id="view1" src="document1" view="div"></pb-view>
                </main>
            </template>
        </demo-snippet>
    </body>
</html>
