<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

        <title>pb-select-odd Demo</title>
        <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
        <link rel="import" href="../dependencies-dev.html">
        <custom-style>
            <style is="custom-style" include="demo-pages-shared-styles">
                main {
                    margin-top: 20px;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 60em;
                }
            </style>
        </custom-style>
    </head>

    <body>
        <demo-snippet>
            <template>
                <pb-document id="document1" path="test/graves6.xml" odd="graves"></pb-document>
                <pb-select-odd src="document1" label="Select ODD"></pb-select-odd>
                <main>
                    <pb-view id="view1" src="document1"></pb-view>
                </main>
            </template>
        </demo-snippet>
    </body>
</html>
