<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>

        <title>pb-document Demo</title>
        <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
        <link rel="import" href="../dependencies-dev.html"/>
        <custom-style>
            <style is="custom-style" include="demo-pages-shared-styles">
                pb-search {
                    display: block;
                }

                pb-paginate {
                    margin-top: 40px;
                    margin-bottom: 10px;
                }

                #results header {
                    display: flex;
                    background-color: #F0F0F0;
                }

                #results header .count {
                    margin-right: 10px;
                }
            </style>
        </custom-style>
    </head>

    <body>
        <demo-snippet>
            <template>
                <main>
                    <pb-search id="search-form" place-holder="Enter query">
                        <div class="targets">
                            <paper-checkbox name="tei-target" value="tei-text">Search sections</paper-checkbox>
                            <paper-checkbox name="tei-target" value="tei-head">Search headings</paper-checkbox>
                        </div>
                    </pb-search>
                    <pb-paginate per-page="10" range="5" found-label="Found"></pb-paginate>
                    <pb-load url="../templates/search-results.html"></pb-load>
                </main>
            </template>
        </demo-snippet>
    </body>
</html>
