@page:left {
    margin-bottom: 10mm;
    margin-top: 10mm;
    margin-left: 36mm;
    margin-right: 18mm;
}
@page:right {
    margin-bottom: 10mm;
    margin-top: 10mm;
    margin-left: 18mm;
    margin-right: 36mm;
}
.text {
    font-size: 11pt;
    line-height: 16pt;
}
.head1 {
    font-size: 3.157em;
    line-height: 1;
    space-before: 1em;
    keep-with-next: always;
    keep-together.within-page: always;
}
.head2 {
    font-size: 2.369em;
    line-height: 1;
    space-before: 1em;
    keep-with-next: always;
    keep-together.within-page: always;
}
.head3 {
    font-size: 1.777em;
    line-height: 1;
    font-weight: bold;
    keep-with-next: always;
    keep-together.within-page: always;
}
.head4 {
    font-size: 1.333em;
    line-height: 1;
    font-weight: bold;
    keep-with-next: always;
    keep-together.within-page: always;
}
.p {
    space-before: .5em;
    space-after: .5em;
    text-indent: 1.5em;
    text-align: justify;
}