@page:left {
    margin-bottom: 10mm;
    margin-top: 10mm;
    margin-left: 36mm;
    margin-right: 18mm;
}
@page:right {
    margin-bottom: 10mm;
    margin-top: 10mm;
    margin-left: 18mm;
    margin-right: 36mm;
}
@page:head {
    margin-bottom: 0.7mm; 
    text-align-last: justify; 
    font-size: 10pt;
}
.tei-text {
    font-size: 11pt;
    line-height: 16pt;
}
.tei-front {
    page-break-after: right;
}
.tei-body2 {
    page-break-after: right;
}
.tei-head1 {
    font-size: 2.441em;
    line-height: 1.2;
    space-before: 2em;
    space-after: .5em;
    keep-with-next: always;
    keep-together.within-page: always;
}
.tei-head2 {
    font-size: 1.953em;
    line-height: 1.2;
    space-before: 1.5em;
    keep-with-next: always;
    keep-together.within-page: always;
}
.tei-head3 {
    font-size: 1.563em;
    line-height: 1.2;
    font-weight: bold;
    space-before: 1em;
    keep-with-next: always;
    keep-together.within-page: always;
}
.tei-head4 {
    font-size: 1.25em;
    line-height: 1.2;
    font-weight: bold;
    space-before: 1em;
    keep-with-next: always;
    keep-together.within-page: always;
}
.tei-p {
    space-before: .5em;
    space-after: .5em;
    text-indent: 1.5em;
    text-align: justify;
}
.tei-code1 {
    font-family: monospace;
    font-size: 9pt;
}
.tei-code2 {
    font-family: monospace;
    font-size: 9pt;
    wrap-option: wrap;
    linefeed-treatment: preserve;
    white-space-collapse: false;
    white-space-treatment: preserve;
}
.tei-note {
    font-size: 60%;
    keep-with-previous.within-line: always;
    baseline-shift: super;
}
.tei-note-body {
    font-size: 9pt;
}