body {
    --pb-heading-font-family: var(--jinks-base-font-family);
    --pb-heading-font-weight: var(--jinks-heading-font-weight);
    --pb-color-focus: #f6a623;
    --pb-footnote-font-size: 13px;
}

address,
blockquote,
dl,
ol,
p,
pre,
table,
ul {
    /* override pico color for these elements */
    color: inherit !important;
}

.doc-title {
    font-size: 2.488em;
}

.abstract {
    padding-left: 16px;
    border-left: 4px solid var(--pb-color-focus);
}

.figure {
    text-align: center;
    margin: 24px 0;
    padding: 16px 0;
    border-top: 1px solid #d6d7d9;
    border-bottom: 1px solid #d6d7d9;
}

.figure img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}

.figure.float-right {
    float: right;
    max-width: 50%;
    margin: 0 0 8px 16px;
    padding: 8px 0 0 8px;
}

figcaption {
    margin-top: .5em;
    text-align: right;
    font-size: var(--jinks-font-size-smaller);
}

dt {
    font-weight: 500;
}

.tei-procedure li>p {
    margin-bottom: 1em;
    margin-top: 1em;
}

li>p, dd>p {
    margin-top: 0;
    margin-bottom: 0;
}

dd {
    margin-bottom: .5em;
}

.code {
    font-family: "Ubuntu Mono", Menlo, Consolas, Courier, monospace;
    font-size: 85%;
}

.note {
    font-size: .85em;
    box-shadow: none;
    border-left: 4px solid #d07f00;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
    margin: 0;
}

.note h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.content a:link, .content a:visited {
    text-decoration: none;
    color: #d07f00;
}

.guibutton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--jinks-form-border-radius);
    padding: 0 6px;
    background-color: var(--jinks-colors-accent);
    font-size: var(--jinks-font-size-smaller);
}

.guilabel,
.guimenuitem {
    text-decoration: underline;
}

.flex {
    display: flex;
    justify-content: space-between;
}

[aria-label=breadcrumb] {
    white-space: nowrap;
}

pb-edit-xml {
    --iron-icon-height: 16px;
    vertical-align: top;
    cursor: pointer;
    color: #d07f00;
}

pb-code-highlight {
    font-size: .85em;
    margin-bottom: var(--s0);
}

.footnotes {
    margin-top: 1em;
    padding-top: .5em;
    position: relative;
}

.footnotes:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    border-top: 1px solid var(--pb-color-lighter);
}

@media print {

    @page {
        size: A4;

        @footnote {
            float: bottom;
        }
    }

    @page:left {
        margin-left: 3cm;
        margin-right: 2cm;

        @top-left {
            content: string(title1) ' – ' string(title2);
            font-family: var(--pb-heading-font-family);
        }

        @bottom-left-corner {
            content: counter(page);
            font-family: var(--pb-heading-font-family);
        }
    }

    @page:right {
        margin-left: 2cm;
        margin-right: 3cm;

        @top-right {
            content: string(title1) ' – ' string(title2);
            font-family: var(--pb-heading-font-family);
        }

        @bottom-right-corner {
            content: counter(page);
            font-family: var(--pb-heading-font-family);
        }
    }

    @page Title {
        margin-left: 2cm;
        margin-right: 2cm;

        @top-left {
            content: '';
        }

        @top-right {
            content: '';
        }
    }

    body {
        --pb-heading-font-family: Inter, Verdana, "Helvetica", sans-serif;
    }

    .note {
        break-inside: avoid;
    }

    p {
        hyphens: auto;
        text-align: justify;
        widows: 2;
        orphans: 2;
    }

    .frontmatter {
        page: Title;
    }

    section {
        margin-bottom: 2.5em;
    }

    section section {
        margin-bottom: 1.5em;
    }

    h1, h2, h3, h4, h5, h6 {
        break-after: avoid;
    }

    h1.title {
        string-set: title1 content(text);
        break-before: page;
    }

    h2 {
        string-set: title2 content(text);
    }

    .frontmatter h1 {
        break-before: auto;
        page: Title;
    }

    dt {
        break-after: avoid;
    }

    figure {
        break-inside: avoid;
        -prince-float: snap;
    }

    .footnote {
        float: footnote;
        hyphens: auto;
    }
}
