.annotation-type {
    display: inline-block;
    text-align: right;
    padding: 4px;
    background-color: #fbae07;
    color: var(--pb-color-inverse);
}

.annotation-popup .toolbar {
    margin-top: 1em;
}

.annotation {
    pointer-events: none;
    cursor: text;
}

.annotation::after {
    content: attr(data-type);
    margin-left: 4px;
    pointer-events: all;
    font-family: var(--pb-base-font-family);
    font-size: .8rem;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-variant: normal;
    padding: 2px;
}