:root {
    --jinks-content-font-family: var(--pb-base-font-family);
    --jinks-toc-font-size: var(--pb-base-font-size);
}

pb-view.breadcrumbs {
    --jinks-content-font-size: var(--pb-base-font-size);
}

pb-view.breadcrumbs::part(content) {
    padding: inherit;
}

@media (min-width: 769px) {
    pb-view.content {
        max-width: 60vw;
    }
}
