main {
    margin: 0 20px 0 20px;
    --pb-browse-toolbar-justify-content: space-between;
}

app-header-layout {
    background-image: url('../images/network-background.jpg');
    background-size: 100% auto;
    background-repeat-x: no-repeat;
    background-color: #e8fafa;
    min-height: 100vh;
}

pb-collapse > div{
    font-size:1.2rem;
    padding:1rem 0;
}
@media (max-width: 1023px) {
    main {
        margin: 0 8px 0 8px;
    }
    .doclist {
        margin-bottom: 20px;
    }
    .documents {
        padding-left: 10px;
    }
    .documents .label {
        display: none;
    }
    .toolbar pb-search {
        padding-left: 0;
    }
    #facets {
        display: none;
    }
    app-header-layout {
        background-repeat-y: no-repeat;
    }

    nav #login{
        border-bottom: 1px solid;
        padding-bottom:1rem;
        margin-bottom:1rem;
    }

    nav a,
    nav paper-item{
        display:flex;
        font-size:1.2rem;
        min-height:2.5rem;
        align-items:center;
        font-weight:inherit;
    }
    nav paper-menu-button{
        padding:0;
    }

    .github{
        margin-top:1rem;
        padding-top:1rem;
    }
    .github > span{
        padding-left:0.5rem;
    }

}

.tp-title {
    font-family: var(--pb-heading-font-family);
    font-size: 36px;
    font-weight: 400;
}

.tp-title span {
    color: #9e9e9e;
    font-size: 26px;
    margin-top: 12px;
}

@media (min-width: 1024px) {
    .toolbar {
        display: none;
    }
    .panels {
        display: grid;
        grid-template-columns: 1fr minmax(220px, 20vw);
        column-gap: 16px;
    }
}

.panels {
    margin-bottom: 40px;
}

main .panels .doclist {
    --paper-tab-content: {
        font-family: var(--pb-heading-font-family);
        font-weight: 400;
    };
    --paper-card-header: {
        background-color: #607D8B;
    };
    --paper-card-header-text: {
        font-family: var(--pb-heading-font-family);
        font-size: 16px;
        font-weight: 400;
        color:white;
    };
}

.panels .doclist .card-content {
    padding: 0;
}

.panels .doclist .browse {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 6px;
    padding: 0;
}

aside {
    flex: 1;
    display: flex;
    flex-direction: column;
}

aside .odds,
aside .upload {
    --paper-card-header: {
        background-color: #d1dae0;
        color:black;
    };
    --paper-card-header-text: {
        font-family: var(--pb-heading-font-family);
        font-size: 16px;
        font-weight: 400;
        color: black;
    };
}

aside .upload {
    margin-bottom: 20px;
    width: 100%;
}

.browse aside {
    padding: 0 8px;
}

pb-select {
    margin-top: 0;
}

#document-list {
    margin-top: 1rem;
}

.parent-link iron-icon {
    padding-right: 4px;
}

.parent-link {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 0;
}

.documents img, .documents svg {
    margin-right: 40px;
}

@media (max-width: 1023px) {
    .documents img, .documents svg  {
        display: none;
    }
}

.documents ul {
    list-style: none;
}

.documents div {
    margin: 0;
}

.documents .error {
    color: #c02020;
}

.documents a,
.documents a:visited {
    color: #303F9F;
    text-decoration: none;
}

.documents li {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 6px 0;
    border-bottom: thin solid var(--paper-grey-300);
}

.documents li:last-child {
    border: none;
}

.documents .document-select {
    flex: 0 0;
    margin-right: 20px;
}

.drawer-content iron-icon,
.drawer-content .github-mark{
    width:1.25rem;
    height:1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--pb-heading-font-family);
    font-weight: 400 !important;
    line-height: 1.2;
}

h5 {
    font-size: 1rem;
    margin: 0;
}

.github{
    border-top:1px solid;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    min-height: 15vh;
    width: 100%;
    grid-gap:0.5rem;
    margin:0 0.5rem;
    max-width:calc(100vw - 1rem);
}

.side {
    max-width: 20em;
    padding-left: 2em;
    background:rgba(255,255,255,0.75);
    box-shadow:6px 1px 10px rgba(255,255,255,0.75);
    justify-self:end;
    color:white;
}
.welcome .side{
    background:rgba(53,66,75,0.75);
    box-shadow:6px 1px 10px rgba(53,66,75,0.75);
}

.side strong {
    color: var(--pb-color-focus);
}

.thumbnail img {
    border-radius:35px;
    border-color: #19232d;
    border-style: groove;
    box-shadow: 1px 1px 1px 1px  #19232d;
}

/* hide Download menu button */
#download-button, .menu-edit-odd {
    display: none;
}
pb-manage-odds{
    --pb-manage-odds-link-color:black;
    --pb-manage-odds-icon-color:#555;
}

