 /* dev mode by default */

@import url("palette-beige.css");

@import url("jinks-variables.css");
@import url("pico-ext.css");
@import url("base.css");
@import url("../fonts/font.css");
@import url("controls.css");
@import url("layouts.css");
@import url("menu.css");
@import url("documents.css");
@import url("toc.css");

