:root {
    --jinks-colors-700: #24211D;
    --jinks-colors-600: #2A2925;
    --jinks-colors-500: #62543A;
    --jinks-colors-400: #DDD5C0;
    --jinks-colors-300: #F1EDE6;
    --jinks-colors-200: #FFFCF8;
    --jinks-colors-100: #FFFEF9;
    --jinks-colors-50: #FFFFF9;

    --jinks-colors-light: #FCFCF8;
    --jinks-colors-grey: #5A5A5A;
    --jinks-colors-dark: #4C5F41;
    --jinks-colors-medium: #DBDBD0;
    --jinks-colors-accent: #CCB383;
    --jinks-colors-black-300: #737373;

    --jinks-colors-highlight: var(--jinks-colors-accent);
}
