@media print {

    @prince-pdf {
        -prince-pdf-page-layout: two-column-right;
    }

    @page {
        size: A4;

        @footnote {
            float: bottom;
            margin-top: 1em;
            font-size: var(--pb-footnote-font-size);
            font-family: var(--pb-footnote-font-family);
            font-weight: var(--pb-footnote-font-weight);
            color: var(--pb-footnote-color);
        }
    }

    @page:left {
        margin-left: 3cm;
        margin-right: 2cm;

        @bottom-left-corner {
            content: counter(page);
        }
    }

    @page:right {
        margin-left: 2cm;
        margin-right: 3cm;

        @bottom-right-corner {
            content: counter(page);
        }
    }

    body {
        --pb-content-font-family: "Junicode", Georgia, "Times New Roman", serif;
        --pb-content-font-size: 12pt;
        --pb-heading-font-family: var(--pb-content-font-family);
        --pb-footnote-font-size: 10pt;
        --pb-footnote-font-family: var(--pb-content-font-family);
        --pb-footnote-font-weight: var(--pb-content-font-weight);
        --pb-footnote-color: #303030;
        --pb-footnote-padding: 0 0 0 .25em;

        font-family: var(--pb-content-font-family);
        font-size: var(--pb-content-font-size);
        line-height: var(--pb-base-line-height);
    }
    
    .footnote {
        float: footnote;
        counter-increment: footnote;
        padding: var(--pb-footnote-padding);
    }

    ::footnote-call {
        content: counter(footnote, decimal);
        font-size: var(--pb-footnote-font-size);
        vertical-align: super;
    }

    ::footnote-marker {
        content: counter(footnote-marker, decimal) ". ";
        font-size: var(--pb-footnote-font-size);
        vertical-align: super;
    }

    @supports (-prince-float: sidenote) {
        ::footnote-marker {
            content: counter(footnote, decimal) ". ";
        }
    }

    pb-code-highlight {
        --pb-code-highlight-white-space: pre-wrap;
    }

    h1, h2, h3, h4, h5, h6 {
        break-after: avoid;
        font-family: var(--pb-content-font-family);
    }
}