/* Application styles could go here */
@import url('../fonts/font.css');

.content {
    font-family: Junicode, Georgia, Times, serif;
    font-size: 16px;
}

.content h1 { font-size: 2.441em; }
.content h2 { font-size: 1.953em; }
.content h3 { font-size: 1.563em; }
.content h4 { font-size: 1.25em; }

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-family: Junicode, Georgia, Times, serif;
    line-height: 1.2;
}

.content>*>section {
    border-top: 1px solid #777;
    margin: 2.5em 0;
    padding-top: 2em;
}

#content-container {
  -webkit-animation-duration: 400ms;
  -moz-animation-duration: 400ms;
  animation-duration: 400ms;
}

.margin-right {
    margin-right: 200px;
    position: relative;
}

.code1 {
    font-family: "Ubuntu Mono", Menlo, Consolas, Courier, monospace;
}

.note, .popover {
    font-size: 13px;
}
.note {
    vertical-align: super;
    cursor: pointer;
    margin-left: .25em;
}

.margin-note {
    background: #F8F8FF;
    display: block;
    font-size: small;
    margin-right: -200px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: auto;
    width: 190px;
}

.label:not(.note) {
    font-weight: bold;
    font-size: inherit;
    color: inherit;
    padding: inherit;
    margin: inherit;
}

/* Page by page navigation */
.navigation-top, .navigation-bottom {
  vertical-align: middle;
  font-family: "Junicode", Georgia, "Times New Roman", serif;
}

.content-nav .next {
    float: right;
}

.content-nav h5 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 2em;
}

.content-nav.top {
    padding: 10px 10px 10px 0;
    margin-bottom: 1em;
    border-bottom: 2px solid #CCC;
}

.content-nav.bottom {
    padding: 10px 10px 10px 0;
    margin-top: 1em;
    border-top: 2px solid #CCC;
}

.navigation-top a, .navigation-bottom a {
    font-size: 100%;
}

.actions {
    margin-bottom: 10px;
}

/* Source code in documentation */
.sourcecode .ace_text-layer {
    padding: 0 8px;
    font-family: "Ubuntu Mono", Menlo, Consolas, Courier, monospace;
}

.poweredby {
  text-align: right;
  line-height: 93px;
}
.poweredby img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
}