/* Application styles could go here */
@import url('../fonts/font.css');

.front, .body1, .body2 {
    font-family: Junicode, Georgia, Times, serif;
}

.note {
    font-size: 66%;
    vertical-align: super;
    cursor: pointer;
    margin-left: .25em;
}

.margin-note {
    float: right;
    display: block;
    font-size: small;
    font-weight: normal;
    clear: right;
    padding: 4pt;
    font-style: italic;
    width: 15%;
    background-color: #F8F8FF;
    margin: 6pt;
}

.poweredby {
  text-align: right;
  line-height: 93px;
}
.poweredby img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
}