body {
    --pb-base-font-family: 'Roboto', 'Noto', sans-serif;
    --pb-base-font-size: 16px;
    --pb-base-line-height: 1.42857143;
    --pb-base-font-weight: 300;
    --pb-base-font: var(--pb-base-font-weight) var(--pb-base-font-size)/var(--pb-base-line-height) var(--pb-base-font-family);
    --pb-serif-font-family: "Junicode", Georgia, "Times New Roman", serif;
    --pb-content-font-family: var(--pb-serif-font-family);
    --pb-content-font-size: 20px;
    --pb-heading-font-family: "Oswald", Verdana, "Helvetica", sans-serif;
    --pb-heading-font-weight: 400 !important;
    --pb-heading-line-height: 1.2;
    --pb-heading-font: var(--pb-heading-font-weight) var(--pb-heading-font-size)/var(--pb-heading-line-height) var(--pb-heading-font-family);
    --pb-breadcrumbs-font-size: 18px;
    --pb-color-primary: #303030;
    --pb-color-inverse: #F0F0F0;
    --pb-color-lighter: #35424b;
    --pb-color-focus: #f6a623;
    --pb-drawer-background-color: var(--pb-color-inverse);
    --pb-menubar-background-color: #35424b;
    --pb-menubar-color: var(--pb-color-inverse);
    --pb-toolbar-background-color: #d1dae0;
    --pb-toolbar-color: var(--pb-color-primary);
    --paper-tooltip-delay-in: 200;
    --pb-footnote-size: 75%;
    --pb-footnote-color: #303030;
    --pb-footnote-padding: 0 0 0 .25em;
    --pb-popover-theme: "material";
    --pb-popover-max-width: 480px;
    --pb-popover-font-size: 16px;
    --pb-popover-line-height: 1.2;
    --pb-lang-input-color: var(--pb-color-inverse);
    --pb-lang-label-color: var(--pb-color-inverse);
    --pb-link-color: black;
    --pb-link-font-family: var(--pb-serif-font-family);
    --pb-highlight-color: #F9E976;
    --paper-input-container-focus-color: var(--pb-color-focus);
    --pb-view-max-width: 920px;
    font: var(--pb-base-font);
    color: var(--pb-color-primary);
    margin: 0;
}

*:focus {
    outline: none;
}

.splash {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    background-image: url(../images/tei-publisher-logo-color.svg);
    background-color: #ffffff;
    background-position: center center;
    background-size: 360px auto;
    background-repeat: no-repeat;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

pb-page[unresolved]~.splash {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

app-toolbar {
    --app-toolbar-font-size: 16px;
}

app-toolbar pb-search {
    --pb-search-label-color: var(--pb-color-inverse);
    --pb-search-input-color: var(--pb-color-inverse);
    --pb-search-focus-color: var(--paper-orange-500);
    padding-left: 20px;
}

app-drawer {
    --pb-lang-item-color: black;
    --pb-lang-input-color: black;
    --pb-lang-label-color: var(--paper-grey-600);
}

.drawer-content {
    overflow: auto;
    height: 100%;
    padding: 8px 10px;
    text-align: left;
}

.drawer-content pb-collapse h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.drawer-content paper-listbox {
    margin: 0;
}

app-drawer .settings, app-drawer pb-collapse {
    display: flex;
    flex-direction: column;
}

app-drawer paper-listbox {
    width: 100%;
}

app-drawer a, app-drawer a:link {
    text-decoration: none;
    color: inherit;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
    display: none;
}

.caveat-content {
    overflow: auto;
    height: 100%;
    padding: 8px 10px;
    text-align: left;
    font-size: smaller;
}

.toolbar {
    justify-content: space-between;
    background-color: var(--pb-toolbar-background-color);
    color: var(--pb-toolbar-color);
}

[drawer-toggle] {
    padding-right: 0;
}

.menubar {
    justify-content: space-between;
    background-color: var(--pb-menubar-background-color);
    color: var(--pb-menubar-color);
    --pb-search-suggestions-color: var(--pb-color-primary);
    --pb-search-suggestions-background: white;
}

.menubar pb-media-query {
    flex: 1 0;
}

.menubar a, .menubar paper-menu-button {
    margin: auto 8px;
    display: block;
    color: white;
    text-decoration: none;
}

.menubar .logo {
    margin: 0 16px 0 0;
}

.menubar .gitlab {
    margin-left: 16px;
    margin-right: 16px;
}

.menubar .gitlab img {
    background-size: 100% 100%;
    height: 40px;
}

.menubar pb-login {}

.menubar pb-lang {
    text-align: right;
    flex: 1 0;
    --pb-lang-item-color: white;
}

.menubar paper-item a {
    color: black;
    margin: 0;
}

[main-title] {
    display: inline-block;
}

.logo img {
    width: 140px;
    height: 60px;
    background-size: 100% 100%;
    cursor: pointer;
}

pb-progress {
    width: 100%;
}

pb-view-type {
    font-size: .75em;
}

@media (max-width: 768px) {
    #downloadDialog {
        width: 100%;
    }
}

@media (min-width: 769px) {
    #downloadDialog {
        width: 50%;
    }
}

.breadcrumbs {
    margin: 10px 0 0 20px;
}

pb-view {
    font-family: var(--pb-content-font-family);
    font-size: var(--pb-content-font-size);
    margin: 0 16px;
}

.breadcrumbs pb-view {
    font-weight: 400;
    font-size: var(--pb-breadcrumbs-font-size);
}

@media (min-width: 769px) {
    pb-view {
        max-width: var(--pb-view-max-width);
    }
}

pb-popover {
    text-align: left !important;
}

h1, h2, h3, h4, h5, h6 {
    font: var(--pb-heading-font);
}

pb-drawer {
    top: 128px;
    background-color: var(--pb-drawer-background-color);
    overflow: scroll;
}

.tocDrawer {
    padding: 0 10px;
}

#toc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#toc ul ul {
    margin-left: 28px;
}

#toc li {
    margin-bottom: .5em;
}

#toc li:first-child {
    margin-top: .5em;
}

#toc li>pb-link {
    margin-left: 28px;
    display: block;
}

#toc pb-link {
    font-family: var(--pb-link-font-family);
}

#toc pb-link a {
    color: var(--pb-link-color);
    text-decoration: var(--pb-link-text-decoration);
}

#toc h1, #toc h2, #toc h3, #toc h4, #toc h5 {
    font-family: var(--pb-link-font-family);
}

#toc [slot=collapse-trigger] pb-link {
    margin-left: 0px;
    display: inline;
}