<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="pb-mixin.html">

<dom-module id="dts-client">
    <template>
        <style>
            :host {
                display: block;
            }

            .panels {
                display: flex;
            }

            .uri {
                color: #607d8a;
                margin-top: 12px;
                font-weight: bold;
            }
            h3 {
                margin-top: 0;
            }
            .member {
                display: flex;
            }
            .member .details {
                flex: 2;
                margin-left: 20px;
                display: flex;
                justify-content: space-between;
            }
            .member iron-icon {
                width: 24px;
            }
            .member h4 {
                margin: 0;
            }
            .member h4.collection {
                margin-bottom: 10px;
            }
            [name='toolbar'] {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #f6a622;
                font-size: 85%;
            }
        </style>

        <slot name="toolbar"></slot>

        <template is="dom-if" if="[[baseUri]]">
            <div class="uri">[[baseUri]]</div>
            <h3>[[data.title]]</h3>
            <slot name="pagination"></slot>
            <div class="panels">
                <div class="members">
                    <template is="dom-repeat" items="[[data.member]]">
                        <div class="member">
                            <template is="dom-if" if="[[_isCollection(item)]]">
                                <iron-icon icon="icons:folder-open"></iron-icon>
                                <div class="details">
                                    <h4 class="collection">
                                        <a href="#" on-click="_navigate">[[item.title]]</a>
                                    </h4>
                                </div>
                            </template>
                            <template is="dom-if" if="[[!_isCollection(item)]]">
                                <iron-icon icon="icons:code"></iron-icon>
                                <div class="details">
                                    <div>
                                        <h4>
                                            <a href="#" on-click="_preview">[[item.title]]</a>
                                        </h4>
                                        <p class="creator">[[_getCreator(item)]]</p>
                                    </div>
                                    <iron-icon title="Import to local database" icon="icons:file-download" on-click="_download">
                                    </iron-icon>
                                </div>
                            </template>
                        </div>
                    </template>
                </div>
            </div>
        </template>

        <iron-ajax
            id="queryAPI"
            verbose
            handle-as="json"
            method="get"
            on-response="_handleResponse"
            on-error="_handleError"></iron-ajax>
        <iron-ajax
            id="documentsAPI"
            url="modules/lib/dts.xql"
            verbose
            handle-as="json"
            method="get"
            on-response="_handlePreview"
            on-error="_handleError"></iron-ajax>
    </template>

    <script>
        /**
         * `dts-client`
         *
         *
         * @customElement
         * @polymer
         * @appliesMixin PbMixin
         * @demo demo/dts-client.html
         */
        class DtsClient extends PbMixin(Polymer.Element) {
            static get is() {
                return 'dts-client';
            }

            static get properties() {
                return {
                    baseUri: {
                        type: String
                    },
                    data: {
                        type: Object
                    },
                    collection: {
                        type: String
                    },
                    page: {
                        type: Number
                    },
                    perPage: {
                        type: Number
                    },
                    _collectionEndpoint: {
                        type: String
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
                this.subscribeTo('dts-endpoint', this._configureEndpoint.bind(this));
                this.subscribeTo('pb-load', (ev) => {
                    this.page = ev.detail.params.page;
                    console.log('<dts-client> Loading page %d', this.page);
                    this._update();
                });
            }

            _isCollection(item) {
                return item['@type'] == 'Collection';
            }

            _configureEndpoint(ev) {
                this.baseUri = ev.detail.endpoint;
                console.log('<dts-client> initializing connection to endpoint %s', this.baseUri);
                this.emitTo('pb-start-update');
                this.$.queryAPI.url = this.baseUri;
                this.$.queryAPI.generateRequest();
            }

            _navigate(ev) {
                this.collection = ev.model.item['@id'];
                this.page = null;
                console.log('<dts-client> navigating to collection %s', this.collection);
                this._update();
            }

            _preview(ev) {
                ev.preventDefault();
                this.emitTo('pb-start-update');
                const path = ev.model.item['dts:passage'] || ev.model.item['dts:download'];
                const url = new URL(path, this.baseUri).toString();
                console.log('<dts-client> downloading %s', url);
                this.$.documentsAPI.params = {
                    'preview': url,
                    'id': ev.model.item['@id']
                };
                this.$.documentsAPI.generateRequest();
            }

            _download(ev) {
                this.emitTo('pb-start-update');
                const path = ev.model.item['dts:passage'] || ev.model.item['dts:download'];
                const url = new URL(path, this.baseUri).toString();
                console.log('<dts-client> importing %s', url);
                this.$.documentsAPI.params = {
                    'import': url,
                    'id': ev.model.item['@id']
                };
                this.$.documentsAPI.generateRequest();
            }

            _update() {
                this.emitTo('pb-start-update');
                const params = {};
                if (this.collection) {
                    params.id = this.collection;
                };
                if (this.page) {
                    params.page = this.page + 1;
                }
                this.$.queryAPI.params = params;
                this.$.queryAPI.url = this._collectionEndpoint;
                this.$.queryAPI.generateRequest();
            }

            _handleResponse() {
                const json = this.$.queryAPI.lastResponse;
                if (json['@type'] === 'EntryPoint') {
                    this._collectionEndpoint = new URL(json.collections, this.baseUri).toString();
                    this.page = null;
                    this.collection = null;
                    console.log('<dts-client> using collection endpoint: %s', this._collectionEndpoint);

                    this._update();
                } else {
                    this.data = json;
                    if (!this.page && json.totalItems > json.member.length) {
                        this.perPage = json.member.length;
                    }
                    this.emitTo('pb-results-received', {
                        start: this.page && this.page > 0 ? this.page * this.perPage + 1 : 1,
                        count: json.totalItems
                    });
                }
                this.emitTo('pb-end-update');
            }

            _handlePreview() {
                const json = this.$.documentsAPI.lastResponse;
                this.emitTo('pb-end-update');
                const url = new URL(json.path, window.location.href);
                window.location = url;
            }

            _handleError(ev) {
                this.emitTo('pb-end-update');
                const msg = ev.target.lastError.response;
                const parser = new DOMParser();
                const doc = parser.parseFromString(msg, "application/xml");
                const node = doc.querySelector('message');

                const dialog = document.getElementById('errorDialog');
                const body = dialog.querySelector("paper-dialog-scrollable");
                if (node) {
                    body.innerHTML = node.textContent;
                } else {
                    body.innerHTML = ev.detail.error.message;
                }
                dialog.open();
            }

            _getCreator(item) {
                const dc = item['dts:dublincore'];
                return dc ? dc['dc:creator'] : null;
            }

            _encodeParams(params) {
                return Object.keys(params).map((key) => {
                    return encodeURIComponent(key) + '=' + encodeURIComponent(params[key])
                }).join('&');
            }
        }

        window.customElements.define(DtsClient.is, DtsClient);
    </script>
</dom-module>
