<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html">
<link rel="import" href="bower_components/iron-icon/iron-icon.html">
<link rel="import" href="bower_components/paper-styles/color.html">

<script src="bower_components/paper/dist/paper-full.js"> </script>

<dom-module id="pb-annotation-overlay">
    <template>
        <style>
            :host {
                display: block;
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
                border: 0;
                position: relative;
                background:var(--paper-blue-100);
            }

            canvas{
                width: 100%;
                height: 100%;
            }

            iron-icon-button{
                position:absolute;
                top:10px;
            }
            .rect{

            }
            .circle{

            }
            .polygon{

            }
        </style>

        <iron-icon-button class="rect" icon="image:crop-free" on-click="_createRectangle"></iron-icon-button>
        <iron-icon-button class="circle" icon="radio-button-unchecked" on-click="_createCircle"></iron-icon-button>
        <iron-icon-button class="polygon" icon="image:filter-b-and-w" on-click="_createPolygon"></iron-icon-button>
        <canvas id="canvas"></canvas>
    </template>

    <script>
        /**
         * `pb-annotation-overlay`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PbAnnotationOverlay extends Polymer.Element {
            static get is() {
                return 'pb-annotation-overlay';
            }

            static get properties() {
                return {
                };
            }

            connectedCallback() {
                super.connectedCallback();
                console.log('connectedCallback', this);
            }

            ready(){
                super.ready();
            }

        }

        window.customElements.define(PbAnnotationOverlay.is, PbAnnotationOverlay);
    </script>
</dom-module>
