<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-tooltip/paper-tooltip.html">

<dom-module id="pb-alternate">
    <template>
        <style>
            :host {
                display: inline-block;
            }

            #content {
                color: var(--paper-blue-800);
            }
        </style>

        <slot style="display: none;"></slot>
        <span id="content" name="content"></span>
        <paper-tooltip id="tooltip" for="content" position="[[position]]" fitToVisibleBounds></paper-tooltip>
    </template>

    <script>
        /**
         * `pb-alternate`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PbAlternate extends Polymer.Element {
            static get is() {
                return 'pb-alternate';
            }

            static get properties() {
                return {
                    'position': {
                        type: 'String',
                        value: 'bottom'
                    },
                    'alternate': {
                        type: 'String'
                    },
                    'content': {
                        type: 'String'
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready(){
                super.ready();
                this.toggled = false;
                this.content = this.querySelector('.default').innerHTML;
                this.alternate = this.querySelector('.altcontent').innerHTML;
                
                this._update();
            }

            _update() {
                this.$.content.innerHTML = this.content;
                this.$.tooltip.innerHTML = this.alternate;
            }

            toggle(toggle) {
                if (toggle === this.toggled) {
                    return;
                }
                
                this.toggled = toggle;

                const old = this.content;
                this.content = this.alternate;
                this.alternate = old;

                this._update();
            }

        }

        window.customElements.define(PbAlternate.is, PbAlternate);
    </script>
</dom-module>
