<link rel="import" href="bower_components/polymer/polymer-element.html">
<!--
<link rel="import" href="bower_components/paper-dialog/paper-dialog.html"/>
<link rel="import" href="bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html"/>
<link rel="import" href="bower_components/paper-button/paper-button.html"/>
-->

<dom-module id="pb-ajax">
    <template>
        <style>
            :host {
                display: block;
            }

            paper-dialog {
                position: static;
                z-index: 1000;
            }
        </style>

        <a id="button" on-click="_handleClick" title="[[title]]"><slot></slot></a>

        <iron-ajax
            id="loadContent"
            url="[[url]]"
            verbose
            handle-as="text"
            method="get"
            on-response="_handleResponse"></iron-ajax>
    </template>

    <script>
        /**
         * `pb-ajax`
         *
         *
         * @customElement
         * @polymer
         */
        class PbAjax extends PbMixin(Polymer.Element) {
            static get is() {
                return 'pb-ajax';
            }

            static get properties() {
                return {
                    url: {
                        type: String
                    },
                    title: {
                        type: String
                    },
                    dialog: {
                        type: String
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready() {
                super.ready();
                this.subscribeTo('pb-update', this._onUpdate.bind(this));
            }

            _handleClick(ev) {
                ev.preventDefault();
                this.emitTo('pb-start-update');
                this.$.loadContent.generateRequest();
            }

            _handleResponse() {
                this.emitTo('pb-end-update');
                const resp = this.$.loadContent.lastResponse;
                const dialog = document.getElementById(this.dialog);
                const body = dialog.querySelector("paper-dialog-scrollable");
                body.innerHTML = resp;
                dialog.open();
            }

            _onUpdate(ev) {
                this.$.loadContent.params = ev.detail.params;
            }
        }

        window.customElements.define(PbAjax.is, PbAjax);
    </script>
</dom-module>
