<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="pb-mixin.html">

<dom-module id="pb-browse-docs">
    <template>
        <style>
            :host {
                display: block;
            }

            .toolbar {
                display: flex;
                justify-content: space-between;
            }

            .hidden {
                display: none;
            }
        </style>

        <div class="toolbar">
            <slot name="toolbar"></slot>
            <paper-button id="delete" title="i18n(delete)" class$="[[_canModify(_allowModification)]]">
                <iron-icon icon="delete"></iron-icon>
                <span class="label"><i18n:text key="delete">Delete</i18n:text></span>
            </paper-button>
        </div>
        <div id="content"><slot></slot></div>

        <iron-ajax
            id="loadContent"
            verbose
            handle-as="text"
            method="get"
            on-response="_handleContent"
            on-error="_handleError"></iron-ajax>

        <paper-dialog id="deleteDialog">
            <h2>Delete</h2>
            <paper-dialog-scrollable>
                <template is="dom-if" if="[[!_hasMultipleSelected(_file, _selected)]]"><p>Are you sure you want to delete the file [[_file]]?</p></template>
                <template is="dom-if" if="[[_hasMultipleSelected(_file, _selected)]]"><p>Are you sure you want to delete [[_selected.length]] files?</p></template>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-confirm="dialog-confirm" autofocus on-click="_confirmDelete">Yes</paper-button>
                <paper-button dialog-confirm="dialog-cancel">no</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        /**
         * `pb-browse-docs`
         *
         * loads a list of documents for browsing. Also allows to delete or download a given document.
         *
         *
         * @customElement
         * @polymer
         * @appliesMixin PbMixin
         */
        class PbBrowseDocs extends PbMixin(PbLoad) {
            static get is() {
                return 'pb-browse-docs';
            }

            static get properties() {
                return {
                    /** Id of the pb-login element to connect to */
                    login: {
                        type: String
                    },
                    /**
                     * If set, requires the logged in user to be member of
                     * the given group.
                     */
                    group: {
                        type: String
                    },
                    _file: {
                        type: String
                    },
                    _selected: {
                        type: Array
                    },
                    _allowModification: {
                        type: Boolean,
                        value: false
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();

                Polymer.RenderStatus.afterNextRender(this, () => {
                    const login = document.getElementById(this.login);
                    if (!login) {
                        console.error('<pb-restricted> connected pb-login element not found!');
                        return;
                    }
                    this.subscribeTo('pb-login', (ev) => {
                        this._allowModification = this._loggedIn(ev.detail.user, ev.detail.group);
                    });
                    this._allowModification = login.loggedIn && this._loggedIn(login.user, login.groups);
                });
            }

            /**
             * returns selected documents.
             *
             * @returns {Array}
             */
            getSelected() {
                const selected = [];
                if (this.container) {
                    document.querySelectorAll(this.container).forEach((container) =>
                        container.querySelectorAll('.document-select paper-checkbox[checked]').forEach((checkbox) => {
                            selected.push(checkbox.value);
                        })
                    );
                } else {
                    this.$.content.querySelectorAll('.document-select paper-checkbox[checked]').forEach((checkbox) => {
                        selected.push(checkbox.value);
                    });
                }
                return selected;
            }


            _onLoad(content) {
                this.$.delete.addEventListener('click', this._handleDelete.bind(this));
            }

            _handleDelete(target, ev) {
                const selected = this.getSelected();
                if (selected.length > 0) {
                    this._selected = selected;
                    this.$.deleteDialog.open();
                }
            }

            _hasMultipleSelected(_file, _selected) {
                return _selected && _selected.length > 0;
            }

            _hasOneSelected(_file, _selected) {
                return _file;
            }

            _confirmDelete() {
                if (!(this._file || this._selected)) {
                    return;
                }

                let files;
                if (this._selected) {
                    files = this._selected;
                } else {
                    files = [this._file];
                }
                console.log('<pb-browse-docs> Deleting %o', this._file);
                const params = {
                    action: 'delete',
                    'docs[]': files
                };
                this._file = null;
                this._selected = null;
                this.load(params);
            }

            _loggedIn(user, groups) {
                if (user == null) {
                    return false;
                }
                if (this.group) {
                    if (!groups) {
                        return false;
                    }
                    return groups.indexOf(this.group) > -1;
                }
                return true;
            }

            _canModify(allowModification) {
                return allowModification ? '' : 'hidden';
            }
        }

        window.customElements.define(PbBrowseDocs.is, PbBrowseDocs);
    </script>
</dom-module>
