<script src="../resources/scripts/vendor/highlight.pack.js"></script>

<dom-module id="pb-code-highlight">
    <!-- Deprecated, replace with style module -->
    <link rel="import" type="css" href="../resources/css/vendor/atom-one-light.css">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <pre id="code" class$="[[lang]]"></pre>
        <slot></slot>
    </template>

    <script>
        /**
         * An element for syntax highlighting code based on `highlight.js`.
         * Mainly used from the ODD for the TEI Publisher documentation.
         *
         * @customElement
         * @polymer
         * @demo demo/pb-code-highlight.html
         */
        class PbCodeHighlight extends Polymer.Element {
            static get is() {
                return 'pb-code-highlight';
            }

            static get properties() {
                return {
                    /**
                     * The language to be used for syntax highlighting.
                     */
                    lang: {
                        type: String,
                        value: "text"
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready(){
                super.ready();
                this.$.code.innerHTML = this.innerHTML;
                this.innerHTML = "";
                hljs.highlightBlock(this.$.code);
            }
        }

        window.customElements.define(PbCodeHighlight.is, PbCodeHighlight);
    </script>
</dom-module>
