<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="pb-code-highlight">
    <!-- Deprecated, replace with style module -->
    <link rel="import" type="css" href="../resources/css/vendor/atom-one-light.css">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <pre id="code" class$="[[lang]]"></pre>
        <slot></slot>
    </template>

    <script>
        /**
         * `pb-code-highlight`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PbCodeHighlight extends Polymer.Element {
            static get is() {
                return 'pb-code-highlight';
            }

            static get properties() {
                return {
                    lang: {
                        type: String,
                        value: "text"
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready(){
                super.ready();
                this.$.code.innerHTML = this.innerHTML;
                this.innerHTML = "";
                hljs.highlightBlock(this.$.code);
            }
        }

        window.customElements.define(PbCodeHighlight.is, PbCodeHighlight);
    </script>
</dom-module>
