<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="pb-mixin.html">

<dom-module id="pb-custom-form">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <iron-form id="ironform">
            <form action="" accept="text/html" method="get">
                <slot></slot>
            </form>
        </iron-form>

        <iron-ajax
            id="loadContent"
            verbose
            handle-as="text"
            method="get"
            on-response="_handleContent"
            on-error="_handleError"></iron-ajax>
    </template>

    <script>
        /**
         * A custom form element which loads the actual form from a server-side script using AJAX.
         * Emits a `pb-search-resubmit` event when the form is submitted, signalling `pb-search` that
         * a search should be redone using the parameters passed.
         *
         * The component is currently used to implement the additional search facets on the start page and
         * search result page.
         *
         * @customElement
         * @polymer
         */
        class PbCustomForm extends PbLoad {
            static get is() {
                return 'pb-custom-form';
            }

            connectedCallback() {
                super.connectedCallback();

                this.$.ironform.addEventListener('iron-form-presubmit', (ev) => {
                    ev.preventDefault();
                    this._submit();
                })
            }

            submit() {
                this.$.ironform.submit();
            }

            _submit() {
                const json = this.$.ironform.serializeForm();
                this.emitTo('pb-search-resubmit', {'params': json});
            }

            _parseHeaders(xhr) {
                // overwrite to avoid `pb-results-received` event being sent
            }

            _onLoad(content) {
                super._onLoad(content);

                this.dispatchEvent(new CustomEvent('pb-custom-form-loaded', { detail: content }));
            }

            /**
             * Fired before the element updates its content
             *
             * @event pb-custom-form-loaded
             * @param {string} the loaded content
             */

            /**
             * Fired when form is submitted
             *
             * @event pb-search-resubmit
             * @param {object} params: serialized form parameters as json object
             */
        }

        window.customElements.define(PbCustomForm.is, PbCustomForm);
    </script>
</dom-module>
