<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="pb-download">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <a id="button" on-click="_handleClick" title="[[title]]" target="[[_target]]" href="[[_url]]"><slot></slot></a>
    </template>

    <script>
        /**
         * `pb-download`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PbDownload extends Polymer.Element {
            static get is() {
                return 'pb-download';
            }

            static get properties() {
                return {
                    /**
                     * todo
                     */
                    src: {
                        type: String
                    },
                    /**
                     * todo
                     */
                    file: {
                        type: String
                    },
                    /**
                     * todo
                     */
                    type: {
                        type: String
                    },
                    /**
                     * todo
                     */
                    odd: {
                        type: String
                    },
                    /**
                     * todo
                     */
                    dialog: {
                        type: String
                    },
                    /**
                     * todo
                     */
                    title: {
                        type: String
                    },
                    source: {
                        type: Boolean,
                        value: false
                    },
                    _target: {
                        type: String,
                        value: false,
                        computed: '_computeTarget(source)'
                    },
                    _url: {
                        type: String
                    }
                };
            }

            _computeTarget(source) {
                return source ? '_blank' : '_self';
            }

            /**
             *
             * triggers a document download
             *
             * @param ev
             * @private
             */
            _handleClick(ev) {
                const token = new Date().getTime() * 797;

                let url;
                if (this.src) {
                    const doc = document.getElementById(this.src);
                    const file = doc.getFileName();
                    url = file + '.' + this.type + '?odd=' + doc.odd + '&cache=no&token=' + token;
                } else {
                    url = this.file + '.' + this.type + '?odd=' + this.odd + '&cache=no&token=' + token;
                }
                if (this.source) {
                    url += '&source=yes';
                    this._url = url;
                    return;
                }

                ev.preventDefault();
                const dialog = document.getElementById(this.dialog);

                dialog.open();

                const downloadCheck = window.setInterval(() => {
                    const cookieValue = Cookies.get("simple.token");
                    if (cookieValue == token) {
                        window.clearInterval(downloadCheck);
                        Cookies.remove("simple.token");
                        dialog.close();
                    }
                });

                window.location = url;
            }
        }

        window.customElements.define(PbDownload.is, PbDownload);
    </script>
</dom-module>
