<dom-module id="pb-download">
    <template>
        <style>
            :host {
                display: block;
            }

            a {
                @apply --pb-download;
            }
        </style>
        <a id="button" on-click="_handleClick" title="[[title]]" target="[[_target]]" href="[[_url]]"><slot></slot></a>
    </template>

    <script>
        /**
         * a download link for given href. Will display a dialog while downloading. This must be given by id reference.
         *
         *
         * @customElement
         * @polymer
         */
        class PbDownload extends Polymer.Element {
            static get is() {
                return 'pb-download';
            }

            static get properties() {
                return {
                    /**
                     * optional id reference to a pb-document. If present the pb-download will allow to download the
                     * referenced pb-document.
                     */
                    src: {
                        type: String
                    },
                    /**
                     * todo clarify: not currently used.
                     */
                    file: {
                        type: String
                    },
                    /**
                     * the document type as given by file extension e.g. .pdf
                     */
                    type: {
                        type: String
                    },
                    /**
                     * todo - clarify: can't find any usage of the odd param in the current code. What's the purpose?
                     */
                    odd: {
                        type: String
                    },
                    /**
                     * id of dialog component to show when downloading
                     */
                    dialog: {
                        type: String
                    },
                    /**
                     * HTML title to show for this pb-download
                     */
                    title: {
                        type: String
                    },
                    source: {
                        type: Boolean,
                        value: false
                    },
                    /**
                     *  request params given on URL
                     */
                    params: {
                        type: String
                    },
                    _target: {
                        type: String,
                        value: false,
                        computed: '_computeTarget(source)'
                    },
                    _url: {
                        type: String,
                        computed: '_computeURL(src, type, file, odd, params)'
                    },
                    _token: {
                        type: String
                    }
                };
            }

            _computeTarget(source) {
                return source ? '_blank' : '_self';
            }

            _computeURL(src, type, file, odd, params) {
                this._token = new Date().getTime() * 797;
                let url;
                if (this.src) {
                    const doc = document.getElementById(this.src);
                    const file = this.file ? this.file : doc.getFileName();
                    url = file + (this.type ?'.' + this.type : '') + '?odd=' + doc.odd + '.odd&cache=no&token=' + this._token;
                } else {
                    url = this.file + (this.type ?'.' + this.type : '') + '?odd=' + this.odd + '&cache=no&token=' + this._token;
                }

                if (this.params) {
                    url += '&' + this.params;
                }
                if (this.source) {
                    url += '&source=yes';
                }
                return url;
            }

            /**
             *
             * triggers a document download
             *
             * @param ev
             * @private
             */
            _handleClick(ev) {
                if (this.source) {
                    this._url = url;
                    return;
                }

                ev.preventDefault();
                if (this.dialog) {
                    const dialog = document.getElementById(this.dialog);

                    //todo: this will error when dialog is not found or defined on element.
                    dialog.open();

                    const downloadCheck = window.setInterval(() => {
                        const cookieValue = Cookies.get("simple.token");
                        if (cookieValue == this._token) {
                            window.clearInterval(downloadCheck);
                            Cookies.remove("simple.token");
                            dialog.close();
                        }
                    });
                }
                window.location = this._url;
            }
        }

        window.customElements.define(PbDownload.is, PbDownload);
    </script>
</dom-module>
