<!--
    Represents a Publisher document. It has no visual presentation but holds meta-data
    about the document to be used by other components like `pb-view`. Every `pb-view`
    references a `pb-document`.
    
    
    @customElement
    @polymer
-->
<dom-module id="pb-document">
    <template>
        <style>
            :host {
                display: none;
            }
        </style>
    </template>
    <script>
        class PbDocument extends Polymer.Element {
            static get is() {
                return 'pb-document';
            }

            static get properties() {
                return {
                    /**
                     * The path to the document to be loaded. Should be relative to `root`.
                     */
                    path: {
                        type: String,
                        value: '',
                        notify: true,
                        observer: '_update'
                    },
                    /**
                     * The root collection which will be used to resolve relative paths
                     * specified in `path`.
                     */
                    root: {
                        type: String,
                        value: ''
                    },
                    /**
                     * The odd file which should be used to render this document by default. Might be
                     * overwritten in a `pb-view`. The odd should be specified by its name without path 
                     * or the `.odd` suffix.
                     */
                    odd: {
                        type: String
                    },
                    /**
                     * The default view to be used for displaying this document. Can be either `page`, `div` or `simple`.
                     * Might be overwritten in a `pb-view`.
                     * 
                     * Value | Displayed content
                     * ------|------------------
                     * `page` | content is displayed page by page as determined by tei:pb
                     * `div` | content is displayed by divisions
                     * `single` | do not paginate but display entire content at once
                     */
                    view: {
                        type: String
                    },
                    sourceView: {
                        type: String
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready() {
                super.ready();
            }

            _update() {
                this.dispatchEvent(new CustomEvent('update', {detail: {path: this.path}}));
            }

            /**
             * Returns the name of the document without path.
             *
             * @returns {string} Name of the document
             */
            getFileName() {
                return this.path.replace(/^.*?([^\/]+)$/, '$1');
            }

            /**
             * Returns the full path to the document.
             
             * @returns {string} Full path to the document
             */
            getFullPath() {
                return this.root + '/' + this.path;
            }
        }

        window.customElements.define(PbDocument.is, PbDocument);
    </script>
</dom-module>
