<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="pb-edit-xml">
    <template>
        <style>
            :host {
                display: block;
            }
            
            a {
                color: inherit;
                text-decoration: none;
            }
        </style>

        <a href="{{href}}" target="eXide" on-click="_handleClick" title="[[title]]"><slot></slot></a>
    </template>

    <script>
        /**
         * `pb-edit-xml`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PbEditXml extends Polymer.Element {
            static get is() {
                return 'pb-edit-xml';
            }

            static get properties() {
                return {
                    path: {
                        type: String
                    },
                    src: {
                        type: String
                    },
                    title: {
                        type: String
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready(){
                super.ready();
            }

            open() {
                const sourceComponent = document.getElementById(this.src);
                const path = sourceComponent.getFullPath();
                // try to retrieve existing eXide window
                const exide = window.open("", "eXide");
                if (exide && !exide.closed) {
                    // check if eXide is really available or it's an empty page
                    const app = exide.eXide;
                    if (app) {
                        console.log("using existing eXide to open %s", path);
                        // eXide is there
                        exide.eXide.app.findDocument(path);
                        exide.focus();
                    } else {
                        console.log("opening new eXide for %s", path);
                        window.eXide_onload = function() {
                            exide.eXide.app.findDocument(path);
                        };
                        // empty page
                        exide.location = srcComponent.sourceView;
                    }
                }
            }
            
            _handleClick(ev) {
                ev.preventDefault();
                this.open();
            }
        }

        window.customElements.define(PbEditXml.is, PbEditXml);
    </script>
</dom-module>
