<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="pb-footnote-ref">
    <template>
        <style>
            :host {
                display: inline-block;
            }
            
            a[rel=footnote] {
                @apply --pb-footnote-ref;
            }
        </style>

        <a rel="footnote" id="ref"><slot></slot></a>
        <paper-tooltip id="tooltip" for="ref" position="[[position]]" fitToVisibleBounds></paper-tooltip>
    </template>

    <script>
        /**
         * `pb-footnote-ref`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PbFootnoteRef extends Polymer.Element {
            static get is() {
                return 'pb-footnote-ref';
            }

            static get properties() {
                return {
                    id: {
                        type: String
                    },
                    label: {
                        type: String
                    },
                    'position': {
                        type: 'String',
                        value: 'bottom'
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready() {
                super.ready();
            }

        }

        window.customElements.define(PbFootnoteRef.is, PbFootnoteRef);
    </script>
</dom-module>
