<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="pb-mixin.html">

<dom-module id="pb-grid">
    <template>
        <style>
            :host {
                display: grid;
                grid-template-columns: var(--pb-column-widths, '1fr');
                grid-column-gap: var(--pb-column-gap, 20px);
                justify-content: space-between;
            }
        </style>

        <slot></slot>
    </template>

    <script>
        /**
         * `pb-grid`
         *
         * A component to create a column layout based upon CSS grid. It offers methods for dynamically changing
         * the layout by adding or removing panels at runtime.
         *
         * @customElement
         * @polymer
         * @appliesMixin PbMixin
         * @demo demo/pb-grid.html
         */
        class PbGrid extends PbMixin(Polymer.Element) {
            static get is() {
                return 'pb-grid';
            }

            static get properties() {
                return {
                    /**
                     * an array of panel items to display when the component is loaded. It should contain a
                     * number for each panel to show, indicating the ordinal position of the template within the `<pb-panel>`
                     * to initialize. For example, if you have two templates in `<pb-panel>`: "transcription" and "translation",
                     * setting `panels="[0, 1]"` will show two columns, one with the transcription, the other with the translation.
                     *
                     * Passing in a browser parameter `panels` with a comma-separated list will set this property as well.
                     */
                    panels: {
                        type: Array
                    },
                    direction: {
                        type: String,
                        value: 'ltr'
                    },
                    /**
                     * the number of columns
                     */
                    _columns: {
                        type: Number
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();

                this.subscribeTo('pb-panel', ev => {
                    const idx = Array.from(this.querySelectorAll('._grid_panel')).indexOf(ev.detail.panel);
                    if (idx > 0) {
                        console.log('<pb-grid> Updating panel %d to show %s', idx, ev.detail.active);
                        this.panels[idx] = ev.detail.active;

                        this.setParameter('panels', this.panels.join('.'));
                        this.pushHistory('added panel');
                    }
                });
            }

            ready() {
                super.ready();
                const panelsParam = this.getParameter('panels');
                if (panelsParam) {
                    this.panels = panelsParam.split('.').map(param => parseInt(param));
                }

                this._columns = this.panels.length;
                this.template = this.querySelector('template');
                this.panels.forEach(panelNum => this._insertPanel(panelNum));

                this._update();
            }

            addPanel(initial) {
                if (!initial) {
                    if (this.panels.length > 0) {
                        var max = this.panels.reduce(function(a, b) {
                            return Math.max(a, b);
                        });
                        initial = max + 1;
                    } else {
                        initial = 0;
                    }
                }
                this._columns++;
                this.panels.push(initial);

                this.setParameter('panels', this.panels.join('.'));
                this.pushHistory('added panel');

                this._insertPanel(initial);

                this._update();

                this.emitTo('pb-refresh', null);
            }

            removePanel(panel) {
                const idx = Array.from(this.querySelectorAll('._grid_panel')).indexOf(panel);
                console.log('<pb-grid> Removing panel %d', idx);
                this.panels.splice(idx, 1);

                this.setParameter('panels', this.panels.join('.'));
                this.pushHistory('removed panel');

                panel.parentNode.removeChild(panel);
                this._columns--;
                this._update();
            }

            _insertPanel(active) {
                const clone = document.importNode(this.template.content.firstElementChild, true);
                clone.setAttribute('active', active);
                if (this.direction === 'ltr' || this.querySelectorAll('._grid_panel').length === 0) {
                    this.appendChild(clone);
                } else {
                    this.insertBefore(clone, this.firstElementChild);
                }
                clone.classList.add('_grid_panel');
            }

            _update() {
                let widths = [];
                Array.from(this.children).forEach((child) => {
                    if (child instanceof HTMLTemplateElement) {
                        return;
                    }
                    const styles = window.getComputedStyle(child);
                    const width = styles.getPropertyValue('max-width');
                    if (width && width !== 'none') {
                        widths.push(width);
                    } else {
                        widths.push('1fr');
                    }
                });
                this.updateStyles({'--pb-column-widths': widths.join(' ')});
            }

            /**
             * Fired after a new column has been added to allow connected components to refresh.
             *
             * @event pb-refresh
             */
        }

        window.customElements.define(PbGrid.is, PbGrid);
    </script>
</dom-module>
