<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="pb-mixin.html">

<dom-module id="pb-load">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <slot id="contentSlot"></slot>

        <iron-ajax
            id="loadContent"
            verbose
            handle-as="text"
            method="get"
            on-response="_handleContent"
            on-error="_handleError"></iron-ajax>
    </template>

    <script>
        /**
         * `<pb-load>`
         *
         * Dynamically load data by calling a server-side script, optionally triggered by an event.
         * This is used for e.g. the document list on the start page or the table
         * of contents.
         *
         * @customElement
         * @polymer
         * @appliesMixin PbMixin
         * @demo demo/pb-load.html
         */
        class PbLoad extends PbMixin(Polymer.Element) {
            static get is() {
                return 'pb-load';
            }

            static get properties() {
                return {
                    /** The URL for the AJAX request. If a relative URL is passed, it will be resolved
                     * either against the app root (if known) or the location of the webcomponent.
                     */
                    url: {
                        type: String
                    },
                    /** ID of the pb-document this element is connected to. The document path to
                    * load will be taken from the pb-document.
                     */
                    src: {
                        type: String
                    },
                    /**
                     * The container element into which the results returned by
                     * the AJAX request will be loaded.
                     */
                    container: {
                        type: String
                    },
                    /**
                     * Should content be loaded immediately when the component is initialized?
                     */
                    auto: {
                        type: Boolean,
                        value: false
                    },
                    /**
                     * Only load content once, not every time a `pb-load` event is received.
                     */
                    loadOnce: {
                        type: Boolean,
                        value: false
                    },
                    /**
                     * Start offset to use for showing paginated content.
                     */
                    start: {
                        type: Number
                    },
                    history: {
                        type: Boolean,
                        value: false
                    },
                    event: {
                        type: String,
                        value: 'pb-load'
                    }
                };
            }

            constructor() {
                super();
                this.loaded = false;
                this.parameters = null;
            }

            connectedCallback() {
                super.connectedCallback();

                this.subscribeTo(this.event, function(ev) {
                    if (this.history && ev.detail && ev.detail.params) {
                        const start = ev.detail.params.start;
                        if (start) {
                            this.setParameter('start', start);
                            this.pushHistory('pagination', {
                                start: start
                            });
                        }
                    }
                    this.load(ev);
                }.bind(this));

                if (this.history) {
                    window.addEventListener('popstate', function(ev) {
                        ev.preventDefault();
                        if (ev.state && ev.state.start && ev.state.start !== this.start) {
                            this.start = ev.state.start;
                            this.load();
                        }
                    }.bind(this));
                }
            }

            ready() {
                super.ready();

                if (this.auto) {
                    Polymer.RenderStatus.beforeNextRender(this, function() {
                        this.start = this.getParameter('start', this.start);
                        this.load();
                    });
                }
            }

            load(ev) {
                if (this.loadOnce && this.loaded) {
                    return;
                }

                this.emitTo('pb-start-update');

                const page = document.querySelector('pb-page');
                let appRoot;
                if (page) {
                    appRoot = page.appRoot;
                }
                let url;
                if (appRoot) {
                    url = [appRoot, this.url].join('/');
                } else {
                    url = this.resolveUrl(this.url);
                }

                let params = {};

                if (ev) {
                    if (ev instanceof Event) {
                        if (ev.detail && ev.detail.params) {
                            params = ev.detail.params;
                        }
                    } else {
                        params = ev;
                    }
                }

                const doc = this.getDocument();
                if (doc) {
                    params.doc = doc.path;
                }

                // set start parameter to start property, but only if not provided otherwise already
                if (this.start && !params.start) {
                    params.start = this.start;
                }

                params = this.getParameters(params);

                console.log("<pb-load> Loading %s with parameters %o", this.url, params);
                this.$.loadContent.params = params;
                this.$.loadContent.url = url;
                this.$.loadContent.generateRequest();

                if (this.loadOnce) {
                    this.loaded = true;
                }
            }

            /**
             * Allow subclasses to set parameters before the request is being sent.
             *
             * @param parameters Map of parameters
             * @return new or modified parameters map
             */
            getParameters(params) {
                return params;
            }

            _handleContent(ev) {
                this._parseHeaders(ev.detail.xhr);

                const resp = this.$.loadContent.lastResponse;
                if (this.container) {
                    this.style.display = 'none';
                    document.querySelectorAll(this.container).forEach((elem) => {
                        elem.innerHTML = resp
                        this._onLoad(elem);
                    });
                } else {
                    this.style.display = '';
                    this._clearContent();
                    
                    const div = document.createElement('div');
                    div.innerHTML = resp;
                    div.className = '_contentSlot';
                    div.slot = '';
                    this.appendChild(div);
                    this._onLoad(this);
                }

                this.emitTo('pb-end-update');
            }

            _clearContent() {
                const oldContent = this.querySelectorAll('._contentSlot');
                if (oldContent.length > 0) {
                    // clear content inserted previously
                    oldContent.forEach((node) => node.parentNode.removeChild(node));
                } else if (this.$.contentSlot) {
                    // clear fallback content from slot
                    this.$.contentSlot.assignedNodes().forEach((node) => node.parentNode.removeChild(node));
                }
            }
            
            _handleError(ev) {
                this.emitTo('pb-end-update');
                const msg = this.$.loadContent.lastError.response;
                const parser = new DOMParser();
                const doc = parser.parseFromString(msg, "application/xml");
                const node = doc.querySelector('message');

                const dialog = document.getElementById('errorDialog');
                const body = dialog.querySelector("paper-dialog-scrollable");
                body.innerHTML = node.textContent;
                dialog.open();
            }

            _parseHeaders(xhr) {
                const total = xhr.getResponseHeader('pb-total');
                const start = xhr.getResponseHeader('pb-start');

                if (this.start !== start) {
                    this.start = parseInt(start);
                }
                this.emitTo('pb-results-received', {
                    "count": parseInt(total),
                    "start": this.start,
                    "params": this.$.loadContent.params
                });
            }

            _onLoad(content) {
            }

            /**
             * Fired before the element updates its content
             *
             * @event pb-start-update
             * @param {object} Parameters to be passed to the request
             */

            /**
             * Fired after the element has finished updating its content
             *
             * @event pb-end-update
             */

             /**
              * Fired after the element has received content from the server
              *
              * @event pb-results-received
              * @param {int} count number of results received (according to `pb-total` header)
              * @param {int} start offset into the result set (according to `pb-start` header)
              */
        }

        window.customElements.define(PbLoad.is, PbLoad);
    </script>
</dom-module>
