<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="pb-load">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <div id="content"><slot></slot></div>

        <iron-ajax
            id="loadContent"
            verbose
            handle-as="text"
            method="get"
            on-response="_handleContent"></iron-ajax>
    </template>

    <script>
        /**
         * `<pb-load>`
         *
         * Dynamically load data into a container, optionally triggered by an event.
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PbLoad extends Polymer.Element {
            static get is() {
                return 'pb-load';
            }

            static get properties() {
                return {
                    /** The URL for the AJAX request */
                    url: {
                        type: String
                    },
                    /** Selector for the view this loader is connected to.
                     * HTTP request parameters will be the same as for the view.
                     */
                    target: {
                        type: String
                    },
                    /**
                     * The container element into which the results returned by
                     * the AJAX request will be loaded.
                     */
                    container: {
                        type: String
                    },
                    /**
                     * An object defining an event source. Loading
                     * will be triggered when the event source fires. The object
                     * should specify two properties:
                     *
                     * 1. source: the object to register an event listener on
                     * 2. event: name of the event to listen on
                     */
                    trigger: {
                        type: Object
                    }
                };
            }

            constructor() {
                super();
                this.loaded = false;
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready() {
                super.ready();
                if (this.trigger && this.trigger.selector && this.trigger.event) {
                    document.querySelectorAll(this.trigger.selector).forEach((elem) =>
                        elem.addEventListener(this.trigger.event, this.load.bind(this)));
                }
            }

            load() {
                if (this.loaded) {
                    return;
                }
                console.log("Loading %s", this.url);
                const appRoot = document.documentElement.getAttribute('data-app');
                const url = [appRoot, this.url].join('/');

                const view = document.querySelector(this.target);
                if (!('getDocument' in view)) {
                  return console.error('target not found:', this.target)
                }
                const params = view.getParameters();
                params.target = this.target;
                this.$.loadContent.params = params;
                this.$.loadContent.url = url;
                this.$.loadContent.generateRequest();

                this.loaded = true;
            }

            _handleContent() {
                const resp = this.$.loadContent.lastResponse;
                if (this.container) {
                    this.$.content.style.display = 'none';
                    document.querySelectorAll(this.container).forEach((elem) => elem.innerHTML = resp);
                } else {
                    this.$.content.style.display = '';
                    this.$.content.innerHTML = resp;
                }
            }
        }

        window.customElements.define(PbLoad.is, PbLoad);
    </script>
</dom-module>
