<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="pb-mixin.html">

<dom-module id="pb-link">
    <template>
        <style>
            :host {
                display: inline;
            }

            a, a:link {
                @apply --pb-link-theme;
            }
        </style>

        <a href="#" on-click="_onClick"><slot></slot></a>
    </template>

    <script>
        /**
         * Create an internal link: clicking it will cause connected views to
         * update and load the corresponding document fragment defined by the
         * properties.
         *
         * @customElement
         * @polymer
         * @appliesMixin PbMixin
         * @demo demo/pb-link.html
         */
        class PbLink extends PbMixin(Polymer.Element) {
            static get is() {
                return 'pb-link';
            }

            static get properties() {
                return {
                    /** Browse to an xml:id within the document */
                    xmlId: {
                        type: String
                    },
                    /** Browse to an eXist-internal node id, e.g. 3.5.6.1 */
                    nodeId: {
                        type: String
                    },
                    /** Browse to a different document */
                    path: {
                        type: String
                    },
                    /** Switch the ODD to use for display */
                    odd: {
                        type: String
                    },
                    /**
                     * Modify browser history: if set, clicking this
                     * element will generate a new history entry in the browser's history.
                     * Only use this on one element on the page.
                     */
                    history: {
                        type: Boolean,
                        value: true
                    },
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready(){
                super.ready();
            }

            _onClick(ev) {
                ev.preventDefault();
                ev.stopPropagation();

                const params = {
                    position: null
                };
                if (this.xmlId) {
                    params.id = this.xmlId;
                    this.history && this.setParameter('id', this.xmlId);
                } else if (this.nodeId) {
                    params.position = this.nodeId;
                    this.history && this.setParameter('root', this.nodeId);
                }
                if (this.path) {
                    params.path = this.path;
                    this.history && this.setPath(this.path);
                }
                if (this.odd) {
                    params.odd = this.odd;
                    this.history && this.setParameter('odd', this.odd);
                }
                this.pushHistory('table of contents click');

                this.emitTo('pb-refresh', params);
            }

            /**
             * Fired when user clicks the link
             *
             * @event pb-refresh
             * @param {Object} Parameters as defined in properties
             */
        }

        window.customElements.define(PbLink.is, PbLink);
    </script>
</dom-module>
