<link rel="import" href="bower_components/polymer/polymer-element.html">
<!--<link rel="import" href="bower_components/shadycss/apply-shim.html">-->

<dom-module id="pb-link">
    <template>
        <style>
            :host {
                display: inline;
            }

            a, a:link {
                @apply --pb-link-theme;
            }
        </style>

        <a href="#" on-click="_onClick"><slot></slot></a>
    </template>

    <script>
        /**
         * `pb-link`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PbLink extends PbMixin(Polymer.Element) {
            static get is() {
                return 'pb-link';
            }

            static get properties() {
                return {
                    nodeId: {
                        type: String
                    },
                    path: {
                        type: String
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready(){
                super.ready();
            }

            _onClick(ev) {
                ev.preventDefault();
                ev.stopPropagation();

                const params = {};
                if (this.nodeId) {
                    this.setParameter('root', this.nodeId);
                    params.position = this.nodeId;
                }
                if (this.path) {
                    params.path = this.path;
                }

                this.pushHistory('table of contents click');

                this.emitTo('pb-refresh', params);
            }
        }

        window.customElements.define(PbLink.is, PbLink);
    </script>
</dom-module>
