<dom-module id="pb-media-query">
    <template>
        <style>
            :host {
                display: none;
            }

            :host(.active) {
                display: inherit;
            }
        </style>

        <template is="dom-if" if="{{queryMatches}}">
            <slot></slot>
        </template>

        <iron-media-query query="{{query}}" query-matches="{{queryMatches}}">
    </template>

    <script>
        /**
         * `pb-media-query`
         * a element that applies a media-query on its content
         *
         * todo: check - do we need this element? Seems to just add an 'active' class that is used by pb-paginate. This
         * seems like a rather weak link and probably pb-paginate would be better of not relying on it.
         *
         * @customElement
         * @polymer
         */
        class PbMediaQuery extends Polymer.Element {
            static get is() {
                return 'pb-media-query';
            }

            static get properties() {
                return {
                    query: {
                        type: String
                    },
                    queryMatches: {
                        type: Boolean,
                        reflectToAttribute: true,
                        observer: '_show'
                    }
                };
            }

            _show() {
                if (this.queryMatches) {
                    this.className = 'active';
                } else {
                    this.className = '';
                }
            }

            connectedCallback() {
                super.connectedCallback();
            }


        }

        window.customElements.define(PbMediaQuery.is, PbMediaQuery);
    </script>
</dom-module>
