<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="pb-map">
    <template>
        <style>
            :host {
                display: block;
            }

            google-map {
                width: 100%;
                height: 100%;
            }
        </style>

        <google-map id="map" api-key="[[apiKey]]" fit-to-markers latitude="[[latitude]]" longitude="[[longitude]]" zoom="[[zoom]]">
            <google-map-marker id="marker" latitude="[[latitude]]" longitude="[[longitude]]" label="[[label]]">
                <h3>[[label]]</h3>
            </google-map-marker>
        </google-map>
    </template>

    <script>
        /**
         * `pb-map`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PbMap extends PbMixin(Polymer.Element) {
            static get is() {
                return 'pb-map';
            }

            static get properties() {
                return {
                    apiKey: {
                        type: String
                    },
                    label: {
                        type: String
                    },
                    latitude: {
                        type: Number
                    },
                    longitude: {
                        type: Number
                    },
                    zoom: {
                        type: Number,
                        value: 14
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();

                this.subscribeTo('pb-geolocation', function(ev) {
                    if (ev.detail.coordinates) {
                        this.latitude = ev.detail.coordinates.latitude;
                        this.longitude = ev.detail.coordinates.longitude;
                        this.label = ev.detail.label;
                    }
                }.bind(this));
            }

            ready(){
                super.ready();
            }

        }

        window.customElements.define(PbMap.is, PbMap);
    </script>
</dom-module>
