<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html">

<dom-module id="pb-navigation">
    <template>
        <paper-icon-button id="button" icon="{{icon}}" on-click="_handleClick"></paper-icon-button>
    </template>

    <script>
        /**
         * `seed-element`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PbNavigation extends Polymer.Element {
            static get is() {
                return 'pb-navigation';
            }

            static get properties() {
                return {
                    target: {
                        type: String
                    },
                    direction: {
                        type: String,
                        value: 'next'
                    },
                    icon: {
                        type: String,
                        value: 'icons:chevron-right'
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready(){
                super.ready();

                document.querySelectorAll(this.target).forEach(function(elem) {
                    elem.addEventListener('update', this._update.bind(this));
                }.bind(this));
            }

            _handleClick() {
                document.querySelectorAll(this.target).forEach(function(elem) {
                    elem.navigate(this.direction);
                }.bind(this));
            }

            _update(ev) {
                console.log(ev.detail.data.next);
                if (this.direction === 'forward') {
                    this.$.button.disabled = !ev.detail.data.next;
                } else {
                    this.$.button.disabled = !ev.detail.data.previous;
                }
            }
        }

        window.customElements.define(PbNavigation.is, PbNavigation);
    </script>
</dom-module>
