<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="pb-mixin.html"/>

<dom-module id="pb-navigation">
    <template>
        <style>
            .inactive {
                visibility: hidden;

                @apply --pb-navigation-hidden;
            }
        </style>
        <a id="button" on-click="_handleClick"><slot></slot></a>
    </template>

    <script>
        /**
         * Navigate backward/forward in a document. This component does not implement any functionality itself.
         * It just sends a `pb-navigate` event when clicked.
         *
         * ## CSS Mixins
         *
         * | Custom property | Description | Default|
         * | ----------------|-------------|--------|
         * |--pb-navigation-hidden | Mixin applied if navigation is not available (because there's no next/previous page) | {visibility: hidden,}|
         *
         * @customElement
         * @polymer
         * @appliesMixin PbMixin
         * @demo demo/pb-view.html
         */
        class PbNavigation extends Polymer.mixinBehaviors([Polymer.IronA11yKeysBehavior], PbMixin(Polymer.Element)) {
            static get is() {
                return 'pb-navigation';
            }

            static get properties() {
                return {
                    /**
                     * The direction to navigate in, either `forward` or `backward`
                     */
                    direction: {
                        type: String,
                        value: 'forward'
                    },
                    /**
                     * Enable keyboard shortcuts: press left for backward, right for forward
                     */
                    keyboard: {
                        type: String
                    },
                    keyEventTarget: {
                        type: Object,
                        value: function() {
                            return document.body;
                        }
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready(){
                super.ready();

                this.subscribeTo('pb-update', this._update.bind(this));

                if (this.keyboard) {
                    this.addOwnKeyBinding(this.keyboard, '_handleClick');
                }
            }

            _handleClick() {
                this.emitTo('pb-navigate', { direction: this.direction });
            }

            _update(ev) {
                if (this.direction === 'forward') {
                    if (ev.detail.data.next) {
                        this.$.button.className = '';
                    } else {
                        this.$.button.className = 'inactive';
                    }
                } else {
                    if (ev.detail.data.previous) {
                        this.$.button.className = '';
                    } else {
                        this.$.button.className = 'inactive';
                    }
                }
            }
        }

        window.customElements.define(PbNavigation.is, PbNavigation);
    </script>
</dom-module>
