<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="pb-mixin.html">

<dom-module id="pb-popover">
    <template>
        <style>
            :host {
                display: inline;
            }
            a {
              text-decoration: inherit;
              color: inherit;
              cursor: text;
            }
            a.persistent {
                cursor: pointer;
            }
        </style>

        <a href="#" id="link" on-click="_open" class$="[[_getClass()]]"><slot></slot></a><template is="dom-if" if="[[_isPersistent()]]"><paper-dialog id="dialog" dynamic-align no-overlap horizontal-align="left" vertical-align="top">
                <h2><slot name="title"></slot></h2>
                <paper-dialog-scrollable>
                    <slot name="alternate"></slot>
                </paper-dialog-scrollable>
                <div class="buttons">
                    <paper-button dialog-confirm="dialog-confirm" autofocus="autofocus">
                        Close
                    </paper-button>
                </div></paper-dialog></template><template is="dom-if" if="[[!_isPersistent()]]"><paper-tooltip for="link" position="bottom" fit-to-visible-bounds="fit-to-visible-bounds">
                <slot name="alternate"></slot>
            </paper-tooltip></template></template>

    <script>
        /**
         * `pb-popover`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/pb-popover.html
         * @appliesMixin PbMixin
         */
        class PbPopover extends PbMixin(Polymer.Element) {
            static get is() {
                return 'pb-popover';
            }

            static get properties() {
                return {
                    persistent:{
                        type: Boolean
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
                // this.persistent = false;
            }

            _isPersistent() {
                return this.persistent;
            }

            _getClass() {
                return this.persistent ? 'persistent' : '';
            }

            _open(ev) {
              ev.preventDefault();

              if (this.persistent) {
                  const dialog = this.shadowRoot.getElementById('dialog');
                  dialog.positionTarget = this.shadowRoot.getElementById('link');
                  dialog.open();
              }
            }

        }

        window.customElements.define(PbPopover.is, PbPopover);
    </script>
</dom-module>
