<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="pb-mixin.html">

<dom-module id="pb-panel">
    <template>
        <style>
            :host {
                display: block;
            }

            app-toolbar {
                padding: 0;
                justify-content: space-between;
            }

            ::slotted(div) {
                overflow: auto;
                max-height: calc(var(--pb-panel-max-height) - 72px);
            }

            app-toolbar {
                font-size: 75%;
            }
        </style>

        <app-toolbar>
            <paper-dropdown-menu id="menu" label="[[label]]">
                <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{active}}">
                    <template id="repeat" is="dom-repeat" items="[[panels]]">
                        <paper-item>[[item]]</paper-item>
                    </template>
                </paper-listbox>
            </paper-dropdown-menu>
            <slot name="toolbar"></slot>
        </app-toolbar>
        <slot></slot>
    </template>

    <script>
        /**
         * A container for different views. Only one view will be shown at a time.
         * Provides a dropdown for the user to switch between views. Views are
         * lazy loaded and should be provided as one or more `<template>` elements.
         * Each `<template>` may have a title attribute to specify the title to be shown
         * for it in the dropdown.
         *
         * @customElement
         * @appliesMixin PbMixin
         * @polymer
         * @demo demo/pb-grid.html
         */
        class PbPanel extends PbMixin(Polymer.Element) {
            static get is() {
                return 'pb-panel';
            }

            static get properties() {
                return {
                    /**
                     * the index of the active view
                     */
                    active: {
                        type: Number,
                        value: 0,
                        observer: '_update',
                        reflectToAttribute: true
                    },
                    /**
                     * the label displayed above the dropdown for selecting the view to show
                     */
                    label: {
                        type: String,
                        value: 'View'
                    },
                    /**
                     * a name for each available panel, to be displayed in the dropdown. If not set,
                     * each template will be checked for a title attribute, which will be taken as name.
                     */
                    panels: {
                        type: Array,
                        reflectToAttribute: true
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();

                if (!this.panels) {
                    const titles = [];
                    this.querySelectorAll('template').forEach(template => titles.push(template.title));
                    this.panels = titles;
                }
            }

            ready() {
                super.ready();
            }

            _update(newVal, oldVal) {
                this._show(oldVal != undefined);
            }

            _show(update) {
                const templates = this.querySelectorAll('template');
                if (this.active >= templates.length) {
                    this.active = templates.length - 1;
                }
                console.log('<pb-panel> showing panel %s', this.active);
                this.querySelectorAll('._pb_panel').forEach(div => div.style.display = 'none');
                const existingPanel = this.querySelector('._pb_panel' + this.active);
                if (existingPanel) {
                    existingPanel.style.display = '';
                } else {
                    const template = templates[this.active];
                    const clone = document.importNode(template.content, true);
                    const div = document.createElement('div');
                    div.className = '_pb_panel _pb_panel' + this.active;
                    div.appendChild(clone);
                    this.appendChild(div);

                    this.emitTo('pb-panel', {
                        panel: this,
                        active: this.active
                    });

                    if (update) {
                        this.refresh();
                    }
                }
            }

            refresh() {
                this.emitTo('pb-refresh', null);
            }
        }

        window.customElements.define(PbPanel.is, PbPanel);
    </script>
</dom-module>
