<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="pb-mixin.html">

<dom-module id="pb-restricted">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <template is="dom-if" if="{{show}}">
            <slot></slot>
        </template>
    </template>

    <script>
        /**
         * Show content if the user is logged in. Optionally requires the user
         * to be member of a specific group. Listens for the `pb-login` event
         * triggered by `pb-login` to be notified of user changes.
         *
         * @customElement
         * @polymer
         * @appliesMixin PbMixin
         */
        class PbRestricted extends PbMixin(Polymer.Element) {
            static get is() {
                return 'pb-restricted';
            }

            static get properties() {
                return {
                    /** Id of the pb-login element to connect to */
                    login: {
                        type: String
                    },
                    show: {
                        type: Boolean,
                        value: false
                    },
                    /**
                     * If set, requires the logged in user to be member of
                     * the given group.
                     */
                    group: {
                        type: String
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready() {
                super.ready();
                Polymer.RenderStatus.afterNextRender(this, () => {
                    const login = document.getElementById(this.login);
                    if (!login) {
                        console.error('<pb-restricted> connected pb-login element not found!');
                        return;
                    }
                    this.subscribeTo('pb-login', (ev) => {
                        this.show = this._loggedIn(ev.detail.user, ev.detail.groups);
                    }, []);
                    this.show = login.loggedIn && this._loggedIn(login.user, login.groups);
                });
            }

            _loggedIn(user, groups) {
                if (user == null) {
                    return false;
                }
                if (this.group) {
                    if (!groups) {
                        return false;
                    }
                    return groups.indexOf(this.group) > -1;
                }
                return true;
            }
        }

        window.customElements.define(PbRestricted.is, PbRestricted);
    </script>
</dom-module>
