<link rel="import" href="bower_components/polymer/polymer-element.html">
<!--
<link rel="import" href="bower_components/iron-icons/iron-icons.html">
<link rel="import" href="bower_components/iron-form/iron-form.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">
<link rel="import" href="bower_components/polymer/lib/utils/render-status.html">
-->

<dom-module id="pb-search">
    <template>
        <style>
            :host{
            }

            paper-input{
                --paper-input-container-input:{
                    color: var(--pb-search-input, --paper-black);
                    border: white;
                };
                --paper-input-container-label: {
                    color:var(--pb-search-label, --paper-grey-500);
                };
            }

        </style>
        <iron-form id="ironform" allow-redirect="[[redirect]]">
            <form id="searchPageForm" method="get" action="{{action}}" accept="text/html">
                <paper-input id="search" type="search" name="query" on-keyup="_handleEnter" label="[[placeHolder]]" no-label-float value="[[value]]">
                    <iron-icon icon="search" on-click="_doSearch" slot="prefix"></iron-icon>
                </paper-input>

                <slot></slot>
                <!--<input value="{{myValue::input}}" type="search" class="search-input" autocomplete="off" placeholder="[[placeHolder]]" name="query">-->
                <input type="hidden" name="doc" data-template="search:form-current-doc">
                <input type="hidden" name="field" value="text"/>
            </form>
        </iron-form>
    </template>
    <script>
        class PbSearch extends PbMixin(Polymer.Element) {
            static get is() {
                return 'pb-search';
            }

            static get properties() {
                return {
                    action:{
                        type: String,
                        reflectToAttribute:true
                    },
                    value:{
                        type:String,
                        reflectToAttribute:true
                    },
                    placeHolder: {
                        type: String,
                        reflectToAttribute:true
                    },
                    redirect: {
                        type: Boolean,
                        value: false
                    },
                    currentDoc: {
                        type: String
                    },
                    submitOnLoad: {
                        type: Boolean,
                        value: false
                    }
                }
            }

            connectedCallback() {
                super.connectedCallback();
                this.$.ironform.addEventListener('iron-form-response', (event) =>
                    event.detail.completes.then((r) => this.emitTo('pb-search', r.parseResponse()))
                );
            }

            ready() {
                super.ready();

                if (this.submitOnLoad) {
                    Polymer.RenderStatus.afterNextRender(this, () => this._doSearch());
                }
            }

            _doSearch(e){
                const json = this.$.ironform.serializeForm();
                // always start on first result after submitting new search
                json.start = 1;
                if (this.redirect) {
                    this._doSubmit();
                } else {
                    this.emitTo('pb-load', {
                        "url": this.action,
                        "params": json
                    });
                }
            }

            _handleEnter(e){
                if(this.$.search.value.length != 0 && e.keyCode == 13){
                    this._doSearch();
                }
            }

            _doSubmit(){
                this.$.ironform.submit();
            }
        }

        window.customElements.define(PbSearch.is, PbSearch);
    </script>
</dom-module>
