<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.0/dist/svg-pan-zoom.min.js"></script>

<dom-module id="pb-svg">
    <template>
        <style>
            :host {
                display: block;
            }

            #image {
                width: 100%;
                height: var(--pb-svg-height, 500px);
            }
        </style>

        <object id="image" data="[[url]]" type="image/svg+xml">
    </template>

    <script>
        /**
         * Show an SVG image with zoom and pan functionality. The image URL may
         * either be specified via the `url` property or an `pb-show-annotation` event
         * sent to this component.
         *
         * ## CSS Mixins
         *
         * | Custom property | Description | Default|
         * | ----------------|-------------|--------|
         * |--pb-svg-height | Desired height of the SVG image | 500px |
         *
         * @customElement
         * @polymer
         * @appliesMixin PbMixin
         */
        class PbSvg extends PbMixin(Polymer.Element) {
            static get is() {
                return 'pb-svg';
            }

            static get properties() {
                return {
                    /** The URL to load the SVG image from */
                    url: {
                        type: String
                    },
                    _pan: {
                        type: Object
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();

                this.$.image.addEventListener('load', () => {
                    if (this._pan) {
                        svgPanZoom(this.$.image).destroy();
                    }
                    this._pan =
                        svgPanZoom(this.$.image, {
                            controlIconsEnabled: true,
                            center: true
                        });
                });

                this.subscribeTo('pb-show-annotation', (ev) => {
                    console.log('<pb-svg> loading %s', ev.detail.file);
                    this.url = ev.detail.file;
                });
            }
        }

        window.customElements.define(PbSvg.is, PbSvg);
    </script>
</dom-module>
