<link rel="import" href="bower_components/polymer/polymer-element.html">
<!--
<link rel="import" href="bower_components/paper-checkbox/paper-checkbox.html">
-->
<dom-module id="pb-switch-text-view">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <paper-checkbox checked="{{checked}}"><slot></slot></paper-checkbox>
    </template>

    <script>
        /**
         * `pb-switch-text-view`
         *
         * todo: unused
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PbSwitchTextView extends PbMixin(Polymer.Element) {
            static get is() {
                return 'pb-switch-text-view';
            }

            static get properties() {
                return {
                    checked: {
                        type: String,
                        observer: '_changed',
                        value: false
                    },
                    selector: {
                        type: String
                    },
                    target: {
                        type: String
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready(){
                super.ready();
            }

            _changed(newVal, oldVal) {
                if (typeof oldVal !== 'undefined' && newVal !== oldVal) {
                    this.emitTo('pb-toggle', {
                        selector: this.selector,
                        state: this.checked
                    });
                }
            }

        }

        window.customElements.define(PbSwitchTextView.is, PbSwitchTextView);
    </script>
</dom-module>
