<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="pb-mixin.html">

<dom-module id="pb-select-feature">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <paper-dropdown-menu label="[[label]]">
            <paper-listbox id="list" slot="dropdown-content" selected="{{selected}}" attr-for-selected="value">
                <template id="repeat" is="dom-repeat" items="[[_items]]">
                    <paper-item value$="[[item.value]]">[[item.label]]</paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>
    </template>

    <script>
        /**
         * Choose a particular display feature by setting a custom parameter
         * which will be passed to the ODD by `pb-view`. This is similar to `pb-toggle-feature`,
         * except that it allows the value to be selected from a drop down list.
         *
         * For example, the following snippet would result in a custom parameter called `lang` with
         * either a value of `en` or `fr`. Within processing model predicates it could be queried as
         * `$parameters?lang='fr'`.
         *
         * ```
         * <pb-select-feature name="tlang" label="Language" emit="translation" subscribe="translation">
         *    <pb-item value="en">English</pb-item>
         *    <pb-item value="fr">French</pb-item>
         * </pb-select-feature>
         * ```
         *
         * Unlike `pb-toggle-feature`, this component does not allow changing additional properties (e.g. the ODD) on the
         * `pb-view`.
         *
         * @customElement
         * @polymer
         * @demo demo/pb-toggle-feature.html
         * @appliesMixin PbMixin
         */
        class PbSelectFeature extends PbMixin(Polymer.Element) {
            static get is() {
                return 'pb-select-feature';
            }

            static get properties() {
                return {
                    /**
                     * The name of the feature (required). This will correspond to the name of the custom parameter
                     * passed to the ODD.
                     */
                    name: {
                        type: String
                    },
                    /**
                     * The label to display on top of the drop down
                     */
                    label: {
                        type: String
                    },
                    selected: {
                        type: String,
                        observer: '_changed'
                    },
                    /**
                     * If set to true (default), `pb-toggle-feature` will pass its properties to the
                     * connected view before this loads content for the first time. If false,
                     * `pb-toggle-feature` will initialize its state depending on the setting of the view.
                     * This only makes sense for the special properties 'view' and 'odd' though.
                     */
                    initFromView: {
                        type: Boolean,
                        value: false
                    },
                    _items: {
                        type: Array
                    }
                };
            }

            constructor() {
                super();
                this.initializing = true;
            }

            connectedCallback() {
                super.connectedCallback();

                if (!this.name) {
                    console.log('<pb-select-feature> missing name: %o', this);
                    return;
                }

                this._items = [];
                this.querySelectorAll('pb-item').forEach(function(item) {
                    this._items.push({
                        value: item.getAttribute('value'),
                        label: item.innerHTML
                    });
                }.bind(this));

                if (this.initFromView) {
                    this.subscribeTo('pb-update', this._initialize.bind(this));
                } else {
                    let param = this.getParameter(this.name);
                    if (typeof param !== 'undefined') {
                        this.selected = param;
                    } else {
                        this.selected = this._items[0].value;
                    }
                    this.waitForChannel(() => {
                        const props = {};
                        props[this.name] = this.selected;
                        const params = {
                            properties: props,
                            action: 'init'
                        };
                        this.emitTo('pb-toggle', params);
                        this.initializing = false;
                    });
                }
                this.signalReady();
            }

            _initialize(ev) {
                if (!this.initializing) {
                    return;
                }
                switch (this.name) {
                    case 'view':
                        this.selected = ev.detail.data.view;
                        break;
                    case 'odd':
                        this.selected = ev.detail.data.odd;
                        break;
                }
                this.initializing = false;
            }

            _changed(newVal, oldVal) {
                if (this.initializing || !this.name) {
                    return;
                }
                this.setParameter(this.name, this.selected);
                this.pushHistory('toggle feature ' + this.name);

                const props = {};
                props[this.name] = this.selected;
                const params = {
                    action: 'refresh',
                    properties: props
                };
                this.emitTo('pb-toggle', params);
            }
        }

        window.customElements.define(PbSelectFeature.is, PbSelectFeature);
    </script>
</dom-module>
