<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="pb-mixin.html">

<dom-module id="pb-toggle-feature">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <paper-checkbox checked="{{checked}}"><slot></slot></paper-checkbox>
    </template>

    <script>
        /**
         * Enable or disable a particular display feature by setting a predefined or custom parameter.
         *
         * Predefined view parameters known are
         *
         * | Parameter | Description |
         * | ----------------|-------------|
         * | odd | the ODD to use |
         * | view | the view type: 'page', 'div' or 'single' |
         * | columnSeparator | CSS selector to find elements to use as column separator |
         * | xpath | XPath expression to select the fragment to render |
         *
         * For example, one may switch between page-by-page and by-division view using
         *
         * ```
         * <pb-toggle-feature emit="transcription" name="view" on="page" off="div">Page View</pb-toggle-feature>
         * ```
         *
         * It is also possible to set custom parameters, which will be passed to the ODD as user-defined parameters.
         * This can be used e.g. to implement different views on the text, e.g. a 'diplomatic' and a 'normalized' mode. Both
         * views would be backed by the same ODD and processing model, while the passed in parameter
         * can be used to distinguish the modes.
         *
         * For example, the following snippet would result in a custom parameter called `mode` with
         * either a value of `dipl` or `norm`. Within processing model predicates it could be queried as
         * `$parameters?mode='norm'` to check if the normalized version should be output.
         *
         * ```
         * <pb-toggle-feature name="mode" on="diplomatic" off="norm">Diplomatic View</pb-toggle-feature>
         * ```
         *
         * Besides setting a single parameter, you may also set multiple
         * properties on the target `pb-view` via the `properties-on` and `properties-off`
         * attributes (as an alternative to `on` and `off`). For example, in 'on' state, you may
         * want to use a different ODD and switch the view to 'page' at the same time:
         *
         * ```
         * <pb-toggle-feature properties-on='{"odd": "myodd", "view": "page"}' properties-off='{"odd": "myodd-diplomatic", "view": "div"}'>
         *     Diplomatic View
         * </pb-toggle-feature>
         * ```
         *
         * It is important that `pb-toggle-feature` emits and subscribes to the same channel as the target `pb-view`.
         * **Note**: by default `pb-toggle-feature` will pass its properties to the connected `pb-view` before
         * this loads content for the first time.
         *
         * @customElement
         * @polymer
         * @demo demo/pb-toggle-feature.html
         * @appliesMixin PbMixin
         */
        class PbToggleFeature extends PbMixin(Polymer.Element) {
            static get is() {
                return 'pb-toggle-feature';
            }

            static get properties() {
                return {
                    /**
                     * The name of the feature (required). This will correspond to the name of the custom parameter
                     * passed to the ODD.
                     */
                    name: {
                        type: String
                    },
                    /**
                     * Value to set the parameter to when the feature is enabled.
                     */
                    on: {
                        type: String,
                        observer: '_valueOnChanged'
                    },
                    /**
                     * Value to set the parameter to when the feature is disabled.
                     */
                    off: {
                        type: String,
                        observer: '_valueOffChanged'
                    },
                    /**
                     * The default setting: either 'on' or 'off'
                     */
                    default: {
                        type: String,
                        value: 'on'
                    },
                    /**
                     * Additional properties to set on the pb-view if toggle is in 'on' state.
                     * Possible properties are 'view', 'odd' and 'columnSeparator'.
                     */
                    propertiesOn: {
                        type: Object,
                        value: {}
                    },
                    /**
                     * Additional properties to set on the pb-view if toggle is in 'off' state.
                     * Possible properties are 'view', 'odd' and 'columnSeparator'.
                     */
                    propertiesOff: {
                        type: Object,
                        value: {}
                    },
                    checked: {
                        type: Boolean,
                        observer: '_changed'
                    },
                    /**
                     * If set to true (default), `pb-toggle-feature` will pass its properties to the
                     * connected view before this loads content for the first time. If false,
                     * `pb-toggle-feature` will initialize its state depending on the setting of the view.
                     * This only makes sense for the special properties 'view' and 'odd' though.
                     */
                    initFromView: {
                        type: Boolean,
                        value: false
                    }
                };
            }

            constructor() {
                super();
                this.initializing = true;
            }

            connectedCallback() {
                super.connectedCallback();

                if (this.initFromView) {
                    this.subscribeTo('pb-update', this._initialize.bind(this));
                } else {
                    let param = this.getParameter(this.name);
                    if (typeof param !== 'undefined') {
                        this.checked = param === this.on;
                    } else {
                        this.checked = this.default === 'on';
                    }
                    this.waitForChannel(() => {
                        const params = {
                            properties: this.checked ? this.propertiesOn : this.propertiesOff,
                            action: 'init'
                        };
                        this.emitTo('pb-toggle', params);
                        this.initializing = false;
                    });
                }
                this.signalReady();
            }

            _initialize(ev) {
                if (!this.initializing) {
                    return;
                }
                switch (this.name) {
                    case 'view':
                        this.checked = ev.detail.data.view === this.on;
                        break;
                    case 'odd':
                        this.checked = ev.detail.data.odd === this.on;
                        break;
                }
                this.initializing = false;
            }

            _changed() {
                if (this.initializing) {
                    return;
                }
                this.setParameter(this.name, this.checked ? this.on : this.off);
                this.pushHistory('toggle feature ' + this.name);

                const params = {
                    properties: this.checked ? this.propertiesOn : this.propertiesOff,
                    action: 'refresh'
                };
                this.emitTo('pb-toggle', params);
            }

            _valueOnChanged(newVal, oldVal) {
                this.propertiesOn[this.name] = newVal;
            }

            _valueOffChanged(newVal, oldVal) {
                this.propertiesOff[this.name] = newVal;
            }
        }

        window.customElements.define(PbToggleFeature.is, PbToggleFeature);
    </script>
</dom-module>
