<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="pb-mixin.html">

<dom-module id="pb-toggle-feature">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <paper-checkbox checked="{{checked}}"><slot></slot></paper-checkbox>
    </template>

    <script>
        /**
         * Enable or disable a particular display feature by setting a custom parameter
         * which will be passed to the ODD by `pb-view`. This can be used to implement
         * different views on the text, e.g. a 'diplomatic' and a 'normalized' mode. Both
         * views would be backed by the same ODD and processing model, while the passed in parameter
         * can be used to distinguish the modes.
         *
         * For example, the following snippet would result in a custom parameter called `mode` with
         * either a value of `dipl` or `norm`. Within processing model predicates it could be queried as
         * `$parameters?mode='norm'` to check if the normalized version should be output.
         *
         * ```
         * <pb-toggle-feature name="mode" on="diplomatic" off="norm">Diplomatic View</pb-toggle-feature>
         * ```
         *
         * @customElement
         * @polymer
         * @demo demo/pb-toggle-feature.html
         * @appliesMixin PbMixin
         */
        class PbToggleFeature extends PbMixin(Polymer.Element) {
            static get is() {
                return 'pb-toggle-feature';
            }

            static get properties() {
                return {
                    /**
                     * The name of the feature (required). This will correspond to the name of the custom parameter
                     * passed to the ODD.
                     */
                    name: {
                        type: String
                    },
                    /**
                     * Value to set the parameter to when the feature is enabled.
                     */
                    on: {
                        type: String
                    },
                    /**
                     * Value to set the parameter to when the feature is disabled.
                     */
                    off: {
                        type: String
                    },
                    checked: {
                        type: Boolean,
                        observer: '_changed',
                        value: true
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();

                if (!this.name) {
                    console.log('<pb-toggle-feature> missing name: %o', this);
                    return;
                }
                let param = this.getParameter(this.name);
                if (typeof param !== 'undefined' && param === 'false') {
                    this.checked = false;
                }
            }

            _changed(newVal, oldVal) {
                if (typeof oldVal !== 'undefined' && newVal !== oldVal) {
                    if (!this.name) {
                        return;
                    }
                    this.setParameter(this.name, this.checked);
                    this.pushHistory('toggle feature ' + this.name);

                    const params = {
                        name: this.name,
                        state: this.checked,
                        value: this.checked ? this.on : this.off
                    };
                    this.emitTo('pb-toggle', params);
                }
            }
        }

        window.customElements.define(PbToggleFeature.is, PbToggleFeature);
    </script>
</dom-module>
