<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">

<dom-module id="pb-view">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <div id="view">
            <div id="content"></div>
        </div>

        <iron-ajax
            id="loadContent"
            verbose
            handle-as="json"
            method="get"
            on-response="_handleContent"></iron-ajax>
    </template>

    <script>
        /**
         * `pb-view`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PbView extends Polymer.Element {
            static get is() {
                return 'pb-view';
            }

            static get properties() {
                return {
                    src: {
                        type: String
                    },
                    odd: {
                        type: String,
                        value: 'teipublisher'
                    },
                    view: {
                        type: String,
                        value: 'single'
                    },
                    start: {
                        type: String
                    },
                    xpath: {
                        type: String
                    },
                    content: {
                        type: String
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
                const self = this;
                const srcComponent = document.getElementById(this.src);

                srcComponent.addEventListener('update', function(e) {
                    console.log('update %o', e.detail.path);
                    this._load();
                });
            }

            ready(){
                super.ready();
                this.content = "ready";
                this.$.loadContent.url = this.importPath + '../modules/lib/components.xql';

                var link = document.createElement('link');
                link.setAttribute('rel', 'stylesheet');
                link.setAttribute('type', 'text/css');
                link.setAttribute('href', this.importPath + '../transform/' + this.odd + '.css' );

                this.$.view.appendChild(link);

                this._load(this.start);
            }

            _load(root) {
                const srcComponent = document.getElementById(this.src);
                const path = srcComponent.path;

                let params = {
                    "doc": path,
                    "odd": this.odd + '.odd',
                    "view": this.view
                };
                if (root) {
                    params.root = root;
                }
                if (this.xpath) {
                    params.xpath = this.xpath;
                }
                this._getParameters(params);
                this.$.loadContent.params = params;
                this.$.loadContent.generateRequest();
            }

            _handleContent() {
                const resp = this.$.loadContent.lastResponse;
                this.$.content.innerHTML = resp.content;
                this.next = resp.next;
                this.previous = resp.previous;
            }

            _getParameters(params) {
                this.querySelectorAll('pb-param').forEach(function(param) {
                    params['user.' + param.getAttribute('name')] = param.getAttribute('value');
                });
                return params;
            }
            
            navigate(direction) {
                console.log('navigate %s: %s', direction, this.next);
                this._load(this.next);
            }
            
            zoom(direction) {
                const fontSize = window.getComputedStyle(this.$.content).getPropertyValue('font-size');
                const size = parseInt(fontSize.replace(/^(\d+)px/, "$1"));
                
                if (direction === 'in') {
                    this.$.content.style.fontSize = (size + 1) + 'px';
                } else {
                    this.$.content.style.fontSize = (size - 1) + 'px';
                }
            }
        }

        window.customElements.define(PbView.is, PbView);
    </script>
</dom-module>
