<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">

<dom-module id="pb-view">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <div id="view">
            <div id="content"></div>
        </div>

        <iron-ajax
            id="loadContent"
            url="modules/lib/components.xql"
            verbose
            handle-as="json"
            method="get"
            on-response="_handleContent"></iron-ajax>
    </template>

    <script>
        /**
         * `pb-view`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PbView extends Polymer.Element {
            static get is() {
                return 'pb-view';
            }

            static get properties() {
                return {
                    src: {
                        type: String
                    },
                    odd: {
                        type: String,
                        reflectToAttribute: true
                    },
                    view: {
                        type: String,
                        reflectToAttribute: true
                    },
                    nodeId: {
                        type: String,
                        reflectToAttribute: true
                    },
                    xpath: {
                        type: String,
                        reflectToAttribute: true
                    }
                };
            }

            static get observers() {
              return [
                '_changed(src,odd,view,nodeId,xpath)'
              ]
            }

            constructor() {
                super();
            }

            connectedCallback() {
                super.connectedCallback();

                this.getDocument().addEventListener('update', function(e) {
                    console.log('update %o', e.detail.path);
                    this._refresh();
                });
            }

            ready() {
                super.ready();
            }

            getDocument() {
                return document.getElementById(this.src);
            }
            
            getOdd() {
                return this.odd || this.getDocument().odd || "teipublisher";
            }
            
            getView() {
                return this.view || this.getDocument().view || "single";
            }
            
            _changed(src, odd, view, nodeId, xpath) {
                this._refresh();
            }

            _refresh() {
                this._updateStyles();
                this._load(this.nodeId);
            }

            _load(pos) {
                this.dispatchEvent(new CustomEvent('startUpdate'));
                
                const path = this.getDocument().path;

                let params = {
                    "doc": path,
                    "odd": this.getOdd() + '.odd',
                    "view": this.getView()
                };
                if (pos) {
                    params['root'] = pos;
                }
                if (this.xpath) {
                    params.xpath = this.xpath;
                }
                this._getParameters(params);
                this.$.loadContent.params = params;
                this.$.loadContent.generateRequest();
            }

            _updateStyles() {
                const oldLink = this.$.view.querySelector("link");
                if (oldLink) {
                    oldLink.parentNode.removeChild(oldLink);
                }
                const link = document.createElement('link');
                link.setAttribute('rel', 'stylesheet');
                link.setAttribute('type', 'text/css');
                link.setAttribute('href', 'transform/' + this.getOdd() + '.css' );

                this.$.view.appendChild(link);
            }

            _handleContent() {
                const resp = this.$.loadContent.lastResponse;
                this.$.content.innerHTML = resp.content;
                this.next = resp.next;
                this.previous = resp.previous;
                this.nodeId = resp.root;

                this.dispatchEvent(new CustomEvent('update', {detail: {data: resp}}));
            }

            _getParameters(params) {
                this.querySelectorAll('pb-param').forEach(function(param) {
                    params['user.' + param.getAttribute('name')] = param.getAttribute('value');
                });
                return params;
            }

            navigate(direction) {
                if (direction === 'backward') {
                    this._load(this.previous);
                } else {
                    this._load(this.next);
                }
            }

            zoom(direction) {
                const fontSize = window.getComputedStyle(this.$.content).getPropertyValue('font-size');
                const size = parseInt(fontSize.replace(/^(\d+)px/, "$1"));

                if (direction === 'in') {
                    this.$.content.style.fontSize = (size + 1) + 'px';
                } else {
                    this.$.content.style.fontSize = (size - 1) + 'px';
                }
            }
        }

        window.customElements.define(PbView.is, PbView);
    </script>
</dom-module>
