<link rel="import" href="bower_components/polymer/polymer-element.html">

<dom-module id="pb-zoom">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <paper-icon-button icon="{{icon}}" on-click="_handleClick"></paper-icon-button>
    </template>

    <script>
        /**
         * `pb-zoom`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PbZoom extends Polymer.Element {
            static get is() {
                return 'pb-zoom';
            }

            static get properties() {
                return {
                    icon:{
                        type: String,
                        value: "icons:zoom-in"
                    },
                    target: {
                        type: String
                    },
                    direction: {
                        type: String,
                        value: 'next'
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }

            ready(){
                super.ready();
            }

            _handleClick() {
                document.querySelectorAll(this.target).forEach(function(elem) {
                    elem.zoom(this.direction);
                }.bind(this));
            }
        }

        window.customElements.define(PbZoom.is, PbZoom);
    </script>
</dom-module>
