<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="pb-mixin.html">

<dom-module id="seed-element">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <slot></slot>
    </template>

    <script>
        /**
         * `seed-element`
         *
         *
         * @customElement
         * @polymer
         * @demo demo/seed-element.html
         * @appliesMixin PbMixin
         */
        class SeedElement extends PbMixin(Polymer.Element) {
            static get is() {
                return 'seed-element';
            }

            static get properties() {
                return {
                    prop1:{
                        type: String
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
            }


        }

        window.customElements.define(SeedElement.is, SeedElement);
    </script>
</dom-module>
