.persName {
    font-style: italic;
}

.orgName {
    font-style: italic;
}

.placeName {
    font-variant: small-caps;
}

.term {
    color: #3a86ff;
    font-style: italic;
}

.date {
    font-weight: bolder;
}