.person {
    font-style: italic;
}

.organisation {
    font-style: italic;
}

.place {
    font-variant: small-caps;
}

.term {
    color: #3a86ff;
    font-style: italic;
}

.date {
    font-weight: bolder;
}