h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", Verdana, "Helvetica", sans-serif;
    line-height: 1.2;
    font-weight: 400;
}

h1 {
    font-size: 2.488em;
}

h2 {
    font-size: 2.074em;
}

h3 {
    font-size: 1.728em;
}

h4 {
    font-size: 1.44em;
}

h5 {
    font-size: 1.2em;
}

figure {
    text-align: center;
    margin: 24px 0;
    padding: 16px 0;
    border-top: 1px solid #d6d7d9;
    border-bottom: 1px solid #d6d7d9;
}

figure img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}

figcaption {
    margin-top: .5em;
    text-align: right;
}

dt {
    font-weight: 500;
}

.tei-procedure li>p {
    margin-bottom: 1em;
    margin-top: 1em;
}

li>p, dd>p {
    margin-top: 0;
    margin-bottom: 0;
}

dd {
    margin-bottom: .5em;
}

.code {
    font-family: "Ubuntu Mono", Menlo, Consolas, Courier, monospace;
    font-size: 85%;
}

.note {
    margin: 16px 14px 20px 10px;
    padding: 12px 16px 12px 16px;
    font-size: .85em;
    box-shadow: 3px 4px 10px #00000052
}

.note h4 {
    margin-top: 0;
    margin-bottom: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: #d07f00;
}

.guibutton {
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6);
}

pb-edit-xml {
    --iron-icon-height: 16px;
    vertical-align: top;
    cursor: pointer;
    color: #d07f00;
}

pb-code-highlight {
    font-size: .85em;
}