.content, .footnotes {
    font-family: 'Roboto', 'Noto', sans-serif;
}
.footnotes {
    font-size: 85%;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}
h1 {
    font-family: "Oswald",Verdana,"Helvetica", sans-serif; 
    font-size: 42px; 
    font-weight: 400; 
    line-height: 1.2;
    color: #5572C0;
}
h2 {
    font-family: "Oswald",Verdana,"Helvetica",sans-serif; 
    font-size: 26px; 
    font-weight: 400;
    background-color: #5572C0;
    color: white;
    padding: .5em .25em;
}
h3 {
    font-family: "Oswald",Verdana,"Helvetica",sans-serif;
    font-weight: 400;
    background-color: #DAE1F2;
    padding: .5em .25em;
}
h4 {
    font-family: "Oswald",Verdana,"Helvetica",sans-serif;
    font-weight: 400;
    color: #2C3962;
    text-transform: uppercase;
    border-top: 1px solid #2C3962;
    padding-top: .25em;
}
.b {
    font-weight: bold;
}
.i {
    font-style: italic;
}
.u {
    text-decoration: underline;
}
.strike {
    text-decoration: line-through;
}