h2, h3, h4 {
    margin-bottom: 0;
    text-align: center;
}

p {
    text-indent: 2rem;
}

p * {
    text-indent: 0;
}

.sig {
    text-align: center;
}

.catch {
    float: right;
}

@media print {

    @page:left {
        margin-left: 3cm;
        margin-right: 2cm;

        @top-left {
            content: string(runningHead);
            font-family: var(--pb-heading-font-family);
        }

        @bottom-left-corner {
            content: counter(page);
            font-family: var(--pb-heading-font-family);
        }
    }

    @page:right {
        margin-left: 2cm;
        margin-right: 3cm;

        @top-right {
            content: string(runningHead);
            font-family: var(--pb-heading-font-family);
        }

        @bottom-right-corner {
            content: counter(page);
            font-family: var(--pb-heading-font-family);
        }
    }

    .running {
        string-set: runningHead content(text);
        display: none;
    }

    section {
        break-before: page;
    }

   
}