

	.choice-alternate {
		display: none;
	}

	.choice-alternate.toggle {
		display: inline;
	}

	.choice.toggle {
	display: none;
	}

    .lb.toggle {
        display: none;
    }

	.lb-hyphen.toggle {
        display: none;
    }