<div data-template="app:list-works">
    <ul class="documents" data-template="app:browse" data-template-per-page="20">
        <li>
            <div data-template="app:short-header"/>
            <div class="btn-group toolbar">
                <div class="btn-group hidden-xs">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons">print</i>
                        <span class="hidden-xs">PDF</span>
                        <span class="caret"/>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="download-link" data-template="app:download-link" data-template-type="pdf" title="Download as PDF">PDF (FO Version)</a>
                        </li>
                        <li data-template="app:show-if-logged-in">
                            <a target="_blank" data-template="app:download-link" data-template-type="pdf" data-template-source="true">
                                FO Source
                            </a>
                        </li>
                        <li>
                            <a class="download-link" data-template="app:download-link" data-template-type="tex" title="Download as PDF">PDF (LaTeX Version)</a>
                        </li>
                        <li data-template="app:show-if-logged-in">
                            <a target="_blank" data-template="app:download-link" data-template-type="tex" data-template-source="true">
                                TeX Source
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-default hidden-xs download-link" data-template="app:download-link" data-template-type="epub" title="Download as epub ebook">
                    <i class="material-icons">book</i>
                </a>
                <a class="btn btn-default" data-template="pages:xml-link" title="View TEI XML">
                    <i class="material-icons">code</i>
                </a>
            </div>
            <br class="clear"/>
        </li>
        <li class="empty">Please login to upload some documents!</li>
    </ul>
</div>