<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" data-template="pages:app-root">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css"/>
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-material-design.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/ripples.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/animate.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/jasny-bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" data-template="pages:styles"/>
        <script type="text/javascript" src="resources/scripts/jquery-1.11.3.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="resources/scripts/bootstrap.min.js"/>
        <script type="text/javascript" src="resources/scripts/material.min.js"/>
        <script type="text/javascript" src="resources/scripts/ripples.min.js"/>
        <script type="text/javascript" src="resources/scripts/jquery.touchSwipe.min.js"/>
        <script type="text/javascript" src="resources/scripts/bootstrap3-typeahead.min.js"/>
        <script type="text/javascript" src="resources/scripts/jquery.fs.macaroon.min.js"/>
        <script type="text/javascript" src="resources/scripts/jasny-bootstrap.min.js"/>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".note").popover({
                    html: true,
                    trigger: "hover"
                });
                $.material.init();
            });
        </script>
        <script type="text/javascript" src="resources/scripts/app.js"/>
    </head>
    <body>
        <div data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content" data-template-using="body">
            <div data-template="templates:include" data-template-path="templates/menu.html"/>
            <div id="main-container" data-template="pages:load" class="container-fluid">
                <div class="row">
                    <aside id="sidebar" class="hidden-xs col-md-3 toc offcanvas">
                        <h3>Contents</h3>
                        <div data-template="pages:table-of-contents"/>
                    </aside>
                    <div id="right-panel" class="col-md-12 col-xs-12">
                        <div class="container-fluid">
                            <div class="row actions-row">
                                <div class="col-md-11 col-md-offset-1">
                                    <div class="btn-toolbar actions">
                                        <div class="btn-group" role="group">
                                            <a class="btn btn-default" data-template="pages:back-link" title="Back to index page">
                                                <i class="material-icons">home</i>
                                            </a>
                                            <div class="btn-group hidden-xs">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="material-icons">print</i>
                                                    <span class="hidden-xs">PDF</span>
                                                    <span class="caret"/>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a class="download-link" data-template="app:download-link" data-template-type="pdf">PDF (FO Version)</a>
                                                    </li>
                                                    <li data-template="app:show-if-logged-in">
                                                        <a target="_blank" data-template="app:download-link" data-template-type="pdf" data-template-source="true">
                                                            FO Source
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="download-link" data-template="app:download-link" data-template-type="tex">PDF (LaTeX Version)</a>
                                                    </li>
                                                    <li data-template="app:show-if-logged-in">
                                                        <a target="_blank" data-template="app:download-link" data-template-type="tex" data-template-source="true">
                                                            TeX Source
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a class="btn btn-default hidden-xs download-link" data-template="app:download-link" data-template-type="epub" title="Download as epub ebook">
                                                <i class="material-icons">book</i>
                                                <span class="hidden-xs">ePUB</span>
                                            </a>
                                            <a class="btn btn-default hidden-xs" data-template="pages:xml-link">
                                                <i class="material-icons">code</i>
                                                <span class="hidden-xs">XML</span>
                                            </a><!--a target="_new" class="btn btn-default hidden-xs" data-template="pages:single-page-link" title="View plain HTML on a single page">
                                                <i class="material-icons">swap_vert</i>
                                                <span class="hidden-xs">Plain</span>
                                            </a-->
                                        </div>
                                        <div class="btn-group" role="group">
                                            <a class="btn btn-default" href="#" id="zoom-in">
                                                <i class="material-icons">zoom_in</i>
                                            </a>
                                            <a class="btn btn-default" href="#" id="zoom-out">
                                                <i class="material-icons">zoom_out</i>
                                            </a>
                                            <a class="btn btn-default" id="switch-view" data-template="pages:switch-view" title="Switch between page and division view">
                                                <i class="material-icons">import_contacts</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" data-template="pages:navigation">
                                <div class="col-md-1 hidden-sm hidden-xs">
                                    <a class="btn btn-primary btn-fab toc-toggle" data-toggle="offcanvas" data-target="#sidebar" data-canvas="#main-container">
                                        <i class="material-icons">view_list</i>
                                    </a>
                                    <a data-template="pages:navigation-link" data-template-direction="previous" class="nav-prev page-nav btn btn-primary btn-fab">
                                        <i class="material-icons">navigate_before</i>
                                    </a>
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <div class="navigation-top row">
                                        <div class="hidden-md hidden-lg btn-group-sm">
                                            <a data-template="pages:navigation-link" data-template-direction="previous" class="nav-prev page-nav btn btn-primary btn-fab">
                                                <i class="material-icons">navigate_before</i>
                                            </a>
                                        </div>
                                        <div class="hidden-xs hidden-sm col-md-12 col-lg-12 col-title">
                                            <h5 data-template="pages:navigation-title"/>
                                        </div>
                                        <div class="hidden-md hidden-lg btn-group-sm">
                                            <a data-template="pages:navigation-link" data-template-direction="next" class="nav-next page-nav btn btn-primary btn-fab">
                                                <i class="material-icons">navigate_next</i>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="content-inner">
                                        <div id="content-container">
                                            <div data-template="pages:view" class="content"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 hidden-sm hidden-xs">
                                    <a data-template="pages:navigation-link" data-template-direction="next" class="nav-next page-nav btn btn-primary btn-fab">
                                        <i class="material-icons">navigate_next</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="pdf-info">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span class="fa fa-times" aria-hidden="true"/>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Generating File...</h4>
                    </div>
                    <div class="modal-body">
                        <p>Generating a file for download may take up to a few minutes. Please wait.</p>
                        <p>This dialog should close automatically when the download has completed.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="glyphicon glyphicon-remove"/> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>