<html>
    <head>
        <meta charset="utf-8"/>
        <title>TEI Publisher API Documentation</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@4.18.1/swagger-ui.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@4.18.1/swagger-ui-bundle.min.js" charset="UTF-8"></script>
    </head>
    <body>
        <div id="swagger"></div>
        <div id="custom"></div>
        <script>
            window.onload = function() {
                SwaggerUIBundle({
                    url: "modules/lib/api.json",
                    dom_id: '#swagger',
                    displayOperationId: true,
                    displayRequestDuration: true,
                    showExtensions: true,
                    withCredentials: true
                });

                SwaggerUIBundle({
                    url: "modules/custom-api.json",
                    dom_id: '#custom',
                    displayOperationId: true,
                    displayRequestDuration: true,
                    showExtensions: true,
                    withCredentials: true
                });
            }
        </script>
    </body>
</html>