<fx-fore>
    <fx-action  event="pb-authority-lookup" target="#document">
        <fx-setvalue ref="instance('i-default')/type" value="event('type')"></fx-setvalue>
    </fx-action>
    <fx-load event="authority-done" attach-to="#authority-editor" target="#document">
        <template><div></div></template>
    </fx-load>
    <fx-model>
        <fx-instance id="i-default">
            <data>
                <type></type>
            </data>
        </fx-instance>
    </fx-model>
    <fx-trigger>
        <iron-icon icon="add"></iron-icon>
        <fx-load url="templates/{type}-editor.html" attach-to="#authority-editor"></fx-load>
    </fx-trigger>
    <section id="authority-editor"></section>
</fx-fore>
