<section id="bottom" class="section-dark">
        <div class="center-l">
            <ul class="link-group">
                <li><a href="https://www.e-editiones.org/pages/imprint">Imprint</a></li>
                <li><a href="https://www.e-editiones.org/pages/gdpr">Data Protection</a></li>
                <li><a href="https://www.e-editiones.org/pages/get-in-touch/">Contact</a></li>
                <li><a href="https://www.e-editiones.org/"><pb-i18n key="menu.news"/></a></li>
            </ul>
            <ul class="link-group">
                <li><a href="doc/quickstart.xml"><pb-i18n key="menu.quickstart"/></a></li>
                <li><a href="doc/documentation.xml">Reference Guide</a></li>
                <li><a href="https://faq.teipublisher.com/">FAQ</a></li>
                <li><a href="https://github.com/eeditiones/jinks">Source</a></li>
                <li><a href="https://github.com/eeditiones/jinks/issues">Issues</a></li>
            </ul>
            <div>
                <p>
                    This page features a number of stock images from Unsplash and Pexels, used for illustrative purposes.
                </p>
                <p>
                Work on TEI Publisher 10 and Jinks has been partly financed by generous contributions of the Jagiellonian University in Cracow, 
                 Office of the Historian, US Department of State, Polish Academy of Sciences and many other. Major contributions 
                 come from volunteer open source developers and e-editiones non-profit scholarly community. Please consider 
                 supporting the project
                 and becoming institutional or individual member of e-editiones.
                </p>
            </div>
        </div>
    </section>