<div>
            <paper-item>
                <a href="${app}/documentation" data-template="pages:parse-params">
                    <pb-i18n key="menu.documentation">Documentation</pb-i18n>
                </a>
            </paper-item>
            <paper-item>
                <a href="https://faq.teipublisher.com/">FAQ</a>
            </paper-item>
            <paper-item>
                <a href="https://cdn.tei-publisher.com/" target="_blank">Webcomponents API</a>
            </paper-item>
            <paper-item>
                <a href="${app}/api.html" data-template="pages:parse-params" target="_blank">TEI Publisher API</a>
            </paper-item>
</div>