<div data-template="browse:is-writeable" class="collection">
    <div data-template="browse:dispatch-action"/>
    <div>
        <paper-button class="parent-link" data-template="browse:parent-collection">
            <iron-icon icon="icons:folder"></iron-icon>
            <pb-i18n key="browse.up">Up</pb-i18n>
        </paper-button>
        <ul class="documents" data-template="browse:browse" data-template-per-page="10">
            <li class="document">
                <div class="document-info">
                    <header data-template="browse:short-header"></header>
                    <div class="matches" data-template="browse:show-hits"></div>
                    <!-- TODO this toolbar should only appear once per Documents papercard -->
                    <app-toolbar>
                        <pb-restricted login="login" group="tei">
                            <pb-ajax url="api/document/${ident}" method="delete" emit="search" event="pb-search-resubmit" 
                                confirm="browse.confirmDeletion" quiet="" data-template="pages:parse-params">
                                <paper-icon-button icon="icons:delete"></paper-icon-button>
                                <h3 slot="title"><pb-i18n key="browse.delete"></pb-i18n></h3>
                            </pb-ajax>
                        </pb-restricted>
                        <paper-menu-button>
                            <paper-button slot="dropdown-trigger" data-i18n="[title]menu.download.title" title="i18n(download)">
                                <iron-icon icon="file-download"></iron-icon>
                                <span class="label"><pb-i18n key="menu.download.title">Download</pb-i18n></span>
                            </paper-button>
                            <paper-listbox slot="dropdown-content" data-template="pages:parse-params">
                                <paper-item data-template="pages:if-supported" data-template-media="print">
                                    <a href="${app}/print/${ident}" target="_new">Print CSS</a>
                                </paper-item>
                                <paper-item data-template="pages:if-supported" data-template-media="latex">
                                    <pb-download type="tex" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)" data-template="browse:download-link">
                                        <pb-i18n key="menu.download.pdf-latex">Download</pb-i18n>
                                    </pb-download>
                                </paper-item>
                                <paper-item data-template="pages:if-supported" data-template-media="latex">
                                    <pb-download type="tex" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)" source="source" data-template="browse:download-link">
                                        <pb-i18n key="menu.download.latex-source"></pb-i18n>
                                    </pb-download>
                                </paper-item>
                                <paper-item data-template="pages:if-supported" data-template-media="fo">
                                    <pb-download type="pdf" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-fo" title="i18n(pdf-fo)" data-template="browse:download-link">
                                        <pb-i18n key="menu.download.pdf-fo"></pb-i18n>
                                    </pb-download>
                                </paper-item>
                                <paper-item data-template="pages:if-supported" data-template-media="fo">
                                    <pb-download type="pdf" dialog="downloadDialog" data-i18n="[title]menu.download.fo-source" title="pdf-fo" source="source" data-template="browse:download-link">
                                        <pb-i18n key="menu.download.fo-source"></pb-i18n>
                                    </pb-download>
                                </paper-item>
                                <paper-item data-template="pages:if-supported" data-template-media="epub">
                                    <pb-download type="epub" src="document1" dialog="downloadDialog" data-template="browse:download-link">
                                        ePUB
                                    </pb-download>
                                </paper-item>
                                <paper-item>
                                    <pb-edit-xml data-i18n="[title]menu.download.view-tei" title="i18n(view-tei)" path="${path}">
                                        XML
                                    </pb-edit-xml>
                                </paper-item>
                            </paper-listbox>
                        </paper-menu-button>
                    </app-toolbar>
                </div>
            </li>
        </ul>
    </div>
</div>
