<?xml version="1.0" encoding="UTF-8"?>
<footer class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="http://tei-c.org" class="col-xs-6 poweredby">
                <img src="resources/images/powered-by-TEI.png" alt="Powered by TEI"/>
            </a>
            <a href="http://exist-db.org" class="col-xs-6 poweredby">
                <img src="$shared/resources/images/powered-by.svg" alt="Powered by eXist-db" height="49"/>
            </a>
        </div>
    </div>
</footer>
