<?xml version="1.0" encoding="UTF-8"?>
<html>

<head>
    <meta charset="utf-8" />
    <title data-template="config:app-title"></title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" />
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico" />
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24" />
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64" />
    <link rel="stylesheet" href="resources/css/theme.css" />
    <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"></script>
    <link rel="stylesheet" href="resources/css/home.css" />
    <link rel="preload" as="image" href="resources/images/network-background.jpg"/>

    <custom-style>
        <style>
            main .panels .doclist {
                --paper-tab-content: {
                    font-family: var(--pb-heading-font-family);
                    font-weight: 400;
                };
                --paper-card-header: {
                    background-color: #607D8B;
                };
                --paper-card-header-text: {
                    font-family: var(--pb-heading-font-family);
                    font-size: 16px;
                    font-weight: 400;
                    color:white;
                };
            }
            aside .odds,
            aside .upload {
                --paper-card-header: {
                    background-color: #d1dae0;
                    color:black;
                };
                --paper-card-header-text: {
                    font-family: var(--pb-heading-font-family);
                    font-size: var(--pb-content-font-size);
                    font-weight: 400;
                    color: black;
                };
            }
            .tp-title small {
                font-size: .65em;
                vertical-align: super;
                color: var(--pb-color-focus);
                padding-left: .35em;
            }
        </style>
    </custom-style>

</head>

<body>
    <pb-page data-template="pages:pb-page" api-version="1.0" unresolved="unresolved" theme="resources/css/home.css">
        <app-drawer-layout force-narrow="force-narrow">
            <app-drawer slot="drawer" align="right">
                <div class="drawer-content">
                    <pb-media-query query="(max-width: 1023px)">
                        <div data-template="lib:include" data-template-path="templates/menu-drawer.html"/>
                    </pb-media-query>
                </div>
            </app-drawer>
            <app-header-layout>
                    <app-toolbar data-template="lib:include" data-template-path="templates/menu.html">
                        <pb-progress subscribe="search" indeterminate="indeterminate" bottom-item="bottom-item" data-target="menubar-after"/>
                    </app-toolbar>
                <header class="welcome">
                    <div>
                        <h1 class="tp-title">The Instant Publishing Toolbox<small data-template="pages:version">x.x.x</small></h1>
                    </div>
                   <div class="side">
                        <p><pb-i18n key="browse.login-1">Log in as</pb-i18n> <strong>tei-demo</strong> <pb-i18n key="browse.login-2">with password</pb-i18n> <strong>demo</strong> <pb-i18n key="browse.login-3">to experiment with your own files and ODDs</pb-i18n></p>

                   </div>
                </header>
                <main>
                    <section class="panels">
                        <paper-card class="doclist" data-i18n="[heading]browse.documents" heading="documents">
                            <div class="card-content">

                                    <div class="browse" slot="page">
                                        <aside data-template="browse:form">
                                            <!--pb-custom-form class="options" auto-submit="[name=sort]" emit="search"-->
                                            <pb-custom-form class="options">
                                                <input type="hidden" name="collection" value="${collection}" data-template="pages:parse-params"/>
                                                <pb-select label="browse.sort" name="sort" value="${sort}" data-template="pages:parse-params">
                                                    <paper-item value="category"><pb-i18n key="browse.category">Default</pb-i18n></paper-item>
                                                    <paper-item value="title"><pb-i18n key="browse.title"></pb-i18n></paper-item>
                                                    <paper-item value="author"><pb-i18n key="browse.author"></pb-i18n></paper-item>
                                                </pb-select>
                                                <pb-select label="search.scope" name="field" value="${field}" data-template="pages:parse-params">
                                                    <paper-item value="text"><pb-i18n key="search.content"></pb-i18n></paper-item>
                                                    <paper-item value="title"><pb-i18n key="search.title"></pb-i18n></paper-item>
                                                </pb-select>
                                            </pb-custom-form>
                                            <pb-search id="search-form" subscribe="search" data-template="pages:parse-params" value="${query}"
                                                subforms=".facets,.options" submit-on-load="submit-on-load">
                                                <paper-button slot="searchButton"><pb-i18n key="search.search">Search</pb-i18n></paper-button>
                                            </pb-search>
                                            <pb-custom-form class="facets" url="api/search/facets" event="pb-results-received" subscribe="search" emit="search"></pb-custom-form>
                                        </aside>
                                        <div id="document-list">
                                            <pb-paginate id="paginate" per-page="10" range="5" subscribe="search" emit="search"></pb-paginate>
                                            <pb-load url="api/collection/{collection}" expand="" emit="search"></pb-load>
                                        </div>
                                    </div>
                            </div>
                        </paper-card>
                        <aside>
                            <pb-restricted can-write="can-write">
                                <paper-card class="upload" data-i18n="[heading]upload.upload" heading="Upload">
                                    <div class="card-content">
                                        <pb-upload id="upload" emit="search" subscribe="search" accept=".xml, .tei, .odd, .docx, .md, .mei" event="pb-search-resubmit"></pb-upload>
                                    </div>
                                </paper-card>
                            </pb-restricted>
                            <paper-card data-i18n="[heading]odd.files" class="odds" heading="ODD Files">
                                <div class="card-content">
                                    <pb-manage-odds id="manage-odds" target="document-list" emit="search"></pb-manage-odds>
                                </div>
                            </paper-card>
                        </aside>
                    </section>
            </main>
                <footer class="version">
                    TEI Publisher <span data-template="pages:version"/> /
                    web components <pb-version></pb-version> /
                    API <span data-template="pages:api-version"/> /
                    background by <a href="http://www.freepik.com">Freepik</a>
                </footer>
            </app-header-layout>
        </app-drawer-layout>
        <paper-dialog id="downloadDialog">
            <h2>
                <pb-i18n key="dialogs.generatingFile">Generating File...</pb-i18n>
            </h2>
            <paper-dialog-scrollable>
                <pb-i18n key="dialogs.downloadMessage"></pb-i18n>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-confirm="dialog-confirm" autofocus="autofocus">
                    <pb-i18n key="dialogs.close">Close</pb-i18n>
                </paper-button>
            </div>
        </paper-dialog>
        <paper-dialog id="errorDialog">
            <h2><pb-i18n key="dialogs.error">Error</pb-i18n></h2>
            <paper-dialog-scrollable></paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-confirm="dialog-confirm" autofocus="autofocus">
                    <pb-i18n key="dialogs.close">Close</pb-i18n>
                </paper-button>
            </div>
        </paper-dialog>
    </pb-page>
    <div class="splash"></div>
    <script src="resources/scripts/browse.js"></script>
</body>

</html>