<app-toolbar class="menubar">
    <a href="${app}/index.html" class="logo" data-template="lib:parse-params"></a>
    <pb-media-query query="min-width: 1024px">
        <a href="${app}/index.html" data-template="lib:parse-params">Start</a>
        <paper-menu-button data-template="lib:include" data-template-path="templates/menu.documentation.html"/>
        <paper-menu-button>
            <a href="#" slot="dropdown-trigger" data-i18n="[title]menu.download.title" title="i18n(download)">
                <pb-i18n key="menu.download.title">Download</pb-i18n>
            </a>
            <paper-listbox slot="dropdown-content">
                <paper-item>
                    <pb-download type="tex" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)">
                        <pb-i18n key="menu.download.pdf-latex">Download</pb-i18n>
                    </pb-download>
                </paper-item>
                <paper-item>
                    <pb-download type="tex" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)" source="source">
                        <pb-i18n key="menu.download.latex-source"></pb-i18n>
                    </pb-download>
                </paper-item>
                <paper-item>
                    <pb-download type="pdf" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-fo" title="i18n(pdf-fo)">
                        <pb-i18n key="menu.download.pdf-fo"></pb-i18n>
                    </pb-download>
                </paper-item>
                <paper-item>
                    <pb-download type="pdf" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.fo-source" title="pdf-fo" source="source">
                        <pb-i18n key="menu.download.fo-source"></pb-i18n>
                    </pb-download>
                </paper-item>
                <paper-item>
                    <pb-download type="epub" src="document1" dialog="downloadDialog">
                        ePUB
                    </pb-download>
                </paper-item>
                <paper-item>
                    <pb-edit-xml src="document1" data-i18n="[title]menu.download.view-tei" title="view-tei">
                        XML
                    </pb-edit-xml>
                </paper-item>
            </paper-listbox>
        </paper-menu-button>
        <pb-restricted login="login">
            <paper-menu-button>
                <a href="#" slot="dropdown-trigger"><pb-i18n key="menu.admin.title">Admin</pb-i18n></a>
                <paper-listbox slot="dropdown-content">
                    <paper-item>
                        <pb-download data-template="pages:edit-odd-link" src="document1" subscribe="transcription">
                            <pb-i18n key="menu.admin.edit-odd">Edit ODD</pb-i18n>
                        </pb-download>
                    </paper-item>
                    <paper-item>
                        <a href="${app}/manage.html" data-template="lib:parse-params">
                            <pb-i18n key="menu.admin.appGenerator"/>
                        </a>
                    </paper-item>
                </paper-listbox>
            </paper-menu-button>
        </pb-restricted>

        <a href="https://github.com/eeditiones/tei-publisher-app" title="View code on GitHub" class="gitlab">
            <img src="resources/images/github.svg"/>
        </a>
    </pb-media-query>

    <!-- Search input -->
    <pb-search action="${app}/search.html" data-template="lib:parse-params" value="${query}"
       redirect="redirect"></pb-search>
    <pb-media-query query="min-width: 1024px">
       <!-- language selector -->
       <pb-lang name="lang" data-template="pages:languages"/>
    </pb-media-query>
    <pb-login id="login" group="tei">
    </pb-login>
    <paper-dialog id="downloadDialog">
        <h2>
            <pb-i18n key="dialogs.generatingFile">Generating file ...</pb-i18n>
        </h2>
        <paper-dialog-scrollable>
            <pb-i18n key="dialogs.downloadMessage"></pb-i18n>
        </paper-dialog-scrollable>
        <div class="buttons">
            <paper-button dialog-confirm="dialog-confirm" autofocus="autofocus">
                <pb-i18n key="dialogs.close">Close</pb-i18n>
            </paper-button>
        </div>
    </paper-dialog>
</app-toolbar>
