<?xml version="1.0" encoding="UTF-8"?>
<nav xmlns:i18n="http://exist-db.org/xquery/i18n" class="navbar navbar-default navbar-fixed-top" role="navigation" data-template="i18n:translate" data-catalogues="resources/i18n">
    <div class="container-fluid" data-template="browse:fix-links">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"/>
                <span class="icon-bar"/>
                <span class="icon-bar"/>
            </button>
            <a class="navbar-brand" href="$app/index.html">
                <span data-template="config:app-title">App Title</span>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="about">
                    <a href="$app/index.html" class="tp-menu-item" title="i18n(home)">
                        <div>
                            <i18n:text key="home"/>
                        </div>
                        <!--<i class="material-icons">home</i>-->
                    </a>
                </li>
                <li class="dropdown" data-template="browse:show-for-document">
                    <a href="#" class="dropdown-toggle tp-menu-item" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" title="i18n(download)">
                        <div>
                            <i18n:text key="download"/>
                            <span class="caret"/>
                        </div>
                        <!--<i class="material-icons">file_download</i>-->
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="download-link" data-template="browse:download-link" data-template-type="pdf" title="i18n(pdf-fo)">
                                <i class="material-icons">print</i> <i18n:text key="pdf-fo"/>
                            </a>
                        </li>
                        <li data-template="browse:show-if-logged-in">
                            <a target="_blank" data-template="browse:download-link" data-template-type="pdf" data-template-source="true" title="i18n(fo-source)">
                                <i class="material-icons">code</i> <i18n:text key="fo-source"/>
                            </a>
                        </li>
                        <li>
                            <a class="download-link" data-template="browse:download-link" data-template-type="tex" title="i18n(pdf-latex)">
                                <i class="material-icons">print</i> <i18n:text key="pdf-latex"/>
                            </a>
                        </li>
                        <li data-template="browse:show-if-logged-in">
                            <a target="_blank" data-template="browse:download-link" data-template-type="tex" data-template-source="true" title="i18n(latex-source)">
                                <i class="material-icons">code</i> <i18n:text key="latex-source"/>
                            </a>
                        </li>
                        <li>
                            <a class="download-link" data-template="browse:download-link" data-template-type="" data-template-mode="plain" title="i18n(single-page)">
                                <i class="material-icons">web</i> <i18n:text key="single-page"/>
                            </a>
                        </li>
                        <li>
                            <a data-template="browse:download-link" data-template-type="epub" title="i18n(epub-download)">
                                <i class="material-icons">book</i>
                                ePUB
                            </a>
                        </li>
                        <li>
                            <a data-template="pages:xml-link" title="i18n(view-tei)">
                                <i class="material-icons">code</i>
                                XML
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle tp-menu-item" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" title="i18n(documentation)">
                        <div>
                            <i18n:text key="documentation"/>
                            <span class="caret"/>
                        </div>
                        <!--<i class="material-icons">description</i>-->
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a href="$app/doc/documentation.xml?odd=docbook.odd">
                                <i18n:text key="documentation"/>
                            </a>
                        </li>
                        <li>
                            <a href="$app/doc/documentation.xml?odd=docbook.odd&amp;id=faq">
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a href="$app/doc/presentation.xml.tex?odd=beamer.odd">
                                <i18n:text key="presentation"/>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" data-template="browse:show-if-logged-in">
                    <a href="#" class="dropdown-toggle tp-menu-item" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" title="i18n(admin)">
                        <div>
                            <!--<i class="material-icons md-dark">build</i>-->
                            <i18n:text key="admin"/>
                            <span class="caret"/>
                        </div>
                        <!--<i class="material-icons">create</i>-->
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>
                            <a class="recompile" data-template="browse:recompile-link">
                                <i18n:text key="recompile"/>
                            </a>
                        </li>
                        <li>
                            <a id="reindex" href="#">
                                <i18n:text key="metadata-update"/>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-template="pages:edit-odd-link" target="_new">
                                <i18n:text key="edit-odd"/>
                            </a>
                        </li>
                        <li>
                            <a href="$app/generate.html">
                                <i18n:text key="app-generator"/>
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="code">
                    <a href="http://gitlab.exist-db.org/tei-publisher/"  title="View code on Gitlab">
                        <img src="resources/images/wm_no_bg.svg" height="20"/>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- Search input -->
                <li>
                     <form id="searchPageForm" class="navbar-form" role="search" action="$app/search.html">
                        <div class="input-group">
                            <i class="glyphicon glyphicon-search" onclick="$(&#34;#searchPageForm&#34;).submit()"/>
                            <input type="search" class="form-control search-input templates:form-control typeahead-search" autocomplete="off" placeholder="Search..." name="query"/>
                        </div>
                        <input type="hidden" name="doc" data-template="search:form-current-doc"/>
                    </form>
                </li>
                <li data-template="browse:check-login">
                    <a href="#loginDialog" data-toggle="modal" title="i18n(login)">
                        <i class="material-icons">account_circle</i> <i18n:text key="login"/>
                    </a>
                    <a id="logout" href="#" title="i18n(logout)">
                        <i class="material-icons">account_circle</i> <i18n:text key="logout"/> <span class="browse:current-user"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
