<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="templates/basic/resources/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="resources/scripts/jquery-1.11.3.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="resources/scripts/bootstrap.min.js"/>
    </head>
    <body id="body">
        <div id="content"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/ace.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-javascript.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-text.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-xquery.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-java.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-css.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/mode-xml.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/theme-tomorrow_night.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/ace/theme-dawn.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/highlight.js"/>
        <script type="text/javascript">
            $(".sourcecode").highlight();
        </script>
    </body>
</html>