<html>
<head>
    <title>TEI Publisher Person Register</title>
    <link rel="stylesheet" type="text/css" href="resources/css/fore.css"/>
    <!--        <link rel="stylesheet" type="text/css" href="style.css"/>-->
    <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
    <script type="module" src="./resources/scripts/fore/fore-dev.js"></script>

</head>
<body>
<!--<fx-fore refresh-on-view>-->
<fx-fore>
    <fx-send event="ready" submission="load"></fx-send>
    <fx-model id="model-1">
        <fx-instance
            id="default"
            src="api/forms/template/person-default"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0"/>

        <fx-instance 
            id="parameters"
            src="#querystring"/>

        <fx-instance
                id="i-template"
                src="api/forms/template/person-template"
                xpath-default-namespace="http://www.tei-c.org/ns/1.0"/>

        <fx-submission 
            id="load"
            url="api/entry/{instance('parameters')//id}"
            method="GET"
            replace="instance">
                <fx-message event="submit-done">Data loaded</fx-message>
        </fx-submission>
        <fx-submission 
            id="save"
            url="api/entry/save"
            method="PUT"
            replace="instance">
                <fx-message event="submit-done">Data saved</fx-message>
                <fx-message event="submit-error">Failed to save data</fx-message>
        </fx-submission>
    </fx-model>

    <header>
        <h1>TEI Publisher Person Register</h1>
    </header>

    <main>
        <!-- begin section general -->
        <section>
            Save the form

            <fx-trigger>
                <button>save</button>
                <fx-send submission="save"></fx-send>
            </fx-trigger>
            
        </section>
        <section>
            <h2>Person</h2>
            <!-- Basic name forms -->
            <fx-group id="general" ref="//person" class="col-2">
                <fx-control class="tp-input -form-control" ref="persName[@type='main']">
                    <label class="tp-label">Canonical form</label>
                    <fx-hint>Joachim Lelewel</fx-hint>
                </fx-control>
                <fx-control class="tp-input -form-control" ref="persName[@type='sort']">
                    <label class="tp-label">Sorting form</label>
                    <fx-hint>Lelewel, Joachim</fx-hint>
                </fx-control>
            </fx-group>

            <fx-group id="birth" ref="//person/birth" class="col-2">
                <fx-control class="tp-input -form-control" ref="placeName">
                    <label class="tp-label">Place of birth</label>
                    <fx-hint>Warsaw</fx-hint>
                </fx-control>
                <fx-control class="tp-input -form-control" ref="date">
                    <label class="tp-label">Date of birth</label>
                    <fx-hint>1786-03-22</fx-hint>
                </fx-control>
                <fx-control class="tp-input -form-control" ref="date/@notBefore">
                    <label class="tp-label">not before</label>
                    <fx-hint>1786-03-22</fx-hint>
                </fx-control>
                <fx-control class="tp-input -form-control" ref="date/@notAfter">
                    <label class="tp-label">not after</label>
                    <fx-hint>1786-03-22</fx-hint>
                </fx-control>
            </fx-group>           
        </section>
        <!-- // end section general -->

        <!-- begin section name variants -->
        <section>
            <fx-group>
                
                    <h3>Name variants ({count(//form[@type='variant'])})</h3>
                    
                    <fx-trigger class="add-button">
                        <button>add</button>
                        <fx-insert
                                context="//person"
                                ref="name"
                                origin="instance('i-template')//name[@type='variant']"></fx-insert>
                    </fx-trigger>

                    <fx-repeat ref="//name[@type='variant']" id="r-nameVariant">
                        <template>
                            <fx-control  class="tp-input -form-control" ref="forename">
                                <label class="tp-label">First name</label>
                                <fx-hint>Joachim</fx-hint>
                            </fx-control>
                            <fx-control  class="tp-input -form-control" ref="surname">
                                <label class="tp-label">Last name</label>
                                <fx-hint>Lelewel</fx-hint>
                            </fx-control>
                            <fx-control  class="tp-input -form-control" ref="addname">
                                <label class="tp-label">other</label>
                                <fx-hint>Sir</fx-hint>
                            </fx-control>
                               
                            <fx-trigger>
                                <button>delete</button>
                                <fx-delete
                                        nodeset="//form[@type='variant'][index('r-nameVariant')]"></fx-delete>
                            </fx-trigger>
                        </template>
                    </fx-repeat>
            </fx-group>
        </section>
        <!-- // end section name variants -->

    </main>
   
    <pre>
        {log('default')}
    </pre>
</fx-fore>

</body>
</html>