<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"></title>
        <link rel="stylesheet" href="resources/css/theme.css" />
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"></script>
        <script type="module" src="pb-leaflet-map.js" data-template="pages:load-components"/>
        <style>
            pb-leaflet-map {
                height: 40vh;
                width: 100%;
            }

            main {
                max-width: 41rem;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved">
            <app-header-layout>
                <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                    <app-toolbar class="menubar">
                        <a href="${app}/index.html" class="logo" data-template="pages:parse-params"></a>
                    </app-toolbar>
                </app-header>
                <pb-leaflet-map id="map" subscribe="map" emit="map" zoom="10" cluster="cluster" latitude="47.3686498" longitude="8.5391825">
                    <pb-map-layer show=""
                        base="" 
                        label="Mapbox OSM"                                 
                        url="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token={accessToken}" 
                        max-zoom="19" 
                        access-token="pk.eyJ1Ijoid29sZmdhbmdtbSIsImEiOiJjam1kMjVpMnUwNm9wM3JwMzdsNGhhcnZ0In0.v65crewF-dkNsPF3o1Q4uw" 
                        attribution="© Mapbox © OpenStreetMap">
                    </pb-map-layer>
                </pb-leaflet-map>
                <main>
                    <pb-custom-form id="options" auto-submit="paper-input,paper-icon-button">
                        <paper-input id="query" name="search" value="" label="Suche" data-template="templates:form-control">
                            <paper-icon-button icon="search" slot="suffix"></paper-icon-button>
                        </paper-input>
                    </pb-custom-form>
                    <pb-split-list url="api/places" subforms="#options" selected="A"></pb-split-list>
                </main>
            </app-header-layout>
        </pb-page>
        <script>
            window.addEventListener('WebComponentsReady', function() {
                pbEvents.subscribe('pb-page-ready', null, function() {
                    const endpoint = document.querySelector("pb-page").getEndpoint();
                    const url = `${endpoint}/api/places/all`;
                    console.log(`fetching places from: ${url}`);
                    fetch(url)                
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(json) {
                        pbEvents.emit("pb-update-map", "map", json)
                    });
                });
            });
        </script>
    </body>
</html>
