<header class="row service-icon-bar">
    <div class="col-md-12">
        <div class="btn-toolbar">
            <div class="btn-group tp-zoom-icons" role="group">
                <a class="btn btn-default" data-template="pages:back-link" title="Back to index page">
                    <i class="material-icons">home</i>
                </a>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons">print</i>
                        <span class="hidden-xs">PDF</span>
                        <span class="caret"/>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="download-link" data-template="pages:pdf-link">
                                PDF via FO
                            </a>
                        </li>
                        <li>
                            <a target="_new" data-template="pages:pdf-link" data-template-source="true">
                                FO Source
                            </a>
                        </li>
                        <li>
                            <a class="download-link" data-template="pages:latex-link">
                                PDF via LaTeX
                            </a>
                        </li>
                        <li>
                            <a target="_new" data-template="pages:latex-link" data-template-source="true">
                                LaTeX Source
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-default download-link" data-template="pages:epub-link" title="Download as epub ebook">
                    <i class="material-icons">book</i>
                    <span class="hidden-xs">ePUB</span>
                </a>
                <a class="btn btn-default" data-template="pages:xml-link" title="View XML Source">
                    <i class="material-icons">code</i>
                    <span class="hidden-xs">XML</span>
                </a>
                <a target="_new" class="btn btn-default" data-template="pages:single-page-link" title="View plain HTML on a single page">
                    <i class="material-icons">swap_vert</i>
                    <span class="hidden-xs">Plain</span>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a class="btn btn-default" href="#" id="zoom-in">
                    <i class="material-icons">zoom_in</i>
                </a>
                <a class="btn btn-default" href="#" id="zoom-out">
                    <i class="material-icons">zoom_out</i>
                </a>
                <a class="btn btn-default" id="switch-view" data-template="pages:switch-view" title="Switch between page and division view">
                    <i class="material-icons">import_contacts</i>
                </a>
            </div>
        </div>
    </div>
</header>
