<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"></title>
        <link rel="stylesheet" href="resources/css/theme.css" />
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"></script>
        <style>
            main {
                padding: 0 20px 0 20px;
                max-width: 1200px;
                margin: 0 auto;
            }
            
            fieldset {
                padding: 0;
                border: 0;
                width: 100%;
                margin-top: 20px;
            }

            legend {
                color: #909090;
            }

            [name=vectors] {
                margin-left: 3rem;
            }
            [name=base] {
                margin-top: 1rem;
            }
            #submit {
                margin-top: 2rem;
            }

            #spacy-notfound {
                color: var(--pb-color-focus);
                margin: 30px 0;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved">
            <app-header-layout>
                <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                    <app-toolbar class="menubar">
                        <a href="${app}/index.html" class="logo" data-template="pages:parse-params"></a>
                        <a href="${app}/index.html" data-template="pages:parse-params">Start</a>
                        <paper-menu-button data-template="lib:include" data-template-path="templates/menu.documentation.html"/>
                        <a href="http://gitlab.exist-db.org/tei-publisher/" title="View code on GitHub" class="gitlab">
                            <img src="resources/images/github.svg"/>
                        </a>
                        <!-- language selector -->
                        <pb-lang name="lang" data-template="pages:languages"/>
                        <pb-login id="login" group="tei">
                            <iron-icon slot="icon" icon="account-circle"></iron-icon>
                        </pb-login>
                        <pb-progress indeterminate="indeterminate" bottom-item="bottom-item"></pb-progress>
                    </app-toolbar>
                </app-header>
                <main>
                    <h1><pb-i18n key="ner.title">Train a Named Entity Recognition Model</pb-i18n></h1>
                    <h2 id="spacy-notfound"><pb-i18n key="ner.not-found">This feature requires the TEI Publisher NER service to be
                        running! Failed to contact the service.</pb-i18n></h2>
                    <p id="spacy-found"><pb-i18n key="ner.found">Found TEI Publisher NER with spaCy version</pb-i18n> <span id="spacy-version"></span>.</p>
                    <iron-form id="form">
                        <form method="GET">
                            <paper-input label="Name" data-i18n="[label]ner.name;[placeholder]ner.name-placeholder" placeholder="Name of the model to create" name="name" required="" auto-validate=""></paper-input>
                            <fieldset>
                                <paper-input label="Path" data-i18n="[label]ner.path;[placeholder]ner.path-placeholder" placeholder="Relative path to document or collection" name="id" required="" auto-validate=""></paper-input>
                                <legend><pb-i18n key="ner.path-info">Enter path to a document or collection to use as training input. Should be relative to TEI Publisher's data root.</pb-i18n></legend>
                            </fieldset>
                            <fieldset>
                                <legend><pb-18n key="ner.lang-info">You may either train a new model for a language or select an existing model to extend below.
                                    If not extending an existing model, you must specify a language. Otherwise leave it empty.</pb-18n>
                                </legend>
                                <paper-input data-i18n="[label]ner.language;[placeholder]ner.language-placeholder;[error-message]ner.language-error" label="Language" name="lang" placeholder="Language to create the model for"
                                    error-message="Either a language or a base model are required"></paper-input>
                                <paper-dropdown-menu id="models" data-i18n="[label]ner.model;[placeholder]ner.model-placeholder" label="Base Model" placeholder="Base model to extend" name="base">
                                    <paper-listbox slot="dropdown-content"></paper-listbox>
                                </paper-dropdown-menu>
                                <paper-checkbox name="vectors"><pb-i18n key="ner.vectors">Only copy vectors from base model</pb-i18n></paper-checkbox>
                            </fieldset>

                            <paper-button id="submit"><iron-icon icon="save"></iron-icon> <pb-i18n key="ner.start">Start</pb-i18n></paper-button>
                        </form>
                    </iron-form>
                    <div id="output" style="display: none">
                        <h2><pb-i18n key="ner.output">Training Output</pb-i18n></h2>
                        <pre id="log"></pre>
                    </div>
                </main>
            </app-header-layout>
        </pb-page>
        <script src="https://cdn.jsdelivr.net/npm/ansi_up@5.1.0/ansi_up.js"></script>
        <script>
            window.addEventListener("WebComponentsReady", function() {
                const log = document.getElementById('log');
                let endpoint;

                document.addEventListener('pb-page-ready', () => {
                    endpoint = document.querySelector("pb-page").getAttribute('endpoint');
                    fetch(`${endpoint}/api/nlp/status`, {
                        method: "GET",
                        mode: "cors",
                        credentials: "same-origin"
                    })
                    .then((response) => {
                        if (response.ok) {
                            return response.json();
                        }
                        document.getElementById('spacy-notfound').style.display = 'block';
                        document.getElementById('spacy-found').style.display = 'none';
                        document.getElementById('submit').disabled = true;
                    })
                    .then((json) => {
                        if (!json) {
                            return;
                        }
                        document.getElementById('spacy-notfound').style.display = 'none';
                        document.getElementById('spacy-version').innerHTML = json.spacy_version;
                        fetch(`${endpoint}/api/nlp/status/models`, {
                            method: "GET",
                            mode: "cors",
                            credentials: "same-origin"
                        })
                        .then((response) => {
                            if (response.ok) {
                                return response.json();
                            }
                        })
                        .then((json) => {
                            const list = [];
                            json.forEach((item) => {
                                list.push(`<paper-item>${item}</paper-item>`);
                            });
                            document.querySelector('#models paper-listbox').innerHTML = list.join('\n');
                        });
                    });
                });

                const ansi_up = new AnsiUp;

                function poll(url) {
                    let status = -1;
                    fetch(url)
                    .then(function(response) {
                        status = response.status;
                        if (response.ok) {
                            return response.text();
                        }
                    })
                    .then(function(text) {
                        const html = ansi_up.ansi_to_html(text);
                        log.innerHTML = html;
                        window.scrollTo(0, document.body.scrollHeight);
                        if (status === 202) {
                            setTimeout(function() { poll(url); }, 1000);
                        }
                    });
                }

                const submit = document.getElementById('submit');
                submit.addEventListener('click', function() {
                    const form = document.getElementById('form');
                    const formParams = form.serializeForm();
                    if (!form.validate()) {
                        return;
                    } else if (!(formParams.base || formParams.lang)) {
                        form.querySelector('[name=lang]').invalid = true;
                        return;
                    }
                    pbEvents.emit('pb-start-update');
                    document.getElementById('output').style.display = 'block';
                    log.innerHTML = '<pb-i18n key="ner.prepare">Preparing data</pb-i18n> ...';
                    const params = {
                        name: formParams.name
                    };
                    if (formParams.base) {
                        params.base = formParams.base;
                    }
                    if (formParams.lang) {
                        params.lang = formParams.lang;
                    }
                    if (formParams.vectors === 'on') {
                        params.copy_vectors = formParams.base;
                    }
                    fetch(`${endpoint}/api/nlp/train/${formParams.id}?${new URLSearchParams(params)}`, {
                        method: "GET",
                        mode: "cors",
                        credentials: "same-origin"
                    })
                    .then(function(response) {
                        pbEvents.emit('pb-end-update');
                        if (response.ok) {
                            return response.json();
                        }
                        if (response.status === 404) {
                            log.innerHTML = `Training data could not be found in path "${formParams.id}"`;
                            throw new Error();
                        }
                    })
                    .then(function(json) {
                        setTimeout(function() { poll(`${endpoint}/api/nlp/log/${json}`); }, 1000);
                    });
                });
            });
                    
        </script>
    </body>
</html>
