<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

  <title>pb-edit-source test</title>

  <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
  <script src="../bower_components/web-component-tester/browser.js"></script>

  <link rel="import" href="../editor/odd-edit-source.html">
</head>
<body>

  <test-fixture id="BasicTestFixture">
    <template>
      <odd-edit-source odd="graves.odd">
        <paper-icon-button icon="code" title="ODD Source" role="button" tabindex="0" aria-disabled="false"></paper-icon-button>
      </odd-edit-source>
    </template>
  </test-fixture>



  <script>
      suite('odd-edit-source', () => {

          test('evaluating the odd path works', () => {
              const element = fixture('BasicTestFixture');
              assert.equal(element.path, '/exist/apps/tei-publisher/odd/graves.odd');
//              element.querySelector('paper-icon-button').click();

              /*
                        const elementShadowRoot = element.shadowRoot;
                        const elementHeader = elementShadowRoot.querySelector('h2');
                        assert.equal(elementHeader.innerHTML, 'Hello pb-edit-source!');
              */
          });

          /*
                  test('setting a property on the element works', () => {
                    // Create a test fixture
                    const element = fixture('ChangedPropertyTestFixture');
                    assert.equal(element.prop1, 'new-prop1');
                    const elementShadowRoot = element.shadowRoot;
                    const elementHeader = elementShadowRoot.querySelector('h2');
                    assert.equal(elementHeader.innerHTML, 'Hello new-prop1!');
                  });
          */

      });
  </script>

</body>
</html>
