<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

  <title>pb-document test</title>

  <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
  <script src="../bower_components/web-component-tester/browser.js"></script>
  <link rel="import" href="../dependencies-dev.html">
</head>
<body>

    <pb-document id="document1" path="test/F-rom.xml" odd="shakespeare"></pb-document>

    <main>
        <pb-load id="load" src="document1" url="demo/load-demo.xql"></pb-load>
    </main>

  <script>
      suite('test-pb-load', () => {
          const component = document.getElementById('load');

          test('wait for content and check', (done) => {
              const handler = (ev) => {
                  document.removeEventListener('pb-end-update', handler);
                  const actor = component.shadowRoot.querySelector('.people li');
                  assert.isOk(actor);
                  assert.equal(actor.innerText, 'Abraham, Servant to Montague');

                  done();
              };
              document.addEventListener('pb-end-update', handler);

              document.dispatchEvent(new CustomEvent('pb-load'));
          });

          test('send pb-update event', (done) => {
              const handler = (ev) => {
                  document.removeEventListener('pb-end-update', handler);
                  const rows = component.shadowRoot.querySelectorAll('.parameters tr');
                  assert.isOk(rows);
                  assert.equal(rows.length, 3);
                  assert.equal(rows[1].querySelector('td').innerText, 'baz');

                  done();
              };
              document.addEventListener('pb-end-update', handler);

              document.dispatchEvent(new CustomEvent('pb-load', {detail: { params: { baz: 'foo'} }}));
          });

          test('table of contents', (done) => {
              const handler = (ev) => {
                  document.removeEventListener('pb-end-update', handler);
                  const pbCollapse = component.shadowRoot.querySelector('pb-collapse');
                  assert.isOk(pbCollapse);

                  done();
              };
              component.url = '../templates/toc.html';
              document.addEventListener('pb-end-update', handler);

              document.dispatchEvent(new CustomEvent('pb-load'));
          });
      });


  </script>

</body>
</html>
