<html>
<head>
    <title>Editor for organizations </title>
    <link rel="stylesheet" href="fore.css" data-template="pages:load-fore"/>
    <script type="module" src="fore.js" data-template="pages:load-fore"></script>
</head>
<body>

<fx-fore class="authority-editor">
    <fx-model id="model-1">

        <fx-instance
                id="default"
                src="api/forms/template/organization-default"
                xpath-default-namespace="http://www.tei-c.org/ns/1.0">
        </fx-instance>

        <fx-instance
                id="i-template"
                src="api/forms/template/organization-template"
                xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-submission
                id="load"
                method="GET"
                replace="instance">
            <fx-action event="submit-done">
                <!-- setting selection we got from user as default -->
                <fx-action if="instance('default')/@xml:id = 'organization-NEW'">
                    <fx-setvalue ref="instance('default')/*[1][@type='main']" value="query()"></fx-setvalue>
                </fx-action>
            </fx-action>
        </fx-submission>
        <fx-submission
                id="save"
                method="PUT"
                replace="instance">
            <fx-action  event="submit-done">
                <fx-message>Organization saved with ID {instance('default')/@xml:id/string()}</fx-message>
                <fx-dispatch name="authority-created">
                    <fx-property name="ref" expr="instance('default')/@xml:id/string()"></fx-property>
                </fx-dispatch>
            </fx-action>
            <fx-action event="submit-error">
                <fx-message>Failed to save data - Please login</fx-message>
            </fx-action>
        </fx-submission>

        <!-- hack til shared instances are working in Fore - accesses value of output in outer fore with stores the 'ref' -->
        <fx-function signature="getRef() as xs:string" type="text/javascript">
            const ref = document.querySelector('fx-instance#i-default').instanceData.querySelector('ref');
            return ref ? ref.innerHTML : '';
        </fx-function>

        <fx-function signature="query() as xs:string" type="text/javascript">
            const query = document.querySelector('fx-instance#i-default').instanceData.querySelector('query');
            return query ? query.innerHTML : '';
        </fx-function>
    </fx-model>

    <!--
    ### Use the header to give the main name of the page plus provide eventual buttons needed
    -->
    <header>
        <h1>Organization '{instance('default')/*[1][@type='main']}'</h1>
        <div>
            <fx-trigger>
                <paper-icon-button icon="icons:save" data-i18n="[title]annotations.save"></paper-icon-button>
                <fx-call action="saveAction"></fx-call>
            </fx-trigger>
            <fx-trigger>
                <paper-icon-button id="close-authority" icon="close" data-i18n="[title]annotations.authority">
                    <!-- ### load the authority editor for authority type -->
                </paper-icon-button>
                <fx-confirm message="close this editor?">
                    <fx-dispatch name="hide-authority" target="#document"></fx-dispatch>
                </fx-confirm>
            </fx-trigger>
        </div>
    </header>

    <!-- ### main   -->
    <main>
        <!-- begin section general -->
        <fx-group id="general" ref="instance('default')" class="col-2">
            <h2>Organization ID:
                <fx-output ref="@xml:id"></fx-output>
            </h2>

            <fx-control ref="orgName[@type='main']">
                <label >Canonical form</label>
                <fx-hint>The Beatles</fx-hint>
            </fx-control>
            <fx-control ref="orgName[@type='sort']">
                <label >Sorting form</label>
                <fx-hint>Beatles, the</fx-hint>
            </fx-control>
        </fx-group>

        <!-- Basic name forms -->

        <fx-group id="note" ref="instance('default')" class="col-2">
            <h2>Note</h2>
            <fx-control ref="note" as="node" update-event="blur">
                <jinn-xml-editor unwrap="unwrap" class="widget" placeholder="[Inline text/markup or sequence of paragraphs]" schema="resources/scripts/annotations/tei.json" schema-root="note" namespace="http://www.tei-c.org/ns/1.0">
                    <div slot="toolbar">
                        <button data-command="selectElement" title="Select element around current cursor position">&lt;|&gt;</button>
                        <button data-command="encloseWith" title="Enclose selection in new element">&lt;...&gt;</button>
                        <button data-command="removeEnclosing" title="Remove enclosing tags" class="sep">&lt;X&gt;</button>
                        <button data-command="snippet" data-params="&lt;placeName key=&#34;$|1|&#34;&gt;$|_|&lt;/placeName&gt;" title="Insert placeName">&lt;placeName&gt;</button>
                        <button data-command="snippet" data-params="&lt;persName key=&#34;$|1|&#34;&gt;$|_|&lt;/persName&gt;" title="Insert persName">&lt;persName&gt;</button>
                    </div>
                </jinn-xml-editor>
            </fx-control>
        </fx-group>

        <!-- // end section general -->
        <!-- begin section name variants -->
        <fx-group>
            <header>
                Name variants ({count(//orgName[@type='variant'])})
                <fx-trigger class="add-button">
                    <paper-icon-button icon="icons:add"
                                       data-i18n="[title]annotations.add.authority"></paper-icon-button>
                    <fx-insert
                            context="//org"
                            ref="orgName"
                            origin="instance('i-template')//orgName[@type='variant']"></fx-insert>
                </fx-trigger>
            </header>

            <fx-repeat id="r-nameVariant" ref="//orgName[@type='variant']" class="two-col">
                <template>
                    <fx-control ref=".">
                        <label >Variant form</label>
                        <fx-hint>Beatles</fx-hint>
                    </fx-control>

                    <fx-trigger>
                        <paper-icon-button icon="close" data-i18n="[title]annotations.authority" title="delete"></paper-icon-button>
                        <fx-delete ref="."/>
                    </fx-trigger>
                </template>
            </fx-repeat>
        </fx-group>

    </main>
    <fx-trigger>
        <paper-icon-button icon="icons:save" data-i18n="[title]annotations.save"></paper-icon-button>
        <fx-call action="saveAction"></fx-call>
    </fx-trigger>

    <fx-action event="ready" if="string-length(getRef()) = 0">
        <fx-send event="ready" submission="load" url="api/register/NEW"></fx-send>
    </fx-action>
    <fx-action event="ready" if="string-length(getRef()) != 0">
        <fx-send event="ready" submission="load" url="api/register/{getRef()}"></fx-send>
    </fx-action>

    <fx-action id="saveAction">
        <fx-action if="string-length(getRef()) != 0">
            <fx-send submission="save" url="api/register/{getRef()}"></fx-send>
        </fx-action>
        <fx-action if="string-length(getRef()) = 0">
            <fx-send submission="save" url="api/register/organization-NEW"></fx-send>
        </fx-action>
    </fx-action>
</fx-fore>

</body>
</html>