<html>
<head>
    <title>TEI Publisher Person Register</title>
    <link rel="stylesheet" type="text/css" href="resources/css/fore.css"/>
    <!--        <link rel="stylesheet" type="text/css" href="style.css"/>-->
    <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
    <script type="module" src="./resources/scripts/fore/fore-dev.js"></script>
</head>
<body>

<fx-fore class="authority-editor" show-confirmation="true">
    <fx-action event="ready" if="string-length(getRef()) = 0">
        <fx-send event="ready" submission="load" url="api/entry/NEW"></fx-send>
    </fx-action>
    <fx-action event="ready" if="string-length(getRef()) != 0">
        <fx-send event="ready" submission="load" url="api/entry/{getRef()}"></fx-send>
    </fx-action>

    <fx-model id="model-1">

        <fx-instance
                id="default"
                src="api/forms/template/person-default"
                xpath-default-namespace="http://www.tei-c.org/ns/1.0">
        </fx-instance>

        <fx-instance
                id="i-template"
                src="api/forms/template/person-template"
                xpath-default-namespace="http://www.tei-c.org/ns/1.0">
            <data></data>
        </fx-instance>

        <fx-submission
                id="load"
                method="GET"
                replace="instance">
            <fx-action event="submit-done">
                <fx-message>Data loaded</fx-message>
                <!-- setting selection we got from user as default -->
                <fx-setvalue ref="instance()/*[1][@type='main']" value="query()"></fx-setvalue>
            </fx-action>
        </fx-submission>
        <fx-submission
                id="save"
                method="PUT"
                replace="instance">
            <fx-action  event="submit-done">
                <fx-message>Person saved with ID {instance()/@xml:id/string()}</fx-message>
                <fx-dispatch name="authority-created">
                    <fx-property name="ref" expr="instance()/@xml:id/string()"></fx-property>
                </fx-dispatch>
            </fx-action>

            <fx-message event="submit-error">Failed to save data</fx-message>
        </fx-submission>

        <!-- hack til shared instances are working in Fore - accesses value of output in outer fore with stores the 'ref' -->
        <fx-function signature="getRef() as xs:string" type="text/javascript">
            return document.querySelector('fx-instance#i-default').instanceData.querySelector('ref').innerHTML;
        </fx-function>

        <fx-function signature="query() as xs:string" type="text/javascript">
            return document.querySelector('fx-instance#i-default').instanceData.querySelector('query').innerHTML;
        </fx-function>
    </fx-model>

    <!--
    ### Use the header to give the main name of the page plus provide eventual buttons needed
    -->
    <header>
        <h1>Person '{instance('default')/*[1][@type='main']}'</h1>
        <div>
            <fx-trigger>
                <paper-icon-button icon="icons:save" data-i18n="[title]annotations.save"></paper-icon-button>
                <fx-action if="string-length(getRef()) != 0">
                    <fx-send submission="save" url="api/entry/{getRef()}"></fx-send>
                </fx-action>
                <fx-action if="string-length(getRef()) = 0">
                    <fx-send submission="save" url="api/entry/person-NEW"></fx-send>
                </fx-action>
            </fx-trigger>
            <fx-trigger>
                <paper-icon-button id="close-authority" icon="close" data-i18n="[title]annotations.authority">
                    <!-- ### load the authority editor for authority type -->
                </paper-icon-button>
                <fx-confirm message="close this editor?">
                    <fx-dispatch name="hide-authority" target="#document"></fx-dispatch>
                </fx-confirm>
            </fx-trigger>
        </div>
    </header>


    <!-- ### main   -->
    <main>
        <!-- begin section general -->
        <fx-group id="general" ref="instance()" class="col-2">
            <h2>Person ID:
                <fx-output ref="@xml:id"></fx-output>
            </h2>

            <fx-control class="tp-input -form-control" ref="persName[@type='main']">
                <label class="tp-label">Canonical form</label>
                <fx-hint>Joachim Lelewel</fx-hint>
            </fx-control>
            <fx-control class="tp-input -form-control" ref="persName[@type='sort']">
                <label class="tp-label">Sorting form</label>
                <fx-hint>Lelewel, Joachim</fx-hint>
            </fx-control>
            <fx-control class="tp-input -form-control" ref="gender/@value">
                <label class="tp-label">Gender</label>
                <fx-hint>M, F or U</fx-hint>
            </fx-control>
        </fx-group>

        <!-- Basic name forms -->

        <fx-group id="birth" ref="//person/birth" class="col-2">
            <h2>Birth</h2>
            <fx-control class="tp-input -form-control" ref="date/@when">
                <label class="tp-label">Date normalized (YYYY-MM-DD)</label>
                <fx-hint>YYYY-MM-DD</fx-hint>
            </fx-control>
            <fx-control class="tp-input -form-control" ref="date">
                <label class="tp-label">Date descriptive</label>
                <fx-hint>1786-03-22</fx-hint>
            </fx-control>
            <fx-control class="tp-input -form-control" ref="placeName">
                <label class="tp-label">Place of birth</label>
                <fx-hint>Warsaw</fx-hint>
            </fx-control>
        </fx-group>

        <fx-group id="birth" ref="//person/death" class="col-2">
            <h2>Death</h2>
            <fx-control class="tp-input -form-control" ref="date/@when">
                <label class="tp-label">Date normalized (YYYY-MM-DD)</label>
                <fx-hint>YYYY-MM-DD</fx-hint>
            </fx-control>
            <fx-control class="tp-input -form-control" ref="date">
                <label class="tp-label">Date descriptive</label>
                <fx-hint>1786-03-22</fx-hint>
            </fx-control>
            <fx-control class="tp-input -form-control" ref="placeName">
                <label class="tp-label">Place of death</label>
                <fx-hint>Warsaw</fx-hint>
            </fx-control>
        </fx-group>

        <!-- // end section general -->

        <!-- begin section name variants -->
        <fx-group>
            <header>
                Name variants ({count(//persName[@type='variant'])})
                <fx-trigger class="add-button">
                    <!--                        <button>add</button>-->
                    <paper-icon-button icon="icons:add"
                                       data-i18n="[title]annotations.add.authority"></paper-icon-button>
                    <fx-insert
                            context="//person"
                            ref="persName"
                            origin="instance('i-template')//persName[@type='variant']"></fx-insert>
                </fx-trigger>
            </header>

            <fx-repeat id="r-nameVariant" ref="//persName[@type='variant']" class="four-col">
                <template>
                    <fx-control class="tp-input -form-control" ref="forename">
                        <label class="tp-label">First name</label>
                        <fx-hint>Joachim</fx-hint>
                    </fx-control>
                    <fx-control class="tp-input -form-control" ref="surname">
                        <label class="tp-label">Last name</label>
                        <fx-hint>Lelewel</fx-hint>
                    </fx-control>
                    <fx-control class="tp-input -form-control" ref="addname">
                        <label class="tp-label">other</label>
                        <fx-hint>Sir</fx-hint>
                    </fx-control>

                    <fx-trigger>
                        <paper-icon-button id="close-authority" icon="close" data-i18n="[title]annotations.authority" title="delete"></paper-icon-button>
                        <fx-delete ref="."/>
                    </fx-trigger>
                </template>
            </fx-repeat>
        </fx-group>

        <!-- begin section professions -->
        <fx-group>
            <header>
                Professions and roles ({count(//occupation)})
                <fx-trigger class="add-button">
                    <paper-icon-button icon="icons:add" data-i18n="[title]annotations.add.roles"></paper-icon-button>
                    <fx-insert
                            context="//person"
                            ref="name"
                            origin="instance('i-template')//occupation"></fx-insert>
                </fx-trigger>
            </header>

            <fx-repeat id="r-occupation" ref="//occupation" class="two-col">
                <template>
                    <fx-control class="tp-input -form-control" ref=".">
                        <label class="tp-label">Profession</label>
                        <fx-hint>teacher</fx-hint>
                    </fx-control>
                    <fx-trigger>
                        <paper-icon-button icon="close" data-i18n="[title]annotations.authority" title="delete"></paper-icon-button>
                        <fx-delete ref="."/>
                    </fx-trigger>
                </template>
            </fx-repeat>
        </fx-group>
    </main>


    <!--
        <pre>
            {log('default')}
        </pre>
    -->
</fx-fore>

</body>
</html>