<html>
<head>
    <title>TEI Publisher Place Register</title>
    <link rel="stylesheet" type="text/css" href="resources/css/fore.css"/>
    <!--        <link rel="stylesheet" type="text/css" href="style.css"/>-->
    <link rel="stylesheet" type="text/css" href="resources/css/styles.css"/>
    <script type="module" src="./resources/scripts/fore/fore-dev.js"></script>
</head>
<body>
<!--<fx-fore refresh-on-view>-->
<fx-fore>
    <fx-send event="ready" if="instance('parameters')//id" submission="load" url="api/entry/{instance('parameters')//id}"></fx-send>
    <fx-send event="ready" if="not(instance('parameters')//id)" submission="load" url="api/entry/place-NEW"></fx-send>
    <fx-model id="model-1">
        <fx-instance
            id="default"
            src="api/forms/template/place-default"
            xpath-default-namespace="http://www.tei-c.org/ns/1.0"/>

        <fx-instance 
            id="parameters"
            src="#querystring"/>

        <fx-instance
                id="i-template"
                src="api/forms/template/place-template"
                xpath-default-namespace="http://www.tei-c.org/ns/1.0"/>

        <fx-submission 
            id="load"
            url="api/entry/{instance('parameters')//id}"
            method="GET"
            replace="instance">
                <fx-message event="submit-done">Data loaded</fx-message>
        </fx-submission>

        <fx-submission 
            id="save"
            method="PUT"
            replace="instance">
                <fx-action event="submit-done">
                    <fx-message>Data saved</fx-message>
                    <fx-dispatch name="pb-authority-lookup">
                        <fx-property name="type" value="place"/>
                        <fx-property name="query" expr="instance('default')//placeName[@type='main']/string()"/>
                    </fx-dispatch>
                </fx-action>
                
                <fx-message event="submit-error">Failed to save data</fx-message>
        </fx-submission>
    </fx-model>

    <header>
        <h1>Place</h1>
        <div>
            <fx-trigger>
                <paper-icon-button icon="icons:save" data-i18n="[title]annotations.save"></paper-icon-button>
                <fx-action>
                    <fx-send submission="save" if="instance('parameters')//id"
                             url="api/entry/{instance('parameters')//id}"/>
                    <fx-send submission="save" if="not(instance('parameters')//id)" url="api/entry/person-NEW"/>
                </fx-action>
            </fx-trigger>
            <fx-trigger>
                <paper-icon-button id="close-authority" icon="close" data-i18n="[title]annotations.authority"></paper-icon-button>
                <fx-dispatch name="hide-authority" target="#document"></fx-dispatch>
            </fx-trigger>
        </div>
    </header>

    <main>
        <!-- begin section general -->
        <!-- Basic name forms -->
        <fx-group id="general" ref="//place" class="col-2">
            <h3>Place ID</h3>
            <fx-output ref="@xml:id"></fx-output>
            <fx-control class="tp-input -form-control" ref="placeName[@type='main']">
                <label class="tp-label">Canonical form</label>
                <fx-hint>Kraków</fx-hint>
            </fx-control>
            <fx-control class="tp-input -form-control" ref="placeName[@type='sort']">
                <label class="tp-label">Sorting form</label>
                <fx-hint>Krakow</fx-hint>
            </fx-control>
        </fx-group>

                

        <!-- // end section general -->

        <!-- begin section name variants -->
        <fx-group>
            <header>Name variants ({count(//placeName[@type='variant'])})
                <fx-trigger class="add-button">
                    <paper-icon-button icon="icons:add" data-i18n="[title]annotations.add.roles"></paper-icon-button>
                    <fx-insert
                            context="//place"
                            ref="placeName"
                            origin="instance('i-template')//placeName[@type='variant']"></fx-insert>
                </fx-trigger>
            </header>
            <fx-repeat id="r-nameVariant" ref="//placeName[@type='variant']" class="two-col">
                <template>
                    <fx-control  class="tp-input -form-control" ref=".">
                        <label class="tp-label">Name</label>
                        <fx-hint>Cracow</fx-hint>
                    </fx-control>
                    <fx-trigger>
                        <paper-icon-button icon="close" data-i18n="[title]annotations.authority" title="delete"></paper-icon-button>
                        <fx-delete ref="."/>
                    </fx-trigger>
                </template>
            </fx-repeat>
        </fx-group>
        <!-- // end section name variants -->
        <fx-group>
            <header>Location</header>
            <fx-control  class="tp-input -form-control" ref="//location/geo">
                <label class="tp-label">Latitude and longitude</label>
                <fx-hint></fx-hint>
            </fx-control>
            <fx-control  class="tp-input -form-control" ref="//country">
                <label class="tp-label">Country</label>
                <fx-hint>Cracow</fx-hint>
            </fx-control>
            <fx-control  class="tp-input -form-control" ref="//region">
                <label class="tp-label">Region</label>
                <fx-hint>małopolska</fx-hint>
            </fx-control>
        </fx-group>
    </main>

</fx-fore>

</body>
</html>